In [29]:
import json
import requests
import re,string,timeit
import time
import pandas as pd
import os
from dotenv import load_dotenv
import numpy as np

Setup your parameters
Request URL
https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/Castle%20Hill/2154?propertyCategory=house&bedrooms=3&periodSize=quarters&startingPeriodRelativeToCurrent=40&totalPeriods=40

Provide your client credentials as per your Domain developer account.

Required: client_id and client_secret

Make a POST request to receive token.

In [33]:
client_id = 'client_405e33d0d19197c377851f252dbfa5ff' 
client_secret = 'secret_461901bea416e4731f15dc40467ff8e8'

In [34]:
# load_dotenv()
# client_id =os.getenv("domain_client_id")
# client_secret = os.getenv("domain_client_oauth_secret")

In [35]:
print(client_secret)

secret_461901bea416e4731f15dc40467ff8e8

In [36]:
#to authenticate client credentials
# Make a POST request to the https://auth.domain.com.au/v2/connect/token endpoint using your client_id and client_secret, along with the list of scopes that you require. 
auth_url2 = 'https://auth.domain.com.au/v1/connect/token'

In [37]:

# https://developer.domain.com.au/docs/v2/apis/pkg_properties_locations/references/suburbperformance_get_bynamedsuburb
# GET /v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}

In [38]:
#Scope and Permissions
#The following scopes may be used when calling this endpoint
#https://developer.domain.com.au/docs/v1/apis/pkg_properties_locations/references/properties_get:

scopes = ['api_suburbperformance_read']

In [40]:
url_endpoint2 = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/'

#to define suburb details example for 1 suburb only
state='NSW'
suburb="Chatswood"
postcode='2067'
# property_category = 'house'
period_size = 'quarters'
period_length = 40
total_periods= 40
url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}/'


# url_detailed = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/{}/{}/{}?propertyCategory={}&bedrooms={}&periodSize={}&startingPeriodRelativeToCurrent={}&totalPeriods={}'.format(state,suburb,postcode,propertyCategory,bedrooms,periodSize,startingPeriodRelativeToCurrent,totalPeriods)

In [41]:

df=pd.read_csv("./Resources/nsw_data.csv",index_col="Suburb")

In [42]:
df

                           Postcode
Suburb
Sydney                         1001
Sydney                         1002
Sydney                         1003
Sydney                         1004
Sydney                         1005
Sydney                         1006
Sydney                         1007
Sydney                         1008
Sydney                         1009
Sydney                         1010
Sydney                         1020
Sydney                         1021
Sydney                         1022
Sydney                         1023
Sydney                         1025
Sydney                         1026
Sydney                         1027
Sydney                         1028
Sydney                         1029
Sydney                         1030
Sydney                         1031
Sydney                         1032
Sydney                         1033
Sydney                         1034
Sydney                         1035
Sydney                         1036
Sydney                         1037
Sydney                         1038
Sydney                         1039
Sydney                         1040
...                             ...
Little Topar                   2880
Mount Gipps                    2880
Silverton                      2880
Stephens Creek                 2880
Tibooburra                     2880
Australian Defence Forces      2890
Sydney Gateway Facility        2891
Lord Howe Island               2898
Norfolk Island                 2899
Bulga                          3586
Mallan                         3586
Murrawee                       3586
Murraydale                     3586
Pental Island                  3586
Tyntynder                      3586
Tyntynder South                3586
Ultima East                    3586
Barooga                        3644
Cobram                         3644
Cobram East                    3644
Koonoomoo                      3644
Muckatah                       3644
Yarroweyah                     3644
Biggara                        3707
Bringenbrong                   3707
Colac Colac                    3707
Corryong                       3707
Thowgla Valley                 3707
Towong                         3707
Towong Upper                   3707

[5010 rows x 1 columns]

In [43]:
mask1=df['Postcode']>1999
list_suburbs=df[mask1]
list_suburbs=list_suburbs.loc[np.random.choice(list_suburbs.index,100,replace=False)]
list_suburbs=list_suburbs.to_dict()["Postcode"]
list_suburbs
# len(list_suburbs)

{'Huntingwood': 2148,
 'Bungonia': 2580,
 'Horsley Park': 2175,
 'Murrami': 2705,
 'Frederickton': 2440,
 'Primrose Valley': 2621,
 'Merewether': 2291,
 'Brenda': 2831,
 'Moonee Beach': 2450,
 'Alexandria': 2015,
 'Kundle Kundle': 2430,
 'South Gundurimba': 2480,
 'Georges Creek': 2440,
 'Clover Park': 2469,
 'Doyalson': 2262,
 'Fairfield West': 2165,
 'Chilcotts Grass': 2480,
 'Bland': 2721,
 'Sapphire': 2360,
 'Dorrigo North': 2453,
 'Wallaga Lake Heights': 2546,
 'Pooncarie': 2648,
 'Blair Athol': 2560,
 'The Scrub': 2372,
 'Bathurst': 2795,
 'Bay Village': 2261,
 'Allambie Heights': 2100,
 'Steinbrook': 2372,
 'Commissioners Waters': 2350,
 'Urangeline East': 2656,
 'Bungulla': 2372,
 'Mount Wilson': 2786,
 'Kingscliff': 2487,
 'Murrumburrah': 2587,
 'Nulkaba': 2325,
 'Yagoona': 2199,
 'Marsfield': 2122,
 'Swanbrook': 2360,
 'Edgeworth': 2285,
 'Teven': 2478,
 'Lowesdale': 2646,
 'Grassy Head': 2441,
 'Pyangle': 2849,
 'Jones Creek': 2722,
 'Box Hill': 2765,
 'Thredbo': 2625,
 'Wean': 2382,
 'Woolooma': 2337,
 'Canonba': 2825,
 'Indi': 2642,
 'Wiaborough': 2580,
 'Mascot': 2020,
 'Hillston': 2675,
 'Coila': 2537,
 'Eumungerie': 2831,
 'Waterloo': 2017,
 'Wambool': 2795,
 'Holbrook': 2644,
 'Forest Grove': 2795,
 'Quakers Hill': 2763,
 'Shortland': 2307,
 'The Grove': 2729,
 'Bowman Farm': 2422,
 'Bulahdelah': 2423,
 'Cambewarra': 2540,
 'Arkstone': 2795,
 'Towong Upper': 3707,
 'Carrabolla': 2311,
 'Upper Coopers Creek': 2480,
 'Brooklands': 2583,
 'Ladysmith': 2652,
 'Speewa Island': 2734,
 'Carcalgong': 2850,
 'Martins Creek': 2420,
 'Silverwater': 2264,
 'Quidong': 2632,
 'Worrowing Heights': 2540,
 'Maroota': 2756,
 'Fords Bridge': 2840,
 'Bundella': 2343,
 'South Maitland': 2320,
 'Euabalong West': 2877,
 'Nundle': 2340,
 'Woy Woy': 2256,
 'Mount Mcdonald': 2793,
 'Sun Valley': 2777,
 'Long Reef': 2097,
 'Glen Ayr': 2850,
 'Brighton-le-sands': 2216,
 'Ironbark': 2347,
 'Quandary': 2666,
 'Beilpajah': 2878,
 'Yannergee': 2343,
 'Bigga': 2583,
 'Budden': 2849,
 'Bungwahl': 2423,
 'Cooma North': 2630,
 'Ournie': 2640,
 'Back Creek': 2729,
 'Bombo': 2533}

In [44]:
final_list_suburbs = []

In [45]:
#housing data with bedrooms, houseCategories, timeperiods length
def get_property_info(suburb,postcode):
    response = requests.post(auth_url2,
        data = {
        'client_id':client_id,
        'client_secret':client_secret,
        'grant_type':'client_credentials',
        'scope': scopes,
        'Content-Type':'text/json'}
        )
    json_res = response.json()
    access_token=json_res["access_token"]
    print(access_token)
    auth = {'Authorization':'Bearer '+access_token}
    
    url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/{suburb}/{postcode}/?totalPeriods=40'



    res2 = requests.get(url_detailed,headers = auth)
    r2=res2.json()
    json_object =json.dumps(r2,indent=4)
    json.dumps(r2,indent=4)
        
        

    
    if "header"  in json.loads(json_object).keys(): 

        with open("./resources/{}_{}.json".format(postcode,suburb),"w") as outfile:
            outfile.write(json_object)
        
        
    else:

        print('Failure in',suburb, postcode,e,access_token)

In [46]:
#  final_list_suburbs.append(suburb)
for suburb,postcode in list_suburbs.items():
    try:
        get_property_info(suburb,postcode)
        print('Success', suburb, postcode)
        final_list_suburbs.append(suburb)

    except Exception as e:
       
        print('Failure in',suburb, postcode,e)
        pass

0f32eec1e300743299043f71331fe9eb
Success Huntingwood 2148
66ed90df7ecd87e695f9e049177131ad
Success Bungonia 2580
56d5d944ac7f071bfc798bb9638f452b
Success Horsley Park 2175
140c590f33fb93b2ccc28d4df6569976
Success Murrami 2705
0605226e8b469c7b02148a01897c725d
Success Frederickton 2440
d5f1990b8b877dcd7d3515683bc48c4a
Success Primrose Valley 2621
e85a9460d005ab514d37da5e4790b6b0
Success Merewether 2291
a7a4964bd41aa9a1f3779abd726cff9b
Failure in Brenda 2831 Expecting value: line 1 column 1 (char 0)
30b573feb5c4287508df2cf503fa83f0
Success Moonee Beach 2450
a73c1262544c506e5775ff252051d48d
Success Alexandria 2015
5fa7a5f3312dfc82db4206ed56c65c1b
Success Kundle Kundle 2430
cfdf5f3b0170632b6c78abe612f40f86
Success South Gundurimba 2480
80273fdee3c3618ecef498dd913a3db9
Failure in Georges Creek 2440 Expecting value: line 1 column 1 (char 0)
a22c6983c6885008a49194a8d4cb9f2a
Failure in Clover Park 2469 Expecting value: line 1 column 1 (char 0)
a0887c40094281e821089b2969b58ef7
Success Doyalson 2262
3c69cf349e9c5be1b04881dc5b60bcf0
Success Fairfield West 2165
bdf681fc09c43eef2db3e438c18b1f38
Success Chilcotts Grass 2480
a32730a176aa67497e7cc7dbf6a7e35e
Success Bland 2721
97e5cac9d336d1e81395efe049f3c8f2
Success Sapphire 2360
3ace969e581742a216ebefa2989be721
Failure in Dorrigo North 2453 Expecting value: line 1 column 1 (char 0)
161261f70afa72cb775f2608156d41be
Failure in Wallaga Lake Heights 2546 Expecting value: line 1 column 1 (char 0)
a675140628bb5d96df9f079c617f6840
Success Pooncarie 2648
ec6f1fca726e7ed203bbf4c6b16d6fe3
Success Blair Athol 2560
143d78ff35cd5a8fc832b0eb00945e10
Failure in The Scrub 2372 Expecting value: line 1 column 1 (char 0)
0acbc49b8326e4e8623c201771b9cfc1
Success Bathurst 2795
83e61399a30385ad0e7d42ada2b476e7
Failure in Bay Village 2261 Expecting value: line 1 column 1 (char 0)
0f7dfdeda90fc4f0d269b5ceeed494aa
Success Allambie Heights 2100
2be3abe81abd6e42358e845bb9145122
Failure in Steinbrook 2372 Expecting value: line 1 column 1 (char 0)
145aa4cb3ffe789e670c9cb03bc1feaa
Failure in Commissioners Waters 2350 Expecting value: line 1 column 1 (char 0)
f354dfe7a456ff8320297c1b4de4eeb1
Success Urangeline East 2656
f462862298e891de0bd885a77372faef
Failure in Bungulla 2372 Expecting value: line 1 column 1 (char 0)
d0160368d41e1102e14871add755806e
Success Mount Wilson 2786
c8841a209ba78ed2aebccef2bcfafaee
Success Kingscliff 2487
53f2282ce99f0c70a17d614289d5a638
Success Murrumburrah 2587
027a927d0b19afdeb676b89fc8ee9bed
Success Nulkaba 2325
90d6c5e3114bdfef6a55f79eb105590e
Success Yagoona 2199
e7e87374fa97006680a9067d804db4ea
Success Marsfield 2122
243d03407b612048a098d865bb899b9f
Success Swanbrook 2360
73512c8d0d9a1fb0384e0280386adfe8
Success Edgeworth 2285
2f0cbb3e76f01c7a5f0d66831f3e1418
Success Teven 2478
ee7b7dac629d6ca93e07d7127a16371c
Success Lowesdale 2646
99761670373e6ca0d002b45ec585f499
Success Grassy Head 2441
5cdc1f751fbf7cd919e8b2e955ac89d5
Success Pyangle 2849
8d744ed46edc4030a6c64e72eefa1fd2
Failure in Jones Creek 2722 Expecting value: line 1 column 1 (char 0)
3246123567a88e7e5c6db1a6e06141a4
Success Box Hill 2765
6de1ac6c96b50b61a4053c2213c34a29
Success Thredbo 2625
350d1e10ba047be961b01d9d788db438
Success Wean 2382
e40a04bd49bbf3f98ad7420fc99840b7
Success Woolooma 2337
2f02f177c83f44923a9d195e5b3bfbe5
Success Canonba 2825
e3fb0674f79571bc6f7525ae07eb64be
Success Indi 2642
4994045ba8912897f5004db3433af8f4
Failure in Wiaborough 2580 Expecting value: line 1 column 1 (char 0)
8bf55e412777a124cd9ec5a23257ba4a
Success Mascot 2020
91762202b4e0ca78339e2d384601bc8f
Success Hillston 2675
a63a0ceee380c5f47bb150cfca96a22c
Success Coila 2537
872d3b3fc0a86de51ad1f820d8c65bb1
Failure in Eumungerie 2831 Expecting value: line 1 column 1 (char 0)
962924d313fd7fd23d83eb376b38e1e4
Success Waterloo 2017
c02f5c5cbcfa035758a6f8a6958bf07f
Success Wambool 2795
a7529110330ac2a4d8112874bade7eae
Success Holbrook 2644
50c4c6378437279bfae2b88e8b884cf2
Success Forest Grove 2795
1572e1dbb74ae7e21a4f247ab347d16c
Success Quakers Hill 2763
0bbc910ff8559e97777713172091b53d
Success Shortland 2307
58f0e343f221cbebfcba3aa3112530d7
Failure in The Grove 2729 Expecting value: line 1 column 1 (char 0)
69338e23b3ea519555868cc2435f836e
Success Bowman Farm 2422
610a246c9c5846a04ba405afacc8dce5
Success Bulahdelah 2423
ec2dccc399688935c78c4c52275bbf52
Success Cambewarra 2540
3662ab69af06bf31c45b8e939b66457f
Success Arkstone 2795
3aecb0e52b2c4b8869a32bbd37099a64
Failure in Towong Upper 3707 Expecting value: line 1 column 1 (char 0)
68ae5b030e64c31376c99e4b08638bdb
Success Carrabolla 2311
7ff206481d6c6661d3bf058d98e2dd0a
Failure in Upper Coopers Creek 2480 Expecting value: line 1 column 1 (char 0)
3ed6b62a4366752a877293bd31ab53d8
Failure in Brooklands 2583 Expecting value: line 1 column 1 (char 0)
e0a05f1fa6d84c1d53bbd79731641916
Success Ladysmith 2652
b490e8cd322da4e29735016eb615a5be
Failure in Speewa Island 2734 Expecting value: line 1 column 1 (char 0)
1fae07daaa63878462fd042e5bfa5ce1
Success Carcalgong 2850
e5e9b6cbe94c75ac90a75ebf9ad31df9
Success Martins Creek 2420
bba1df67906608f1ae9d3f4741e7cb7a
Success Silverwater 2264
6c86578a9fa8806bd7a044a8a61afdcd
Success Quidong 2632
1e2446788f2090c0bc2a24822479f9ff
Success Worrowing Heights 2540
7a97bae14cd945c815ba0d3418892ab5
Success Maroota 2756
9a088ccbf4e19df665f3a51fd438adf0
Success Fords Bridge 2840
b61f18ce5f27b4c7e4203870fdca7a7d
Success Bundella 2343
94a0c0ee0cd2ea8de4fc3aa04af8adea
Success South Maitland 2320
6da4e7bdab7e9f121cdf17271b1014cf
Success Euabalong West 2877
543b0231520ace8cab88ec1314f62c6a
Success Nundle 2340
f11aacb5b8122c1279259561cb5dcfbd
Success Woy Woy 2256
b8910745db5dd0f74b9cde9129d13370
Failure in Mount Mcdonald 2793 Expecting value: line 1 column 1 (char 0)
d8eb7ffba8d42f15a785119a1fc09bb6
Success Sun Valley 2777
775bd14bd086d2dba486436f2837c266
Failure in Long Reef 2097 Expecting value: line 1 column 1 (char 0)
d3e1f3f800a8da6f126aa53202207bcc
Failure in Glen Ayr 2850 Expecting value: line 1 column 1 (char 0)
306ab7ed224550e522ce110a654c18fa
Success Brighton-le-sands 2216
aefe9cac83ab0d3c9add44d69f60ad5f
Success Ironbark 2347
4ba73e7a318950208a2c8cefb23e9ce8
Failure in Quandary 2666 Expecting value: line 1 column 1 (char 0)
a6df3c945052d65cfa0d5ebe5c365588
Failure in Beilpajah 2878 Expecting value: line 1 column 1 (char 0)
52701ea823b9e19282f59365cba7db50
Success Yannergee 2343
5aca4121d600cda223876725fc2c4186
Success Bigga 2583
11c67ea9a5b0bcc09499d2aad53644da
Success Budden 2849
fd4334376f11b679c47dd04db7dc055c
Success Bungwahl 2423
5b1a0916715f872ba164b240dcac3f79
Failure in Cooma North 2630 Expecting value: line 1 column 1 (char 0)
8b0fb0d82724a0d7ba931abc3b67929e
Success Ournie 2640
8da8ba81bad02de834b1f4a1d620e7a5
Failure in Back Creek 2729 Expecting value: line 1 column 1 (char 0)
2cd9aebba5e479799c990d187a640e3d
Success Bombo 2533

In [47]:
len(final_list_suburbs)

75

In [48]:
#to open json file saved in previous step & convert to dataframe & combine all dataframe into a master dataframe
df = pd.DataFrame()
frames= []
for suburb in final_list_suburbs: 
    with open("./resources/{}_{}.json".format(list_suburbs[suburb],suburb),"r") as sub_housing_data:
        sub_housing_data=json.load(sub_housing_data)
        suburb_name=sub_housing_data['header']['suburb']
        
    for x in range (40):
        
        headers_dict1=sub_housing_data['series']['seriesInfo'][x]['values']
        headers_dict1["year"]=sub_housing_data['series']['seriesInfo'][x]["year"]
        headers_dict1["month"]=sub_housing_data['series']['seriesInfo'][x]["month"]
        sub_df1 = pd.DataFrame(headers_dict1.values(),index=headers_dict1.keys(),columns=[suburb_name]).T
      
        sub_df1 = sub_df1.reset_index().drop(columns=["auctionNumberWithdrawn","daysOnMarket","discountPercentage",
                                                      "5thPercentileSoldPrice","25thPercentileSoldPrice",
                                                      "75thPercentileSoldPrice","95thPercentileSoldPrice",
                                                      "numberRentListing","highestRentListingPrice","lowestRentListingPrice"]).rename(columns={"index":"suburb"})
        frames.append(sub_df1)
df = pd.concat(frames)

In [49]:
df.head(10)

,suburb,medianSoldPrice,numberSold,highestSoldPrice,lowestSoldPrice,medianSaleListingPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice,year,month
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,9.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,12.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,3.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2012.0,6.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,1.0,5500000.0,5500000.0,1.0,NaN,NaN,2012.0,9.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,12.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,3.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,6.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,9.0
0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,12.0

In [50]:
df.columns

Index(['suburb', 'medianSoldPrice', 'numberSold', 'highestSoldPrice',
       'lowestSoldPrice', 'medianSaleListingPrice', 'numberSaleListing',
       'highestSaleListingPrice', 'lowestSaleListingPrice',
       'auctionNumberAuctioned', 'auctionNumberSold', 'medianRentListingPrice',
       'year', 'month'],
      dtype='object')

In [51]:
df = df[['year', 'month','suburb', 'medianSoldPrice', 'numberSold', 'highestSoldPrice',
       'lowestSoldPrice', 'medianSaleListingPrice', 'numberSaleListing',
       'highestSaleListingPrice', 'lowestSaleListingPrice',
       'auctionNumberAuctioned', 'auctionNumberSold', 'medianRentListingPrice',
       ]]

In [52]:
df.sample(10)

,year,month,suburb,medianSoldPrice,numberSold,highestSoldPrice,lowestSoldPrice,medianSaleListingPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice
0,2019.0,6.0,Kingscliff,923000.0,36.0,2625000.0,265000.0,840000.0,94.0,3395000.0,10000.0,7.0,2.0,723.0
0,2012.0,12.0,Yagoona,518000.0,53.0,728000.0,364000.0,504000.0,87.0,1380000.0,159000.0,31.0,21.0,430.0
0,2018.0,9.0,South Gundurimba,NaN,1.0,560000.0,560000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2020.0,9.0,Quakers Hill,798000.0,107.0,1227000.0,481000.0,755000.0,181.0,1400000.0,413000.0,3.0,2.0,460.0
0,2020.0,3.0,Budden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2021.0,3.0,Doyalson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2020.0,6.0,Martins Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2017.0,9.0,Bowman Farm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2016.0,12.0,Frederickton,NaN,1.0,450000.0,450000.0,NaN,4.0,450000.0,349000.0,NaN,NaN,NaN
0,2020.0,3.0,Box Hill,511000.0,78.0,3040000.0,415000.0,776000.0,656.0,45000000.0,15000.0,NaN,NaN,570.0

In [53]:
df.to_csv('data_25082021_3.csv',index=False)