In [1]:
import json
import requests
import re,string,timeit
import time
import pandas as pd
import os
from dotenv import load_dotenv
import numpy as np

Setup your parameters
Request URL
https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/Castle%20Hill/2154?propertyCategory=house&bedrooms=3&periodSize=quarters&startingPeriodRelativeToCurrent=40&totalPeriods=40

Provide your client credentials as per your Domain developer account.

Required: client_id and client_secret

Make a POST request to receive token.

In [2]:
load_dotenv()
client_id =os.getenv("domain_client_id")
client_secret = os.getenv("domain_client_oauth_secrets")

In [3]:
#to authenticate client credentials
# Make a POST request to the https://auth.domain.com.au/v2/connect/token endpoint using your client_id and client_secret, along with the list of scopes that you require. 
auth_url2 = 'https://auth.domain.com.au/v1/connect/token'

In [4]:

# https://developer.domain.com.au/docs/v2/apis/pkg_properties_locations/references/suburbperformance_get_bynamedsuburb
# GET /v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}

In [5]:
#Scope and Permissions
#The following scopes may be used when calling this endpoint
#https://developer.domain.com.au/docs/v1/apis/pkg_properties_locations/references/properties_get:

scopes = ['api_suburbperformance_read']

In [6]:
url_endpoint2 = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/'

In [ ]:
# TEST API : to define suburb details example for 1 suburb only ( this suburb has been tested on livebrowser)
# state='NSW'
# suburb="Chatswood"
# postcode='2067'
# # property_category = 'house'
# period_size = 'quarters'
# period_length = 40
# total_periods= 40
# url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}/'


# url_detailed = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/{}/{}/{}?propertyCategory={}&bedrooms={}&periodSize={}&startingPeriodRelativeToCurrent={}&totalPeriods={}'.format(state,suburb,postcode,propertyCategory,bedrooms,periodSize,startingPeriodRelativeToCurrent,totalPeriods)

In [7]:

df=pd.read_csv("./Resources/nsw_data.csv",index_col="Suburb")

In [8]:
df

                           Postcode
Suburb
Sydney                         1001
Sydney                         1002
Sydney                         1003
Sydney                         1004
Sydney                         1005
Sydney                         1006
Sydney                         1007
Sydney                         1008
Sydney                         1009
Sydney                         1010
Sydney                         1020
Sydney                         1021
Sydney                         1022
Sydney                         1023
Sydney                         1025
Sydney                         1026
Sydney                         1027
Sydney                         1028
Sydney                         1029
Sydney                         1030
Sydney                         1031
Sydney                         1032
Sydney                         1033
Sydney                         1034
Sydney                         1035
Sydney                         1036
Sydney                         1037
Sydney                         1038
Sydney                         1039
Sydney                         1040
...                             ...
Little Topar                   2880
Mount Gipps                    2880
Silverton                      2880
Stephens Creek                 2880
Tibooburra                     2880
Australian Defence Forces      2890
Sydney Gateway Facility        2891
Lord Howe Island               2898
Norfolk Island                 2899
Bulga                          3586
Mallan                         3586
Murrawee                       3586
Murraydale                     3586
Pental Island                  3586
Tyntynder                      3586
Tyntynder South                3586
Ultima East                    3586
Barooga                        3644
Cobram                         3644
Cobram East                    3644
Koonoomoo                      3644
Muckatah                       3644
Yarroweyah                     3644
Biggara                        3707
Bringenbrong                   3707
Colac Colac                    3707
Corryong                       3707
Thowgla Valley                 3707
Towong                         3707
Towong Upper                   3707

[5010 rows x 1 columns]

In [9]:
#select suburbs starts from 2000 Sydney to eliminate postcodes in our df which are PO BOX
mask1=df['Postcode']>1999
list_suburbs=df[mask1]
# We, humans are biased, so let the Algorithm make the choice
list_suburbs=list_suburbs.loc[np.random.choice(list_suburbs.index,100,replace=False)]
list_suburbs=list_suburbs.to_dict()["Postcode"]
list_suburbs
# len(list_suburbs)

{'Hydes Creek': 2454,
 'Gillieston Heights': 2321,
 'Point Piper': 2027,
 'Yarra': 2580,
 'Telegraph Point': 2441,
 'Paxton': 2325,
 'Wiaborough': 2580,
 'Coolah': 2843,
 'Mortdale': 2223,
 'Fitzgeralds Valley': 2795,
 'Aldavilla': 2440,
 'Broadway': 2581,
 'Pleasant Hills': 2658,
 'Queanbeyan East': 2620,
 'Warringah Mall': 2100,
 'Brungle Creek': 2722,
 'Caloola': 2795,
 'Wimbledon': 2795,
 'Bendemeer': 2355,
 'Plumpton': 2761,
 'Possum Creek': 2479,
 'Forest Grove': 2795,
 'Salisbury': 2420,
 'Eastern Suburbs Mc': 2004,
 'Manly Vale': 2093,
 'Tullera': 2480,
 'Mount Hutton': 2290,
 'Dicks Hill': 2443,
 'Penrose': 2579,
 'Dawes Point': 2000,
 'Brewongle': 2795,
 'Wamoon': 2705,
 'Cooperabung': 2441,
 'Coocooboonah': 2380,
 'Canbelego': 2835,
 'Moonbria': 2710,
 'Yetholme': 2795,
 'Lemington': 2330,
 'Mount Mcdonald': 2793,
 'Bow Bowing': 2566,
 'Yarravel': 2440,
 'Badgerys Creek': 2555,
 'Campbelltown': 2560,
 'Cudgel': 2700,
 'Berrambool': 2548,
 'Bungabbee': 2480,
 'Koraleigh': 2735,
 'Cromer': 2099,
 'St Andrews': 2566,
 'Taylor Square': 2010,
 'Chinnock': 2550,
 'Crestwood': 2620,
 'Paling Yards': 2795,
 'Dumaresq': 2350,
 'Mcleans Ridges': 2480,
 'Timbumburi': 2340,
 'Black Head': 2430,
 'Baryulgil': 2460,
 'Wiley Park': 2195,
 'Iona': 2321,
 'Parliament House': 2000,
 'Hmas Waterhen': 2060,
 'Bannister': 2580,
 'Coombadjha': 2460,
 'Bulgary': 2650,
 'Cobar': 2835,
 'Warnecliffe': 2866,
 'Rappville': 2469,
 'Banoon': 2347,
 'Brookvale': 2100,
 'Salt Ash': 2318,
 'Mount Arthur': 2820,
 'Third Creek': 2583,
 'Boronia Park': 2111,
 'Kings Point': 2539,
 'Sutton Forest': 2577,
 'Macmasters Beach': 2251,
 'Towrang': 2580,
 'Eugowra': 2806,
 'Hat Head': 2440,
 'Clydesdale': 2330,
 'Holts Flat': 2631,
 'Logans Crossing': 2439,
 'Gulmarrad': 2463,
 'Titaatee Creek': 2422,
 'Sebastopol': 2666,
 'Booral': 2425,
 'Willmot': 2770,
 'Paynters Siding': 2700,
 'Larras Lee': 2866,
 'Amaroo': 2866,
 'Cudgegong': 2850,
 'Wallalong': 2320,
 'Mallowa': 2400,
 'Baraimal': 2470,
 'Burrandana': 2650,
 'Gouldsville': 2330,
 'Warners Bay': 2282,
 'Stroud Road': 2415,
 'Duri': 2344}

In [10]:
final_list_suburbs = []

In [22]:
#housing data with bedrooms, houseCategories, timeperiods length
def get_property_info(suburb,postcode):
    response = requests.post(auth_url2,
        data = {
        'client_id':client_id,
        'client_secret':client_secret,
        'grant_type':'client_credentials',
        'scope': scopes,
        'Content-Type':'text/json'}
        )
    json_res = response.json()
    access_token=json_res["access_token"]
    print(access_token)
    auth = {'Authorization':'Bearer '+access_token}
    
    url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/{suburb}/{postcode}/?totalPeriods=40'

    res2 = requests.get(url_detailed,headers = auth)
    r2=res2.json()
    json_object =json.dumps(r2,indent=4)
    json.dumps(r2,indent=4)
            
    if "header"  in json.loads(json_object).keys(): 

        with open("./resources/{}_{}.json".format(postcode,suburb),"w") as outfile:
            outfile.write(json_object)   
    else:

        print('Failure in',suburb, postcode,e,access_token)

In [24]:
#  final_list_suburbs.append(suburb)
for suburb,postcode in list_suburbs.items():
    try:
        get_property_info(suburb,postcode)
        print('Success', suburb, postcode)
        final_list_suburbs.append(suburb)

    except Exception as e:
       
        print('Failure in',suburb, postcode,e)
        pass

a876ac6a8bea095e6616a406151fa112
Success Hydes Creek 2454
ed8353605509384b09fdbac21b3270be
Success Gillieston Heights 2321
5b0b47f3861a721ec2df8d432aeac68b
Success Point Piper 2027
c4205942fe04029e5ea95e5ec4bfc914
Success Yarra 2580
42f47a93da2de6892c078d92eb235f3e
Success Telegraph Point 2441
ff61a87117dc0e352b4c48a0cf0babbd
Success Paxton 2325
740ee4546ccfd230915a00e0362180e2
Failure in Wiaborough 2580 Expecting value: line 1 column 1 (char 0)
79db0f3000849f1af2d46fa4338f31c7
Success Coolah 2843
6cad7322a48c6e1f0d5b1d0595384bb9
Success Mortdale 2223
e075966a8d8355d5dfa2d46d352b9e6a
Success Fitzgeralds Valley 2795
17953361ec373fb2d96a710a093c8fb0
Success Aldavilla 2440
7058bc1f75f3fc81206817e070e77536
Success Broadway 2581
1ef2dbca6652b83722f80ddb27d33e6b
Success Pleasant Hills 2658
776503b08940b7db34a15698e8c2d744
Success Queanbeyan East 2620
079776fef8fa1b1c6a5842632e33ca2f
Failure in Warringah Mall 2100 Expecting value: line 1 column 1 (char 0)
5dbbae7d3d350237413abeab50ac443c
Success Brungle Creek 2722
ec25d95dca272059195f28c746946f97
Success Caloola 2795
ee587c463cbcfce58c46c1ea4c9170dd
Success Wimbledon 2795
8bd275c58bfeb70fcd10fe883e6a6b1c
Success Bendemeer 2355
872d2454ad6f1885ea2f96be5c19d57d
Success Plumpton 2761
b9c5e6c7cfe4c65b14ed87659cdf99cb
Success Possum Creek 2479
02bbb2fac1a64e562d4e7cbbc1677c83
Success Forest Grove 2795
c7f513d05d2fb663de38f34b3aa4c0cc
Success Salisbury 2420
b6530e27f1a6988f6e55f9e742bf887c
Failure in Eastern Suburbs Mc 2004 Expecting value: line 1 column 1 (char 0)
89940d9661bffaaf2bd4308d17fff218
Success Manly Vale 2093
37060f6fbd5b8e115f46f6cced8541b3
Success Tullera 2480
54aad40a097a3675667b1e564b990824
Success Mount Hutton 2290
5164cad1f3bbf5b6deeb79a11c7c546e
Failure in Dicks Hill 2443 Expecting value: line 1 column 1 (char 0)
1a1f04e9351cae144eb1cd52661dfd79
Success Penrose 2579
c4c7d20daec3e8563c505ec03f12778f
Success Dawes Point 2000
b9593a4bbef191de3ca430299a68b300
Success Brewongle 2795
762bd1b15d7cdf87f5e5195c153936f2
Failure in Wamoon 2705 Expecting value: line 1 column 1 (char 0)
a008f334e71d0a038abab24aecaa0d34
Success Cooperabung 2441
9dc6adf8355e3295f30acc76135764c6
Failure in Coocooboonah 2380 Expecting value: line 1 column 1 (char 0)
f1551f0c8e48dd4f41275382c13e5f0a
Success Canbelego 2835
6b537ab5884b36cd29feab53cc1efc7c
Success Moonbria 2710
d2c6c75f9ef0cbdf83d4748c9711b782
Success Yetholme 2795
c81a342ce41cd38d87edd595b4a5adbb
Success Lemington 2330
80b99d7571e2d0dfe8c40c7f856e3c7c
Failure in Mount Mcdonald 2793 Expecting value: line 1 column 1 (char 0)
0d0d8b80e87158265675cd3df07182b4
Success Bow Bowing 2566
0069d9fb5619a987dc129d32ce0d9bde
Success Yarravel 2440
164daad22aa38a548bf085297f33c952
Success Badgerys Creek 2555
10692881bc75ddded91557aa7d75e34f
Success Campbelltown 2560
a123970ca2c5e3a9ff20d242914ed8ed
Success Cudgel 2700
ba2734b73ce250a6519dc81eb819d086
Success Berrambool 2548
6e6605daed12f40272379b234c6d3044
Success Bungabbee 2480
37fed42eb98486a6825b57723abdaeaf
Success Koraleigh 2735
8d56efded90d01c7435909e2e0e96f7f
Success Cromer 2099
266515ce6f45e1f4b00bbd8e1710f433
Success St Andrews 2566
42d0fe00112c98b34bdf1766ec6036c4
Failure in Taylor Square 2010 Expecting value: line 1 column 1 (char 0)
5eaf760b28184db41014dac0d9033d4f
Success Chinnock 2550
0c056b49fc77ab526c2bf1d4fd3b4c00
Success Crestwood 2620
00c37932e0a4c620b62b1eab3fead550
Success Paling Yards 2795
cbe59d39acae0d7cea59b812d1ea7211
Success Dumaresq 2350
d42324cc8bd146436ce7dd0960e018be
Success Mcleans Ridges 2480
d12f7f7dbd27d55ecacdcec51bbe7325
Success Timbumburi 2340
37995f9acb3237d04368736f98020dab
Success Black Head 2430
da2a31a14be7a5f3558fe0ab26482fbc
Success Baryulgil 2460
471608a1b9ff7047fc3a8c648ffcbfa4
Success Wiley Park 2195
12002c4c5fb94416c7afe070f3d63b0a
Failure in Iona 2321 Expecting value: line 1 column 1 (char 0)
5a45e6fb4e22eabe1d8bddd5cdcdeb73
Failure in Parliament House 2000 Expecting value: line 1 column 1 (char 0)
9ac910ebb07e551926c8b12ccad7d432
Failure in Hmas Waterhen 2060 Expecting value: line 1 column 1 (char 0)
e3737e27aa8f4eb3dcea7773f57a437b
Success Bannister 2580
1a0df8054a2a2c5ce8d9eb23f666c06b
Success Coombadjha 2460
c0d3eefe7601bd13a6de044e7a58c331
Success Bulgary 2650
1c36e28357fd6f8e23c89776b3137fee
Success Cobar 2835
2944d6579f23045f9ead12da56f9d5d8
Failure in Warnecliffe 2866 Expecting value: line 1 column 1 (char 0)
76fe61b6345e1c97709ea97fca7215d1
Success Rappville 2469
42b750d6dc99ea2f47b02e7681e27d4c
Failure in Banoon 2347 Expecting value: line 1 column 1 (char 0)
f9964dab979a21c8808db48b7d32220c
Success Brookvale 2100
a7ab92d399d271d7c393123c76a4b7f1
Success Salt Ash 2318
e2524f8f1a631394e702289021e7ec51
Success Mount Arthur 2820
733b80e57110f817bff15f3d6080f705
Failure in Third Creek 2583 Expecting value: line 1 column 1 (char 0)
2e989f2bb70e9adfadfccdab5a6934f5
Failure in Boronia Park 2111 Expecting value: line 1 column 1 (char 0)
688ef508c17b53755d78bc23f8a172b9
Success Kings Point 2539
ba4c845c74485957314c87eed060d7ab
Success Sutton Forest 2577
c799a5b9582f4222bab6b52bb09cb7eb
Success Macmasters Beach 2251
29276d8144035d8b31085e6fc778c91a
Success Towrang 2580
64fc455233a41bfaae9e09f785b79102
Success Eugowra 2806
3c166b093025374a6c23da308a4ec73f
Success Hat Head 2440
2312233fe96a1ed2946e037add595e78
Success Clydesdale 2330
c42eb969090ea5c56e1cab25892a68ad
Success Holts Flat 2631
04b53b844b7dcd5d87dfced6b867af48
Success Logans Crossing 2439
c19c2e38be9fa38a7aeb67340ad7f509
Success Gulmarrad 2463
c41c84c90e8f6283db4ea3febf126162
Success Titaatee Creek 2422
75c31ba4e1ea1386178eae80d96aeb73
Success Sebastopol 2666
de75f0b042090780f53e729d824ad16f
Success Booral 2425
7f2b74c39e6a2e835e99ecef5da13cfd
Success Willmot 2770
b6ee98ab4151c5569d476f345783d89d
Failure in Paynters Siding 2700 Expecting value: line 1 column 1 (char 0)
89a92c47ff98f8308f0501bde17bb9e2
Success Larras Lee 2866
6ebe6cbe2378804a598feaf88e63a8b2
Success Amaroo 2866
267b29f846f5eab62fa483c84e1443a8
Success Cudgegong 2850
208d2117954fd544906569f75a0402a4
Success Wallalong 2320
40c6909584431c871ae6629b326b215f
Success Mallowa 2400
7e5c88e6e786f151d415860bb9b28f74
Failure in Baraimal 2470 Expecting value: line 1 column 1 (char 0)
4cced9e91742627cf736c11a9ea4e9c1
Success Burrandana 2650
e03e1f8d15aadfeb45676fb77b02f5c1
Success Gouldsville 2330
e58d1b359c90e24bd1dc29dc314359da
Success Warners Bay 2282
b71af50126b661bfca87b5d45e854e80
Success Stroud Road 2415
476359c7d704f685897b5a049581bdba
Success Duri 2344

In [13]:
len(final_list_suburbs)

83

In [14]:
#to open json file saved in previous step & convert to dataframe & combine all dataframe into a master dataframe
df = pd.DataFrame()
frames= []
for suburb in final_list_suburbs: 
    with open("./resources/{}_{}.json".format(list_suburbs[suburb],suburb),"r") as sub_housing_data:
        sub_housing_data=json.load(sub_housing_data)
        suburb_name=sub_housing_data['header']['suburb']
        
    for x in range (40):
        
        headers_dict1=sub_housing_data['series']['seriesInfo'][x]['values']
        headers_dict1["year"]=sub_housing_data['series']['seriesInfo'][x]["year"]
        headers_dict1["month"]=sub_housing_data['series']['seriesInfo'][x]["month"]
        sub_df1 = pd.DataFrame(headers_dict1.values(),index=headers_dict1.keys(),columns=[suburb_name]).T
      
        sub_df1 = sub_df1.reset_index().drop(columns=["auctionNumberWithdrawn","daysOnMarket","discountPercentage",
                                                      "5thPercentileSoldPrice","25thPercentileSoldPrice",
                                                      "75thPercentileSoldPrice","95thPercentileSoldPrice",
                                                      "numberRentListing","highestRentListingPrice","lowestRentListingPrice"]).rename(columns={"index":"suburb"})
        frames.append(sub_df1)
df = pd.concat(frames)

In [15]:
df.head(10)

,suburb,medianSoldPrice,numberSold,highestSoldPrice,lowestSoldPrice,medianSaleListingPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice,year,month
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,9.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,12.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,3.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,6.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,9.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,12.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,3.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,6.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,9.0
0,Hydes Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,12.0

In [25]:
df.columns

Index(['year', 'month', 'suburb', 'medianSoldPrice', 'numberSold',
       'highestSoldPrice', 'lowestSoldPrice', 'medianSaleListingPrice',
       'numberSaleListing', 'highestSaleListingPrice',
       'lowestSaleListingPrice', 'auctionNumberAuctioned', 'auctionNumberSold',
       'medianRentListingPrice'],
      dtype='object')

In [26]:
df = df[['year', 'month','suburb', 'medianSoldPrice', 'numberSold', 'highestSoldPrice',
       'lowestSoldPrice', 'medianSaleListingPrice', 'numberSaleListing',
       'highestSaleListingPrice', 'lowestSaleListingPrice',
       'auctionNumberAuctioned', 'auctionNumberSold', 'medianRentListingPrice',
       ]]

In [27]:
df.sample(10)

,year,month,suburb,medianSoldPrice,numberSold,highestSoldPrice,lowestSoldPrice,medianSaleListingPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice
0,2018.0,3.0,Towrang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2013.0,3.0,Baryulgil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2021.0,6.0,Manly Vale,2805000.0,11.0,3825000.0,1525000.0,NaN,8.0,2750000.0,2200000.0,6.0,6.0,1100.0
0,2011.0,9.0,Clydesdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2015.0,9.0,Cudgegong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2013.0,12.0,Timbumburi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2021.0,6.0,Hat Head,NaN,NaN,NaN,NaN,NaN,2.0,1395000.0,750000.0,NaN,NaN,NaN
0,2011.0,12.0,Koraleigh,NaN,NaN,NaN,NaN,NaN,1.0,120000.0,120000.0,NaN,NaN,NaN
0,2020.0,9.0,Clydesdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2016.0,6.0,Stroud Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.to_csv('data_V2_25082021.csv',index=False)