In [1]:
import json
import requests
import re,string,timeit
import time
import pandas as pd
import os
from dotenv import load_dotenv

Setup your parameters
Request URL
https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/Castle%20Hill/2154?propertyCategory=house&bedrooms=3&periodSize=quarters&startingPeriodRelativeToCurrent=40&totalPeriods=40

Provide your client credentials as per your Domain developer account.

Required: client_id and client_secret

Make a POST request to receive token.

In [2]:
# Dave's domain stuff
client_id = 'client_eec1db2c3f183f88c02e086b36dd0010'
client_secret = 'secret_52c117026e2eda7c01034fc464d0263d'
print(client_secret)

secret_52c117026e2eda7c01034fc464d0263d

In [3]:
# load_dotenv()
# client_id =os.getenv("domain_client_id")
# client_secret = os.getenv("domain_client_oauth_secrets")
# type(client_secret)

# print(client_secret)

In [4]:
#to authenticate client credentials
# Make a POST request to the https://auth.domain.com.au/v2/connect/token endpoint using your client_id and client_secret, along with the list of scopes that you require. 
auth_url2 = 'https://auth.domain.com.au/v1/connect/token'

In [5]:

# https://developer.domain.com.au/docs/v2/apis/pkg_properties_locations/references/suburbperformance_get_bynamedsuburb
# GET /v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}

In [6]:
#Scope and Permissions
#The following scopes may be used when calling this endpoint
#https://developer.domain.com.au/docs/v1/apis/pkg_properties_locations/references/properties_get:

scopes = ['api_suburbperformance_read']

In [7]:
url_endpoint2 = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/'

In [8]:
#to define suburb details example for 1 suburb only
state='NSW'
suburb="Chatswood"
postcode='2067'
# property_category = 'house'
period_size = 'quarters'
period_length = 40
total_periods= 40
url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}/'


# url_detailed = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/{}/{}/{}?propertyCategory={}&bedrooms={}&periodSize={}&startingPeriodRelativeToCurrent={}&totalPeriods={}'.format(state,suburb,postcode,propertyCategory,bedrooms,periodSize,startingPeriodRelativeToCurrent,totalPeriods)

In [9]:
nsw_data = pd.read_csv('Resources/nsw_data.csv', index_col = 'Suburb')
nsw_data

                           Postcode
Suburb
Sydney                         1001
Sydney                         1002
Sydney                         1003
Sydney                         1004
Sydney                         1005
Sydney                         1006
Sydney                         1007
Sydney                         1008
Sydney                         1009
Sydney                         1010
Sydney                         1020
Sydney                         1021
Sydney                         1022
Sydney                         1023
Sydney                         1025
Sydney                         1026
Sydney                         1027
Sydney                         1028
Sydney                         1029
Sydney                         1030
Sydney                         1031
Sydney                         1032
Sydney                         1033
Sydney                         1034
Sydney                         1035
Sydney                         1036
Sydney                         1037
Sydney                         1038
Sydney                         1039
Sydney                         1040
...                             ...
Little Topar                   2880
Mount Gipps                    2880
Silverton                      2880
Stephens Creek                 2880
Tibooburra                     2880
Australian Defence Forces      2890
Sydney Gateway Facility        2891
Lord Howe Island               2898
Norfolk Island                 2899
Bulga                          3586
Mallan                         3586
Murrawee                       3586
Murraydale                     3586
Pental Island                  3586
Tyntynder                      3586
Tyntynder South                3586
Ultima East                    3586
Barooga                        3644
Cobram                         3644
Cobram East                    3644
Koonoomoo                      3644
Muckatah                       3644
Yarroweyah                     3644
Biggara                        3707
Bringenbrong                   3707
Colac Colac                    3707
Corryong                       3707
Thowgla Valley                 3707
Towong                         3707
Towong Upper                   3707

[5010 rows x 1 columns]

In [10]:
mask1 = nsw_data['Postcode']>1999
list_suburbs = mask1[nsw_data['Postcode']>1999]
list_suburbs

Suburb
Darling Harbour                 True
Dawes Point                     True
Haymarket                       True
Millers Point                   True
Parliament House                True
Sydney                          True
Sydney South                    True
The Rocks                       True
Sydney                          True
Eastern Suburbs Mc              True
The University Of Sydney        True
Ultimo                          True
Chippendale                     True
Darlington                      True
Golden Grove                    True
Darling Island                  True
Pyrmont                         True
Darlinghurst                    True
Surry Hills                     True
Taylor Square                   True
Elizabeth Bay                   True
Hmas Kuttabul                   True
Kings Cross                     True
Potts Point                     True
Rushcutters Bay                 True
Woolloomooloo                   True
Administrative Postcode Only    True
Administrative Postcode Only    True
Alexandria                      True
Beaconsfield                    True
                                ...
Little Topar                    True
Mount Gipps                     True
Silverton                       True
Stephens Creek                  True
Tibooburra                      True
Australian Defence Forces       True
Sydney Gateway Facility         True
Lord Howe Island                True
Norfolk Island                  True
Bulga                           True
Mallan                          True
Murrawee                        True
Murraydale                      True
Pental Island                   True
Tyntynder                       True
Tyntynder South                 True
Ultima East                     True
Barooga                         True
Cobram                          True
Cobram East                     True
Koonoomoo                       True
Muckatah                        True
Yarroweyah                      True
Biggara                         True
Bringenbrong                    True
Colac Colac                     True
Corryong                        True
Thowgla Valley                  True
Towong                          True
Towong Upper                    True
Name: Postcode, Length: 4692, dtype: bool

In [11]:
nsw_data = nsw_data[nsw_data['Postcode']>1999]
nsw_data

                              Postcode
Suburb
Darling Harbour                   2000
Dawes Point                       2000
Haymarket                         2000
Millers Point                     2000
Parliament House                  2000
Sydney                            2000
Sydney South                      2000
The Rocks                         2000
Sydney                            2001
Eastern Suburbs Mc                2004
The University Of Sydney          2006
Ultimo                            2007
Chippendale                       2008
Darlington                        2008
Golden Grove                      2008
Darling Island                    2009
Pyrmont                           2009
Darlinghurst                      2010
Surry Hills                       2010
Taylor Square                     2010
Elizabeth Bay                     2011
Hmas Kuttabul                     2011
Kings Cross                       2011
Potts Point                       2011
Rushcutters Bay                   2011
Woolloomooloo                     2011
Administrative Postcode Only      2012
Administrative Postcode Only      2013
Alexandria                        2015
Beaconsfield                      2015
...                                ...
Little Topar                      2880
Mount Gipps                       2880
Silverton                         2880
Stephens Creek                    2880
Tibooburra                        2880
Australian Defence Forces         2890
Sydney Gateway Facility           2891
Lord Howe Island                  2898
Norfolk Island                    2899
Bulga                             3586
Mallan                            3586
Murrawee                          3586
Murraydale                        3586
Pental Island                     3586
Tyntynder                         3586
Tyntynder South                   3586
Ultima East                       3586
Barooga                           3644
Cobram                            3644
Cobram East                       3644
Koonoomoo                         3644
Muckatah                          3644
Yarroweyah                        3644
Biggara                           3707
Bringenbrong                      3707
Colac Colac                       3707
Corryong                          3707
Thowgla Valley                    3707
Towong                            3707
Towong Upper                      3707

[4692 rows x 1 columns]

In [12]:
nsw_dict = nsw_data.to_dict()['Postcode']

In [16]:
for suburb in nsw_dict.keys():
    display(nsw_data.loc[suburb])

Postcode    2000
Name: Darling Harbour, dtype: int64

Postcode    2000
Name: Dawes Point, dtype: int64

Postcode    2000
Name: Haymarket, dtype: int64

Postcode    2000
Name: Millers Point, dtype: int64

Postcode    2000
Name: Parliament House, dtype: int64

        Postcode
Suburb
Sydney      2000
Sydney      2001

Postcode    2000
Name: Sydney South, dtype: int64

           Postcode
Suburb
The Rocks      2000
The Rocks      2795

Postcode    2004
Name: Eastern Suburbs Mc, dtype: int64

Postcode    2006
Name: The University Of Sydney, dtype: int64

Postcode    2007
Name: Ultimo, dtype: int64

Postcode    2008
Name: Chippendale, dtype: int64

            Postcode
Suburb
Darlington      2008
Darlington      2330

Postcode    2008
Name: Golden Grove, dtype: int64

Postcode    2009
Name: Darling Island, dtype: int64

Postcode    2009
Name: Pyrmont, dtype: int64

Postcode    2010
Name: Darlinghurst, dtype: int64

Postcode    2010
Name: Surry Hills, dtype: int64

Postcode    2010
Name: Taylor Square, dtype: int64

Postcode    2011
Name: Elizabeth Bay, dtype: int64

Postcode    2011
Name: Hmas Kuttabul, dtype: int64

Postcode    2011
Name: Kings Cross, dtype: int64

Postcode    2011
Name: Potts Point, dtype: int64

Postcode    2011
Name: Rushcutters Bay, dtype: int64

Postcode    2011
Name: Woolloomooloo, dtype: int64

                              Postcode
Suburb
Administrative Postcode Only      2012
Administrative Postcode Only      2013
Administrative Postcode Only      2058
Administrative Postcode Only      2129
Administrative Postcode Only      2252
Administrative Postcode Only      2310
Administrative Postcode Only      2348
Administrative Postcode Only      2442
Administrative Postcode Only      2521
Administrative Postcode Only      2678
Administrative Postcode Only      2708
Administrative Postcode Only      2796

Postcode    2015
Name: Alexandria, dtype: int64

Postcode    2015
Name: Beaconsfield, dtype: int64

Postcode    2015
Name: Eveleigh, dtype: int64

Postcode    2016
Name: Redfern, dtype: int64

Postcode    2017
Name: Waterloo, dtype: int64

Postcode    2017
Name: Zetland, dtype: int64

Postcode    2018
Name: Eastlakes, dtype: int64

Postcode    2018
Name: Rosebery, dtype: int64

Postcode    2019
Name: Banksmeadow, dtype: int64

Postcode    2019
Name: Botany, dtype: int64

Postcode    2020
Name: Mascot, dtype: int64

Postcode    2020
Name: Sydney Domestic Airport, dtype: int64

Postcode    2020
Name: Sydney International Airport, dtype: int64

Postcode    2021
Name: Centennial Park, dtype: int64

Postcode    2021
Name: Moore Park, dtype: int64

Postcode    2021
Name: Paddington, dtype: int64

Postcode    2022
Name: Bondi Junction, dtype: int64

Postcode    2022
Name: Bondi Junction Plaza, dtype: int64

Postcode    2022
Name: Queens Park, dtype: int64

Postcode    2023
Name: Bellevue Hill, dtype: int64

Postcode    2024
Name: Bronte, dtype: int64

Postcode    2024
Name: Charing Cross, dtype: int64

Postcode    2024
Name: Waverley, dtype: int64

Postcode    2025
Name: Woollahra, dtype: int64

Postcode    2026
Name: Ben Buckler, dtype: int64

Postcode    2026
Name: Bondi, dtype: int64

Postcode    2026
Name: Bondi Beach, dtype: int64

Postcode    2026
Name: North Bondi, dtype: int64

Postcode    2026
Name: Tamarama, dtype: int64

Postcode    2027
Name: Darling Point, dtype: int64

Postcode    2027
Name: Edgecliff, dtype: int64

Postcode    2027
Name: Hmas Rushcutters, dtype: int64

Postcode    2027
Name: Point Piper, dtype: int64

Postcode    2028
Name: Double Bay, dtype: int64

Postcode    2029
Name: Rose Bay, dtype: int64

Postcode    2030
Name: Diamond Bay, dtype: int64

Postcode    2030
Name: Dover Heights, dtype: int64

Postcode    2030
Name: Hmas Watson, dtype: int64

Postcode    2030
Name: Rose Bay North, dtype: int64

Postcode    2030
Name: Vaucluse, dtype: int64

Postcode    2030
Name: Watsons Bay, dtype: int64

Postcode    2031
Name: Clovelly, dtype: int64

Postcode    2031
Name: Clovelly West, dtype: int64

Postcode    2031
Name: Randwick, dtype: int64

Postcode    2031
Name: St Pauls, dtype: int64

Postcode    2032
Name: Daceyville, dtype: int64

Postcode    2032
Name: Kingsford, dtype: int64

Postcode    2033
Name: Kensington, dtype: int64

Postcode    2034
Name: Coogee, dtype: int64

Postcode    2034
Name: South Coogee, dtype: int64

Postcode    2035
Name: Maroubra, dtype: int64

Postcode    2035
Name: Maroubra South, dtype: int64

Postcode    2035
Name: Pagewood, dtype: int64

Postcode    2036
Name: Chifley, dtype: int64

Postcode    2036
Name: Eastgardens, dtype: int64

Postcode    2036
Name: Hillsdale, dtype: int64

Postcode    2036
Name: La Perouse, dtype: int64

Postcode    2036
Name: Little Bay, dtype: int64

Postcode    2036
Name: Malabar, dtype: int64

Postcode    2036
Name: Matraville, dtype: int64

Postcode    2036
Name: Phillip Bay, dtype: int64

Postcode    2036
Name: Port Botany, dtype: int64

Postcode    2037
Name: Forest Lodge, dtype: int64

Postcode    2037
Name: Glebe, dtype: int64

Postcode    2038
Name: Annandale, dtype: int64

Postcode    2039
Name: Rozelle, dtype: int64

Postcode    2040
Name: Leichhardt, dtype: int64

Postcode    2040
Name: Lilyfield, dtype: int64

Postcode    2041
Name: Balmain, dtype: int64

Postcode    2041
Name: Balmain East, dtype: int64

Postcode    2041
Name: Birchgrove, dtype: int64

        Postcode
Suburb
Enmore      2042
Enmore      2350
Enmore      2358

Postcode    2042
Name: Newtown, dtype: int64

Postcode    2043
Name: Erskineville, dtype: int64

Postcode    2044
Name: St Peters, dtype: int64

Postcode    2044
Name: Sydenham, dtype: int64

Postcode    2044
Name: Tempe, dtype: int64

Postcode    2045
Name: Haberfield, dtype: int64

Postcode    2046
Name: Abbotsford, dtype: int64

Postcode    2046
Name: Canada Bay, dtype: int64

Postcode    2046
Name: Chiswick, dtype: int64

Postcode    2046
Name: Five Dock, dtype: int64

Postcode    2046
Name: Rodd Point, dtype: int64

Postcode    2046
Name: Russell Lea, dtype: int64

Postcode    2046
Name: Wareemba, dtype: int64

Postcode    2047
Name: Drummoyne, dtype: int64

Postcode    2048
Name: Stanmore, dtype: int64

Postcode    2048
Name: Westgate, dtype: int64

Postcode    2049
Name: Lewisham, dtype: int64

Postcode    2049
Name: Petersham, dtype: int64

Postcode    2049
Name: Petersham North, dtype: int64

Postcode    2050
Name: Camperdown, dtype: int64

Postcode    2052
Name: Unsw Sydney, dtype: int64

              Postcode
Suburb
North Sydney      2055
North Sydney      2059
North Sydney      2060

           Postcode
Suburb
Chatswood      2057
Chatswood      2067

Postcode    2060
Name: Hmas Platypus, dtype: int64

Postcode    2060
Name: Hmas Waterhen, dtype: int64

Postcode    2060
Name: Lavender Bay, dtype: int64

Postcode    2060
Name: Mcmahons Point, dtype: int64

Postcode    2060
Name: North Sydney Shoppingworld, dtype: int64

Postcode    2060
Name: Waverton, dtype: int64

Postcode    2061
Name: Kirribilli, dtype: int64

Postcode    2061
Name: Milsons Point, dtype: int64

Postcode    2062
Name: Cammeray, dtype: int64

Postcode    2063
Name: Northbridge, dtype: int64

Postcode    2064
Name: Artarmon, dtype: int64

Postcode    2065
Name: Crows Nest, dtype: int64

Postcode    2065
Name: Gore Hill, dtype: int64

Postcode    2065
Name: Greenwich, dtype: int64

Postcode    2065
Name: Naremburn, dtype: int64

Postcode    2065
Name: Royal North Shore Hospital, dtype: int64

Postcode    2065
Name: St Leonards, dtype: int64

Postcode    2065
Name: Wollstonecraft, dtype: int64

Postcode    2066
Name: Lane Cove, dtype: int64

Postcode    2066
Name: Lane Cove North, dtype: int64

Postcode    2066
Name: Lane Cove West, dtype: int64

Postcode    2066
Name: Linley Point, dtype: int64

Postcode    2066
Name: Longueville, dtype: int64

Postcode    2066
Name: Northwood, dtype: int64

Postcode    2066
Name: Osborne Park, dtype: int64

Postcode    2066
Name: Riverview, dtype: int64

Postcode    2067
Name: Chatswood West, dtype: int64

Postcode    2068
Name: Castlecrag, dtype: int64

Postcode    2068
Name: Middle Cove, dtype: int64

Postcode    2068
Name: Willoughby, dtype: int64

Postcode    2068
Name: Willoughby North, dtype: int64

Postcode    2069
Name: Castle Cove, dtype: int64

Postcode    2069
Name: Roseville, dtype: int64

Postcode    2069
Name: Roseville Chase, dtype: int64

Postcode    2070
Name: East Lindfield, dtype: int64

Postcode    2070
Name: Lindfield, dtype: int64

Postcode    2071
Name: Killara, dtype: int64

Postcode    2072
Name: Gordon, dtype: int64

Postcode    2073
Name: Pymble, dtype: int64

Postcode    2073
Name: West Pymble, dtype: int64

Postcode    2074
Name: Bobbin Head, dtype: int64

Postcode    2074
Name: North Turramurra, dtype: int64

Postcode    2074
Name: South Turramurra, dtype: int64

Postcode    2074
Name: Turramurra, dtype: int64

Postcode    2074
Name: Warrawee, dtype: int64

Postcode    2075
Name: North St Ives, dtype: int64

Postcode    2075
Name: St Ives, dtype: int64

Postcode    2075
Name: St Ives Chase, dtype: int64

Postcode    2076
Name: Normanhurst, dtype: int64

Postcode    2076
Name: Wahroonga, dtype: int64

Postcode    2077
Name: Asquith, dtype: int64

Postcode    2077
Name: Hornsby, dtype: int64

Postcode    2077
Name: Hornsby Heights, dtype: int64

Postcode    2077
Name: Waitara, dtype: int64

Postcode    2079
Name: Mount Colah, dtype: int64

Postcode    2080
Name: Mount Kuring-gai, dtype: int64

Postcode    2081
Name: Berowra, dtype: int64

Postcode    2081
Name: Cowan, dtype: int64

Postcode    2082
Name: Berowra Heights, dtype: int64

Postcode    2082
Name: Berowra Waters, dtype: int64

Postcode    2083
Name: Bar Point, dtype: int64

Postcode    2083
Name: Brooklyn, dtype: int64

Postcode    2083
Name: Cogra Bay, dtype: int64

Postcode    2083
Name: Dangar Island, dtype: int64

Postcode    2083
Name: Milsons Passage, dtype: int64

Postcode    2083
Name: Mooney Mooney, dtype: int64

Postcode    2084
Name: Akuna Bay, dtype: int64

Postcode    2084
Name: Cottage Point, dtype: int64

Postcode    2084
Name: Duffys Forest, dtype: int64

Postcode    2084
Name: Terrey Hills, dtype: int64

Postcode    2085
Name: Belrose, dtype: int64

Postcode    2085
Name: Davidson, dtype: int64

Postcode    2086
Name: Frenchs Forest, dtype: int64

Postcode    2086
Name: Frenchs Forest East, dtype: int64

Postcode    2087
Name: Forestville, dtype: int64

Postcode    2087
Name: Killarney Heights, dtype: int64

Postcode    2088
Name: Mosman, dtype: int64

Postcode    2089
Name: Neutral Bay, dtype: int64

Postcode    2089
Name: Neutral Bay Junction, dtype: int64

Postcode    2090
Name: Cremorne, dtype: int64

Postcode    2090
Name: Cremorne Point, dtype: int64

Postcode    2091
Name: Hmas Penguin, dtype: int64

Postcode    2092
Name: Seaforth, dtype: int64

Postcode    2093
Name: Balgowlah, dtype: int64

Postcode    2093
Name: Balgowlah Heights, dtype: int64

Postcode    2093
Name: Clontarf, dtype: int64

Postcode    2093
Name: Manly Vale, dtype: int64

Postcode    2093
Name: North Balgowlah, dtype: int64

Postcode    2094
Name: Fairlight, dtype: int64

Postcode    2095
Name: Manly, dtype: int64

Postcode    2095
Name: Manly East, dtype: int64

Postcode    2096
Name: Curl Curl, dtype: int64

Postcode    2096
Name: Harbord, dtype: int64

Postcode    2096
Name: Queenscliff, dtype: int64

Postcode    2097
Name: Collaroy, dtype: int64

Postcode    2097
Name: Collaroy Beach, dtype: int64

Postcode    2097
Name: Collaroy Plateau West, dtype: int64

Postcode    2097
Name: Long Reef, dtype: int64

Postcode    2097
Name: Wheeler Heights, dtype: int64

Postcode    2099
Name: Cromer, dtype: int64

Postcode    2099
Name: Cromer Heights, dtype: int64

Postcode    2099
Name: Dee Why, dtype: int64

Postcode    2099
Name: Dee Why Beach, dtype: int64

Postcode    2099
Name: Narraweena, dtype: int64

Postcode    2099
Name: North Curl Curl, dtype: int64

Postcode    2099
Name: Wingala, dtype: int64

Postcode    2100
Name: Allambie, dtype: int64

Postcode    2100
Name: Allambie Heights, dtype: int64

Postcode    2100
Name: Beacon Hill, dtype: int64

Postcode    2100
Name: Brookvale, dtype: int64

Postcode    2100
Name: North Manly, dtype: int64

Postcode    2100
Name: Oxford Falls, dtype: int64

Postcode    2100
Name: Warringah Mall, dtype: int64

Postcode    2101
Name: Elanora Heights, dtype: int64

Postcode    2101
Name: Ingleside, dtype: int64

Postcode    2101
Name: Narrabeen, dtype: int64

Postcode    2101
Name: Narrabeen Peninsula, dtype: int64

Postcode    2101
Name: North Narrabeen, dtype: int64

Postcode    2102
Name: Warriewood, dtype: int64

Postcode    2103
Name: Mona Vale, dtype: int64

Postcode    2104
Name: Bayview, dtype: int64

Postcode    2105
Name: Church Point, dtype: int64

Postcode    2105
Name: Elvina Bay, dtype: int64

Postcode    2105
Name: Lovett Bay, dtype: int64

Postcode    2105
Name: Scotland Island, dtype: int64

Postcode    2106
Name: Newport, dtype: int64

Postcode    2106
Name: Newport Beach, dtype: int64

Postcode    2107
Name: Avalon, dtype: int64

Postcode    2107
Name: Avalon Beach, dtype: int64

Postcode    2107
Name: Bilgola, dtype: int64

Postcode    2107
Name: Careel Bay, dtype: int64

Postcode    2107
Name: Clareville, dtype: int64

Postcode    2107
Name: Paradise Beach, dtype: int64

Postcode    2107
Name: Taylors Point, dtype: int64

Postcode    2107
Name: Whale Beach, dtype: int64

Postcode    2108
Name: Coasters Retreat, dtype: int64

Postcode    2108
Name: Currawong Beach, dtype: int64

Postcode    2108
Name: Great Mackerel Beach, dtype: int64

Postcode    2108
Name: Morning Bay, dtype: int64

Postcode    2108
Name: Palm Beach, dtype: int64

           Postcode
Suburb
The Basin      2108
The Basin      2365

Postcode    2109
Name: Macquarie University, dtype: int64

Postcode    2110
Name: Hunters Hill, dtype: int64

Postcode    2110
Name: Hunters Hill West, dtype: int64

Postcode    2110
Name: Woolwich, dtype: int64

Postcode    2111
Name: Boronia Park, dtype: int64

Postcode    2111
Name: Gladesville, dtype: int64

Postcode    2111
Name: Henley, dtype: int64

Postcode    2111
Name: Huntleys Cove, dtype: int64

Postcode    2111
Name: Huntleys Point, dtype: int64

Postcode    2111
Name: Monash Park, dtype: int64

Postcode    2111
Name: Tennyson Point, dtype: int64

Postcode    2112
Name: Denistone East, dtype: int64

Postcode    2112
Name: Putney, dtype: int64

Postcode    2112
Name: Ryde, dtype: int64

Postcode    2113
Name: Blenheim Road, dtype: int64

Postcode    2113
Name: East Ryde, dtype: int64

Postcode    2113
Name: Macquarie Centre, dtype: int64

Postcode    2113
Name: Macquarie Park, dtype: int64

Postcode    2113
Name: North Ryde, dtype: int64

Postcode    2114
Name: Denistone, dtype: int64

Postcode    2114
Name: Denistone West, dtype: int64

Postcode    2114
Name: Meadowbank, dtype: int64

Postcode    2114
Name: Melrose Park, dtype: int64

Postcode    2114
Name: West Ryde, dtype: int64

Postcode    2115
Name: Ermington, dtype: int64

Postcode    2116
Name: Rydalmere, dtype: int64

Postcode    2117
Name: Dundas, dtype: int64

Postcode    2117
Name: Dundas Valley, dtype: int64

Postcode    2117
Name: Oatlands, dtype: int64

Postcode    2117
Name: Telopea, dtype: int64

Postcode    2118
Name: Carlingford, dtype: int64

Postcode    2118
Name: Carlingford Court, dtype: int64

Postcode    2118
Name: Carlingford North, dtype: int64

Postcode    2118
Name: Kingsdene, dtype: int64

Postcode    2119
Name: Beecroft, dtype: int64

Postcode    2119
Name: Cheltenham, dtype: int64

Postcode    2120
Name: Pennant Hills, dtype: int64

Postcode    2120
Name: Thornleigh, dtype: int64

Postcode    2120
Name: Westleigh, dtype: int64

Postcode    2121
Name: Epping, dtype: int64

Postcode    2121
Name: North Epping, dtype: int64

Postcode    2122
Name: Eastwood, dtype: int64

Postcode    2122
Name: Marsfield, dtype: int64

            Postcode
Suburb
Parramatta      2123
Parramatta      2124
Parramatta      2150

Postcode    2125
Name: West Pennant Hills, dtype: int64

Postcode    2126
Name: Cherrybrook, dtype: int64

Postcode    2127
Name: Homebush Bay, dtype: int64

Postcode    2127
Name: Newington, dtype: int64

             Postcode
Suburb
Silverwater      2128
Silverwater      2264

             Postcode
Suburb
Summer Hill      2130
Summer Hill      2287
Summer Hill      2800

Postcode    2131
Name: Ashfield, dtype: int64

Postcode    2132
Name: Croydon, dtype: int64

Postcode    2133
Name: Croydon Park, dtype: int64

Postcode    2133
Name: Enfield South, dtype: int64

Postcode    2134
Name: Burwood, dtype: int64

Postcode    2135
Name: Strathfield, dtype: int64

Postcode    2136
Name: Burwood Heights, dtype: int64

Postcode    2136
Name: Enfield, dtype: int64

Postcode    2136
Name: Strathfield South, dtype: int64

Postcode    2137
Name: Breakfast Point, dtype: int64

Postcode    2137
Name: Cabarita, dtype: int64

Postcode    2137
Name: Concord, dtype: int64

Postcode    2137
Name: Mortlake, dtype: int64

Postcode    2137
Name: North Strathfield, dtype: int64

Postcode    2138
Name: Concord West, dtype: int64

Postcode    2138
Name: Liberty Grove, dtype: int64

Postcode    2138
Name: Rhodes, dtype: int64

Postcode    2139
Name: Concord Repatriation Hospital, dtype: int64

Postcode    2140
Name: Homebush, dtype: int64

Postcode    2140
Name: Homebush South, dtype: int64

Postcode    2140
Name: Homebush West, dtype: int64

Postcode    2141
Name: Berala, dtype: int64

Postcode    2141
Name: Lidcombe, dtype: int64

Postcode    2141
Name: Lidcombe North, dtype: int64

Postcode    2141
Name: Rookwood, dtype: int64

Postcode    2142
Name: Blaxcell, dtype: int64

Postcode    2142
Name: Camellia, dtype: int64

Postcode    2142
Name: Granville, dtype: int64

Postcode    2142
Name: Holroyd, dtype: int64

Postcode    2142
Name: Rosehill, dtype: int64

Postcode    2143
Name: Birrong, dtype: int64

Postcode    2143
Name: Potts Hill, dtype: int64

Postcode    2143
Name: Regents Park, dtype: int64

Postcode    2144
Name: Auburn, dtype: int64

Postcode    2144
Name: Auburn South, dtype: int64

Postcode    2145
Name: Girraween, dtype: int64

Postcode    2145
Name: Greystanes, dtype: int64

Postcode    2145
Name: Mays Hill, dtype: int64

Postcode    2145
Name: Pemulwuy, dtype: int64

Postcode    2145
Name: Pendle Hill, dtype: int64

Postcode    2145
Name: South Wentworthville, dtype: int64

Postcode    2145
Name: Wentworthville, dtype: int64

Postcode    2145
Name: Westmead, dtype: int64

Postcode    2146
Name: Old Toongabbie, dtype: int64

Postcode    2146
Name: Toongabbie, dtype: int64

Postcode    2146
Name: Toongabbie East, dtype: int64

Postcode    2147
Name: Kings Langley, dtype: int64

Postcode    2147
Name: Lalor Park, dtype: int64

Postcode    2147
Name: Seven Hills, dtype: int64

Postcode    2147
Name: Seven Hills West, dtype: int64

Postcode    2148
Name: Arndell Park, dtype: int64

Postcode    2148
Name: Blacktown, dtype: int64

Postcode    2148
Name: Blacktown Westpoint, dtype: int64

Postcode    2148
Name: Huntingwood, dtype: int64

Postcode    2148
Name: Kings Park, dtype: int64

Postcode    2148
Name: Marayong, dtype: int64

Postcode    2148
Name: Prospect, dtype: int64

Postcode    2150
Name: Harris Park, dtype: int64

Postcode    2150
Name: Parramatta Westfield, dtype: int64

Postcode    2151
Name: North Parramatta, dtype: int64

Postcode    2151
Name: North Rocks, dtype: int64

Postcode    2152
Name: Northmead, dtype: int64

Postcode    2153
Name: Baulkham Hills, dtype: int64

Postcode    2153
Name: Bella Vista, dtype: int64

Postcode    2153
Name: Winston Hills, dtype: int64

Postcode    2154
Name: Castle Hill, dtype: int64

Postcode    2155
Name: Beaumont Hills, dtype: int64

Postcode    2155
Name: Kellyville, dtype: int64

Postcode    2155
Name: Kellyville Ridge, dtype: int64

Postcode    2155
Name: Rouse Hill, dtype: int64

Postcode    2156
Name: Annangrove, dtype: int64

Postcode    2156
Name: Glenhaven, dtype: int64

Postcode    2156
Name: Kenthurst, dtype: int64

Postcode    2157
Name: Canoelands, dtype: int64

Postcode    2157
Name: Forest Glen, dtype: int64

Postcode    2157
Name: Glenorie, dtype: int64

Postcode    2157
Name: Hillside, dtype: int64

        Postcode
Suburb
Dural       2158
Dural       2330

Postcode    2158
Name: Middle Dural, dtype: int64

Postcode    2158
Name: Round Corner, dtype: int64

Postcode    2159
Name: Arcadia, dtype: int64

Postcode    2159
Name: Berrilee, dtype: int64

Postcode    2159
Name: Fiddletown, dtype: int64

Postcode    2159
Name: Galston, dtype: int64

Postcode    2160
Name: Merrylands, dtype: int64

Postcode    2160
Name: Merrylands West, dtype: int64

Postcode    2161
Name: Guildford, dtype: int64

Postcode    2161
Name: Guildford West, dtype: int64

Postcode    2161
Name: Old Guildford, dtype: int64

Postcode    2161
Name: Yennora, dtype: int64

Postcode    2162
Name: Chester Hill, dtype: int64

Postcode    2162
Name: Sefton, dtype: int64

Postcode    2163
Name: Carramar, dtype: int64

           Postcode
Suburb
Lansdowne      2163
Lansdowne      2430

Postcode    2163
Name: Villawood, dtype: int64

Postcode    2164
Name: Smithfield, dtype: int64

Postcode    2164
Name: Smithfield West, dtype: int64

Postcode    2164
Name: Wetherill Park, dtype: int64

Postcode    2164
Name: Woodpark, dtype: int64

Postcode    2165
Name: Fairfield, dtype: int64

Postcode    2165
Name: Fairfield East, dtype: int64

Postcode    2165
Name: Fairfield Heights, dtype: int64

Postcode    2165
Name: Fairfield West, dtype: int64

Postcode    2166
Name: Cabramatta, dtype: int64

Postcode    2166
Name: Cabramatta West, dtype: int64

Postcode    2166
Name: Canley Heights, dtype: int64

Postcode    2166
Name: Canley Vale, dtype: int64

Postcode    2166
Name: Lansvale, dtype: int64

Postcode    2167
Name: Glenfield, dtype: int64

Postcode    2168
Name: Ashcroft, dtype: int64

Postcode    2168
Name: Busby, dtype: int64

Postcode    2168
Name: Cartwright, dtype: int64

Postcode    2168
Name: Green Valley, dtype: int64

Postcode    2168
Name: Heckenberg, dtype: int64

Postcode    2168
Name: Hinchinbrook, dtype: int64

Postcode    2168
Name: Miller, dtype: int64

Postcode    2168
Name: Sadleir, dtype: int64

Postcode    2170
Name: Casula, dtype: int64

Postcode    2170
Name: Chipping Norton, dtype: int64

Postcode    2170
Name: Hammondville, dtype: int64

Postcode    2170
Name: Liverpool, dtype: int64

Postcode    2170
Name: Liverpool South, dtype: int64

Postcode    2170
Name: Lurnea, dtype: int64

Postcode    2170
Name: Moorebank, dtype: int64

Postcode    2170
Name: Mount Pritchard, dtype: int64

Postcode    2170
Name: Prestons, dtype: int64

Postcode    2170
Name: Warwick Farm, dtype: int64

Postcode    2171
Name: Cecil Hills, dtype: int64

Postcode    2171
Name: Horningsea Park, dtype: int64

Postcode    2171
Name: Hoxton Park, dtype: int64

Postcode    2171
Name: West Hoxton, dtype: int64

Postcode    2172
Name: Pleasure Point, dtype: int64

Postcode    2172
Name: Sandy Point, dtype: int64

Postcode    2172
Name: Voyager Point, dtype: int64

Postcode    2173
Name: Holsworthy, dtype: int64

Postcode    2173
Name: Wattle Grove, dtype: int64

Postcode    2174
Name: Edmondson Park, dtype: int64

Postcode    2174
Name: Ingleburn Milpo, dtype: int64

Postcode    2175
Name: Horsley Park, dtype: int64

Postcode    2176
Name: Abbotsbury, dtype: int64

Postcode    2176
Name: Bossley Park, dtype: int64

Postcode    2176
Name: Edensor Park, dtype: int64

Postcode    2176
Name: Greenfield Park, dtype: int64

Postcode    2176
Name: Prairiewood, dtype: int64

Postcode    2176
Name: St Johns Park, dtype: int64

Postcode    2176
Name: Wakeley, dtype: int64

Postcode    2177
Name: Bonnyrigg, dtype: int64

Postcode    2177
Name: Bonnyrigg Heights, dtype: int64

Postcode    2178
Name: Cecil Park, dtype: int64

Postcode    2178
Name: Kemps Creek, dtype: int64

Postcode    2178
Name: Mount Vernon, dtype: int64

Postcode    2179
Name: Austral, dtype: int64

Postcode    2179
Name: Leppington, dtype: int64

Postcode    2190
Name: Chullora, dtype: int64

Postcode    2190
Name: Greenacre, dtype: int64

Postcode    2190
Name: Mount Lewis, dtype: int64

Postcode    2191
Name: Belfield, dtype: int64

Postcode    2192
Name: Belmore, dtype: int64

Postcode    2193
Name: Ashbury, dtype: int64

Postcode    2193
Name: Canterbury, dtype: int64

Postcode    2193
Name: Hurlstone Park, dtype: int64

Postcode    2194
Name: Campsie, dtype: int64

Postcode    2195
Name: Lakemba, dtype: int64

Postcode    2195
Name: Wiley Park, dtype: int64

           Postcode
Suburb
Punchbowl      2196
Punchbowl      2460

Postcode    2196
Name: Roselands, dtype: int64

Postcode    2197
Name: Bass Hill, dtype: int64

Postcode    2198
Name: Georges Hall, dtype: int64

Postcode    2199
Name: Yagoona, dtype: int64

Postcode    2200
Name: Bankstown, dtype: int64

Postcode    2200
Name: Bankstown Airport, dtype: int64

Postcode    2200
Name: Bankstown North, dtype: int64

Postcode    2200
Name: Bankstown Square, dtype: int64

Postcode    2200
Name: Condell Park, dtype: int64

Postcode    2200
Name: Manahan, dtype: int64

Postcode    2203
Name: Dulwich Hill, dtype: int64

Postcode    2204
Name: Marrickville, dtype: int64

Postcode    2204
Name: Marrickville Metro, dtype: int64

Postcode    2204
Name: Marrickville South, dtype: int64

Postcode    2205
Name: Arncliffe, dtype: int64

Postcode    2205
Name: Turrella, dtype: int64

Postcode    2205
Name: Wolli Creek, dtype: int64

Postcode    2206
Name: Clemton Park, dtype: int64

Postcode    2206
Name: Earlwood, dtype: int64

Postcode    2206
Name: Undercliffe, dtype: int64

Postcode    2207
Name: Bardwell Park, dtype: int64

Postcode    2207
Name: Bardwell Valley, dtype: int64

Postcode    2207
Name: Bexley, dtype: int64

Postcode    2207
Name: Bexley North, dtype: int64

Postcode    2207
Name: Bexley South, dtype: int64

Postcode    2208
Name: Kingsgrove, dtype: int64

Postcode    2209
Name: Beverly Hills, dtype: int64

Postcode    2209
Name: Narwee, dtype: int64

Postcode    2210
Name: Lugarno, dtype: int64

Postcode    2210
Name: Peakhurst, dtype: int64

Postcode    2210
Name: Peakhurst Heights, dtype: int64

Postcode    2210
Name: Riverwood, dtype: int64

Postcode    2211
Name: Padstow, dtype: int64

Postcode    2211
Name: Padstow Heights, dtype: int64

Postcode    2212
Name: Revesby, dtype: int64

Postcode    2212
Name: Revesby Heights, dtype: int64

Postcode    2212
Name: Revesby North, dtype: int64

Postcode    2213
Name: East Hills, dtype: int64

Postcode    2213
Name: Panania, dtype: int64

Postcode    2213
Name: Picnic Point, dtype: int64

Postcode    2214
Name: Milperra, dtype: int64

Postcode    2216
Name: Banksia, dtype: int64

Postcode    2216
Name: Brighton-le-sands, dtype: int64

Postcode    2216
Name: Kyeemagh, dtype: int64

Postcode    2216
Name: Rockdale, dtype: int64

Postcode    2217
Name: Beverley Park, dtype: int64

Postcode    2217
Name: Kogarah, dtype: int64

Postcode    2217
Name: Kogarah Bay, dtype: int64

Postcode    2217
Name: Monterey, dtype: int64

Postcode    2217
Name: Ramsgate, dtype: int64

Postcode    2217
Name: Ramsgate Beach, dtype: int64

Postcode    2218
Name: Allawah, dtype: int64

Postcode    2218
Name: Carlton, dtype: int64

Postcode    2219
Name: Dolls Point, dtype: int64

Postcode    2219
Name: Sandringham, dtype: int64

Postcode    2219
Name: Sans Souci, dtype: int64

Postcode    2220
Name: Hurstville, dtype: int64

Postcode    2220
Name: Hurstville Grove, dtype: int64

Postcode    2221
Name: Blakehurst, dtype: int64

Postcode    2221
Name: Carss Park, dtype: int64

Postcode    2221
Name: Connells Point, dtype: int64

Postcode    2221
Name: Kyle Bay, dtype: int64

Postcode    2221
Name: South Hurstville, dtype: int64

Postcode    2222
Name: Penshurst, dtype: int64

Postcode    2223
Name: Mortdale, dtype: int64

Postcode    2223
Name: Oatley, dtype: int64

Postcode    2224
Name: Kangaroo Point, dtype: int64

Postcode    2224
Name: Sylvania, dtype: int64

Postcode    2224
Name: Sylvania Southgate, dtype: int64

Postcode    2224
Name: Sylvania Waters, dtype: int64

Postcode    2225
Name: Caravan Head, dtype: int64

Postcode    2225
Name: Oyster Bay, dtype: int64

Postcode    2226
Name: Bonnet Bay, dtype: int64

Postcode    2226
Name: Como, dtype: int64

Postcode    2226
Name: Jannali, dtype: int64

Postcode    2227
Name: Gymea, dtype: int64

Postcode    2227
Name: Gymea Bay, dtype: int64

Postcode    2228
Name: Miranda, dtype: int64

Postcode    2228
Name: Yowie Bay, dtype: int64

Postcode    2229
Name: Caringbah, dtype: int64

Postcode    2229
Name: Dolans Bay, dtype: int64

             Postcode
Suburb
Lilli Pilli      2229
Lilli Pilli      2536

Postcode    2229
Name: Port Hacking, dtype: int64

Postcode    2229
Name: Taren Point, dtype: int64

Postcode    2229
Name: Warumbul, dtype: int64

Postcode    2230
Name: Bundeena, dtype: int64

Postcode    2230
Name: Burraneer, dtype: int64

Postcode    2230
Name: Cronulla, dtype: int64

Postcode    2230
Name: Maianbar, dtype: int64

Postcode    2230
Name: Woolooware, dtype: int64

Postcode    2231
Name: Kurnell, dtype: int64

Postcode    2232
Name: Audley, dtype: int64

Postcode    2232
Name: Garie, dtype: int64

Postcode    2232
Name: Grays Point, dtype: int64

Postcode    2232
Name: Kareela, dtype: int64

Postcode    2232
Name: Kirrawee, dtype: int64

Postcode    2232
Name: Loftus, dtype: int64

Postcode    2232
Name: Sutherland, dtype: int64

Postcode    2232
Name: Woronora, dtype: int64

Postcode    2233
Name: Engadine, dtype: int64

Postcode    2233
Name: Heathcote, dtype: int64

Postcode    2233
Name: Waterfall, dtype: int64

Postcode    2233
Name: Woronora Heights, dtype: int64

Postcode    2233
Name: Yarrawarrah, dtype: int64

Postcode    2234
Name: Alfords Point, dtype: int64

Postcode    2234
Name: Bangor, dtype: int64

Postcode    2234
Name: Barden Ridge, dtype: int64

Postcode    2234
Name: Illawong, dtype: int64

Postcode    2234
Name: Lucas Heights, dtype: int64

Postcode    2234
Name: Menai, dtype: int64

Postcode    2234
Name: Menai Central, dtype: int64

Postcode    2250
Name: Bucketty, dtype: int64

Postcode    2250
Name: Calga, dtype: int64

Postcode    2250
Name: Central Mangrove, dtype: int64

Postcode    2250
Name: Donovans Forest, dtype: int64

Postcode    2250
Name: East Gosford, dtype: int64

Postcode    2250
Name: Erina, dtype: int64

Postcode    2250
Name: Glenworth Valley, dtype: int64

Postcode    2250
Name: Gosford, dtype: int64

Postcode    2250
Name: Greengrove, dtype: int64

Postcode    2250
Name: Holgate, dtype: int64

Postcode    2250
Name: Kariong, dtype: int64

Postcode    2250
Name: Kulnura, dtype: int64

Postcode    2250
Name: Lisarow, dtype: int64

Postcode    2250
Name: Lower Mangrove, dtype: int64

Postcode    2250
Name: Mangrove Creek, dtype: int64

Postcode    2250
Name: Mangrove Mountain, dtype: int64

Postcode    2250
Name: Matcham, dtype: int64

Postcode    2250
Name: Mooney Mooney Creek, dtype: int64

Postcode    2250
Name: Mount Elliot, dtype: int64

Postcode    2250
Name: Mount White, dtype: int64

Postcode    2250
Name: Narara, dtype: int64

Postcode    2250
Name: Niagara Park, dtype: int64

Postcode    2250
Name: North Gosford, dtype: int64

Postcode    2250
Name: Peats Ridge, dtype: int64

Postcode    2250
Name: Point Clare, dtype: int64

Postcode    2250
Name: Point Frederick, dtype: int64

Postcode    2250
Name: Somersby, dtype: int64

Postcode    2250
Name: Springfield, dtype: int64

Postcode    2250
Name: Tascott, dtype: int64

Postcode    2250
Name: Ten Mile Hollow, dtype: int64

Postcode    2250
Name: Upper Mangrove, dtype: int64

Postcode    2250
Name: Wendoree Park, dtype: int64

Postcode    2250
Name: West Gosford, dtype: int64

Postcode    2250
Name: Wyoming, dtype: int64

Postcode    2251
Name: Avoca Beach, dtype: int64

Postcode    2251
Name: Bensville, dtype: int64

Postcode    2251
Name: Bouddi, dtype: int64

Postcode    2251
Name: Copacabana, dtype: int64

Postcode    2251
Name: Davistown, dtype: int64

             Postcode
Suburb
Green Point      2251
Green Point      2428

Postcode    2251
Name: Kincumber, dtype: int64

Postcode    2251
Name: Kincumber South, dtype: int64

Postcode    2251
Name: Macmasters Beach, dtype: int64

Postcode    2251
Name: Picketts Valley, dtype: int64

Postcode    2251
Name: Saratoga, dtype: int64

Postcode    2251
Name: Yattalunga, dtype: int64

Postcode    2256
Name: Blackwall, dtype: int64

Postcode    2256
Name: Horsfield Bay, dtype: int64

Postcode    2256
Name: Koolewong, dtype: int64

Postcode    2256
Name: Little Wobby, dtype: int64

Postcode    2256
Name: Patonga, dtype: int64

Postcode    2256
Name: Pearl Beach, dtype: int64

Postcode    2256
Name: Phegans Bay, dtype: int64

Postcode    2256
Name: Wondabyne, dtype: int64

Postcode    2256
Name: Woy Woy, dtype: int64

Postcode    2256
Name: Woy Woy Bay, dtype: int64

Postcode    2257
Name: Booker Bay, dtype: int64

Postcode    2257
Name: Box Head, dtype: int64

Postcode    2257
Name: Daleys Point, dtype: int64

Postcode    2257
Name: Empire Bay, dtype: int64

Postcode    2257
Name: Ettalong Beach, dtype: int64

Postcode    2257
Name: Hardys Bay, dtype: int64

Postcode    2257
Name: Killcare, dtype: int64

Postcode    2257
Name: Killcare Heights, dtype: int64

Postcode    2257
Name: Pretty Beach, dtype: int64

Postcode    2257
Name: St Huberts Island, dtype: int64

Postcode    2257
Name: Umina Beach, dtype: int64

Postcode    2257
Name: Wagstaffe, dtype: int64

Postcode    2258
Name: Fountaindale, dtype: int64

Postcode    2258
Name: Kangy Angy, dtype: int64

Postcode    2258
Name: Ourimbah, dtype: int64

Postcode    2258
Name: Palm Grove, dtype: int64

Postcode    2258
Name: Palmdale, dtype: int64

        Postcode
Suburb
Alison      2259
Alison      2420

Postcode    2259
Name: Cedar Brush Creek, dtype: int64

Postcode    2259
Name: Chain Valley Bay, dtype: int64

Postcode    2259
Name: Crangan Bay, dtype: int64

Postcode    2259
Name: Dooralong, dtype: int64

Postcode    2259
Name: Durren Durren, dtype: int64

Postcode    2259
Name: Frazer Park, dtype: int64

Postcode    2259
Name: Gwandalan, dtype: int64

Postcode    2259
Name: Halloran, dtype: int64

Postcode    2259
Name: Hamlyn Terrace, dtype: int64

Postcode    2259
Name: Jilliby, dtype: int64

Postcode    2259
Name: Kanwal, dtype: int64

Postcode    2259
Name: Lake Munmorah, dtype: int64

Postcode    2259
Name: Lemon Tree, dtype: int64

Postcode    2259
Name: Little Jilliby, dtype: int64

Postcode    2259
Name: Mannering Park, dtype: int64

Postcode    2259
Name: Mardi, dtype: int64

Postcode    2259
Name: Point Wolstoncroft, dtype: int64

Postcode    2259
Name: Ravensdale, dtype: int64

Postcode    2259
Name: Rocky Point, dtype: int64

Postcode    2259
Name: South Tacoma, dtype: int64

Postcode    2259
Name: Summerland Point, dtype: int64

Postcode    2259
Name: Tacoma, dtype: int64

Postcode    2259
Name: Tuggerah, dtype: int64

Postcode    2259
Name: Tuggerawong, dtype: int64

Postcode    2259
Name: Wadalba, dtype: int64

Postcode    2259
Name: Wallarah, dtype: int64

Postcode    2259
Name: Warnervale, dtype: int64

Postcode    2259
Name: Watanobbi, dtype: int64

Postcode    2259
Name: Woongarrah, dtype: int64

Postcode    2259
Name: Wybung, dtype: int64

Postcode    2259
Name: Wyee, dtype: int64

Postcode    2259
Name: Wyee Point, dtype: int64

Postcode    2259
Name: Wyong, dtype: int64

Postcode    2259
Name: Wyong Creek, dtype: int64

Postcode    2259
Name: Wyongah, dtype: int64

Postcode    2259
Name: Yarramalong, dtype: int64

Postcode    2260
Name: Erina Heights, dtype: int64

Postcode    2260
Name: Forresters Beach, dtype: int64

Postcode    2260
Name: North Avoca, dtype: int64

Postcode    2260
Name: Terrigal, dtype: int64

Postcode    2260
Name: Wamberal, dtype: int64

Postcode    2261
Name: Bateau Bay, dtype: int64

Postcode    2261
Name: Bay Village, dtype: int64

Postcode    2261
Name: Berkeley Vale, dtype: int64

Postcode    2261
Name: Blue Bay, dtype: int64

Postcode    2261
Name: Chittaway Bay, dtype: int64

Postcode    2261
Name: Chittaway Point, dtype: int64

Postcode    2261
Name: Glenning Valley, dtype: int64

Postcode    2261
Name: Killarney Vale, dtype: int64

Postcode    2261
Name: Long Jetty, dtype: int64

Postcode    2261
Name: Shelly Beach, dtype: int64

Postcode    2261
Name: The Entrance, dtype: int64

Postcode    2261
Name: The Entrance North, dtype: int64

Postcode    2261
Name: Toowoon Bay, dtype: int64

Postcode    2261
Name: Tumbi Umbi, dtype: int64

Postcode    2262
Name: Blue Haven, dtype: int64

Postcode    2262
Name: Budgewoi, dtype: int64

Postcode    2262
Name: Buff Point, dtype: int64

Postcode    2262
Name: Doyalson, dtype: int64

Postcode    2262
Name: Halekulani, dtype: int64

Postcode    2262
Name: San Remo, dtype: int64

Postcode    2263
Name: Canton Beach, dtype: int64

Postcode    2263
Name: Charmhaven, dtype: int64

Postcode    2263
Name: Gorokan, dtype: int64

Postcode    2263
Name: Lake Haven, dtype: int64

Postcode    2263
Name: Norah Head, dtype: int64

Postcode    2263
Name: Noraville, dtype: int64

Postcode    2263
Name: Toukley, dtype: int64

Postcode    2264
Name: Balcolyn, dtype: int64

Postcode    2264
Name: Bonnells Bay, dtype: int64

Postcode    2264
Name: Brightwaters, dtype: int64

Postcode    2264
Name: Dora Creek, dtype: int64

Postcode    2264
Name: Eraring, dtype: int64

Postcode    2264
Name: Mandalong, dtype: int64

Postcode    2264
Name: Mirrabooka, dtype: int64

Postcode    2264
Name: Morisset, dtype: int64

Postcode    2264
Name: Morisset Park, dtype: int64

Postcode    2264
Name: Myuna Bay, dtype: int64

Postcode    2264
Name: Sunshine, dtype: int64

Postcode    2264
Name: Windermere Park, dtype: int64

Postcode    2264
Name: Yarrawonga Park, dtype: int64

Postcode    2265
Name: Cooranbong, dtype: int64

Postcode    2265
Name: Martinsville, dtype: int64

Postcode    2267
Name: Wangi Wangi, dtype: int64

Postcode    2278
Name: Barnsley, dtype: int64

Postcode    2278
Name: Killingworth, dtype: int64

Postcode    2278
Name: Wakefield, dtype: int64

Postcode    2280
Name: Belmont, dtype: int64

Postcode    2280
Name: Belmont North, dtype: int64

Postcode    2280
Name: Belmont South, dtype: int64

Postcode    2280
Name: Croudace Bay, dtype: int64

Postcode    2280
Name: Floraville, dtype: int64

Postcode    2280
Name: Jewells, dtype: int64

Postcode    2280
Name: Marks Point, dtype: int64

Postcode    2280
Name: Valentine, dtype: int64

Postcode    2281
Name: Blacksmiths, dtype: int64

Postcode    2281
Name: Cams Wharf, dtype: int64

Postcode    2281
Name: Catherine Hill Bay, dtype: int64

Postcode    2281
Name: Caves Beach, dtype: int64

Postcode    2281
Name: Little Pelican, dtype: int64

Postcode    2281
Name: Middle Camp, dtype: int64

Postcode    2281
Name: Nords Wharf, dtype: int64

Postcode    2281
Name: Pelican, dtype: int64

Postcode    2281
Name: Swansea, dtype: int64

Postcode    2281
Name: Swansea Heads, dtype: int64

Postcode    2282
Name: Eleebana, dtype: int64

Postcode    2282
Name: Lakelands, dtype: int64

Postcode    2282
Name: Warners Bay, dtype: int64

Postcode    2283
Name: Arcadia Vale, dtype: int64

Postcode    2283
Name: Awaba, dtype: int64

Postcode    2283
Name: Balmoral, dtype: int64

Postcode    2283
Name: Blackalls Park, dtype: int64

Postcode    2283
Name: Bolton Point, dtype: int64

Postcode    2283
Name: Buttaba, dtype: int64

Postcode    2283
Name: Carey Bay, dtype: int64

Postcode    2283
Name: Coal Point, dtype: int64

Postcode    2283
Name: Fassifern, dtype: int64

Postcode    2283
Name: Fennell Bay, dtype: int64

Postcode    2283
Name: Fishing Point, dtype: int64

Postcode    2283
Name: Kilaben Bay, dtype: int64

Postcode    2283
Name: Rathmines, dtype: int64

Postcode    2283
Name: Ryhope, dtype: int64

Postcode    2283
Name: Toronto, dtype: int64

Postcode    2284
Name: Argenton, dtype: int64

Postcode    2284
Name: Boolaroo, dtype: int64

Postcode    2284
Name: Booragul, dtype: int64

Postcode    2284
Name: Marmong Point, dtype: int64

Postcode    2284
Name: Speers Point, dtype: int64

Postcode    2284
Name: Teralba, dtype: int64

Postcode    2284
Name: Woodrising, dtype: int64

Postcode    2285
Name: Cameron Park, dtype: int64

Postcode    2285
Name: Cardiff, dtype: int64

Postcode    2285
Name: Cardiff Heights, dtype: int64

Postcode    2285
Name: Cardiff South, dtype: int64

Postcode    2285
Name: Edgeworth, dtype: int64

Postcode    2285
Name: Glendale, dtype: int64

Postcode    2285
Name: Macquarie Hills, dtype: int64

Postcode    2286
Name: Holmesville, dtype: int64

Postcode    2286
Name: Seahampton, dtype: int64

Postcode    2286
Name: West Wallsend, dtype: int64

Postcode    2287
Name: Birmingham Gardens, dtype: int64

Postcode    2287
Name: Elermore Vale, dtype: int64

Postcode    2287
Name: Fletcher, dtype: int64

Postcode    2287
Name: Maryland, dtype: int64

Postcode    2287
Name: Minmi, dtype: int64

Postcode    2287
Name: Rankin Park, dtype: int64

Postcode    2287
Name: Wallsend, dtype: int64

Postcode    2289
Name: Adamstown, dtype: int64

Postcode    2289
Name: Adamstown Heights, dtype: int64

Postcode    2289
Name: Garden Suburb, dtype: int64

Postcode    2289
Name: Highfields, dtype: int64

Postcode    2289
Name: Kotara, dtype: int64

Postcode    2290
Name: Bennetts Green, dtype: int64

Postcode    2290
Name: Charlestown, dtype: int64

Postcode    2290
Name: Dudley, dtype: int64

Postcode    2290
Name: Gateshead, dtype: int64

              Postcode
Suburb
Hillsborough      2290
Hillsborough      2320

Postcode    2290
Name: Kahibah, dtype: int64

Postcode    2290
Name: Mount Hutton, dtype: int64

Postcode    2290
Name: Redhead, dtype: int64

Postcode    2290
Name: Tingira Heights, dtype: int64

Postcode    2290
Name: Whitebridge, dtype: int64

Postcode    2291
Name: Merewether, dtype: int64

Postcode    2291
Name: Merewether Heights, dtype: int64

Postcode    2291
Name: The Junction, dtype: int64

Postcode    2292
Name: Broadmeadow, dtype: int64

Postcode    2292
Name: Hamilton North, dtype: int64

Postcode    2293
Name: Maryville, dtype: int64

Postcode    2293
Name: Wickham, dtype: int64

            Postcode
Suburb
Carrington      2294
Carrington      2324

Postcode    2295
Name: Fern Bay, dtype: int64

Postcode    2295
Name: Stockton, dtype: int64

Postcode    2296
Name: Islington, dtype: int64

Postcode    2297
Name: Tighes Hill, dtype: int64

Postcode    2298
Name: Georgetown, dtype: int64

Postcode    2298
Name: Waratah, dtype: int64

Postcode    2298
Name: Waratah West, dtype: int64

Postcode    2299
Name: Jesmond, dtype: int64

Postcode    2299
Name: Lambton, dtype: int64

Postcode    2299
Name: North Lambton, dtype: int64

Postcode    2300
Name: Bar Beach, dtype: int64

Postcode    2300
Name: Cooks Hill, dtype: int64

Postcode    2300
Name: Newcastle, dtype: int64

Postcode    2300
Name: Newcastle East, dtype: int64

Postcode    2300
Name: The Hill, dtype: int64

Postcode    2302
Name: Newcastle West, dtype: int64

Postcode    2303
Name: Hamilton, dtype: int64

Postcode    2303
Name: Hamilton East, dtype: int64

Postcode    2303
Name: Hamilton South, dtype: int64

Postcode    2304
Name: Kooragang, dtype: int64

          Postcode
Suburb
Mayfield      2304
Mayfield      2580
Mayfield      2622
Mayfield      2787

Postcode    2304
Name: Mayfield East, dtype: int64

Postcode    2304
Name: Mayfield North, dtype: int64

Postcode    2304
Name: Mayfield West, dtype: int64

Postcode    2304
Name: Sandgate, dtype: int64

Postcode    2304
Name: Warabrook, dtype: int64

Postcode    2305
Name: Kotara East, dtype: int64

Postcode    2305
Name: New Lambton, dtype: int64

Postcode    2305
Name: New Lambton Heights, dtype: int64

Postcode    2306
Name: Windale, dtype: int64

Postcode    2307
Name: Shortland, dtype: int64

Postcode    2308
Name: Callaghan, dtype: int64

Postcode    2308
Name: Newcastle University, dtype: int64

Postcode    2309
Name: Dangar, dtype: int64

Postcode    2311
Name: Allynbrook, dtype: int64

Postcode    2311
Name: Bingleburra, dtype: int64

Postcode    2311
Name: Bonnington Park, dtype: int64

Postcode    2311
Name: Carrabolla, dtype: int64

Postcode    2311
Name: East Gresford, dtype: int64

Postcode    2311
Name: Eccleston, dtype: int64

Postcode    2311
Name: Gresford, dtype: int64

Postcode    2311
Name: Halton, dtype: int64

Postcode    2311
Name: Lewinsbrook, dtype: int64

Postcode    2311
Name: Lostock, dtype: int64

Postcode    2311
Name: Mount Rivers, dtype: int64

Postcode    2312
Name: Nabiac, dtype: int64

Postcode    2314
Name: Williamtown Raaf, dtype: int64

Postcode    2315
Name: Corlette, dtype: int64

Postcode    2315
Name: Fingal Bay, dtype: int64

Postcode    2315
Name: Gan Gan, dtype: int64

Postcode    2315
Name: Nelson Bay, dtype: int64

Postcode    2315
Name: Shoal Bay, dtype: int64

Postcode    2316
Name: Anna Bay, dtype: int64

              Postcode
Suburb
Boat Harbour      2316
Boat Harbour      2484

Postcode    2316
Name: Bobs Farm, dtype: int64

Postcode    2316
Name: Fishermans Bay, dtype: int64

Postcode    2316
Name: One Mile, dtype: int64

Postcode    2316
Name: Taylors Beach, dtype: int64

Postcode    2317
Name: Salamander Bay, dtype: int64

Postcode    2317
Name: Soldiers Point, dtype: int64

Postcode    2318
Name: Campvale, dtype: int64

Postcode    2318
Name: Ferodale, dtype: int64

Postcode    2318
Name: Fullerton Cove, dtype: int64

Postcode    2318
Name: Medowie, dtype: int64

Postcode    2318
Name: Oyster Cove, dtype: int64

Postcode    2318
Name: Salt Ash, dtype: int64

Postcode    2318
Name: Williamtown, dtype: int64

Postcode    2319
Name: Lemon Tree Passage, dtype: int64

Postcode    2319
Name: Mallabula, dtype: int64

Postcode    2319
Name: Tanilba Bay, dtype: int64

Postcode    2320
Name: Aberglasslyn, dtype: int64

Postcode    2320
Name: Allandale, dtype: int64

Postcode    2320
Name: Anambah, dtype: int64

Postcode    2320
Name: Bolwarra, dtype: int64

Postcode    2320
Name: Bolwarra Heights, dtype: int64

Postcode    2320
Name: Farley, dtype: int64

Postcode    2320
Name: Glen Oak, dtype: int64

Postcode    2320
Name: Gosforth, dtype: int64

Postcode    2320
Name: Horseshoe Bend, dtype: int64

Postcode    2320
Name: Keinbah, dtype: int64

Postcode    2320
Name: Largs, dtype: int64

Postcode    2320
Name: Lorn, dtype: int64

Postcode    2320
Name: Louth Park, dtype: int64

Postcode    2320
Name: Maitland, dtype: int64

Postcode    2320
Name: Maitland Vale, dtype: int64

Postcode    2320
Name: Melville, dtype: int64

Postcode    2320
Name: Mindaribba, dtype: int64

Postcode    2320
Name: Mount Dee, dtype: int64

Postcode    2320
Name: Oakhampton, dtype: int64

Postcode    2320
Name: Oakhampton Heights, dtype: int64

Postcode    2320
Name: Pokolbin, dtype: int64

Postcode    2320
Name: Rosebrook, dtype: int64

Postcode    2320
Name: Rothbury, dtype: int64

Postcode    2320
Name: Rutherford, dtype: int64

Postcode    2320
Name: South Maitland, dtype: int64

Postcode    2320
Name: Telarah, dtype: int64

Postcode    2320
Name: Wallalong, dtype: int64

Postcode    2320
Name: Windella, dtype: int64

Postcode    2321
Name: Berry Park, dtype: int64

Postcode    2321
Name: Butterwick, dtype: int64

Postcode    2321
Name: Clarence Town, dtype: int64

Postcode    2321
Name: Cliftleigh, dtype: int64

Postcode    2321
Name: Duckenfield, dtype: int64

Postcode    2321
Name: Duns Creek, dtype: int64

Postcode    2321
Name: Gillieston Heights, dtype: int64

Postcode    2321
Name: Glen Martin, dtype: int64

Postcode    2321
Name: Glen William, dtype: int64

Postcode    2321
Name: Harpers Hill, dtype: int64

Postcode    2321
Name: Heddon Greta, dtype: int64

Postcode    2321
Name: Hinton, dtype: int64

Postcode    2321
Name: Iona, dtype: int64

Postcode    2321
Name: Lochinvar, dtype: int64

Postcode    2321
Name: Luskintyre, dtype: int64

Postcode    2321
Name: Morpeth, dtype: int64

Postcode    2321
Name: Oswald, dtype: int64

Postcode    2321
Name: Phoenix Park, dtype: int64

Postcode    2321
Name: Raworth, dtype: int64

Postcode    2321
Name: Windermere, dtype: int64

Postcode    2321
Name: Woerden, dtype: int64

Postcode    2321
Name: Woodville, dtype: int64

Postcode    2322
Name: Beresfield, dtype: int64

Postcode    2322
Name: Black Hill, dtype: int64

Postcode    2322
Name: Hexham, dtype: int64

Postcode    2322
Name: Lenaghan, dtype: int64

Postcode    2322
Name: Stockrington, dtype: int64

Postcode    2322
Name: Tarro, dtype: int64

Postcode    2322
Name: Thornton, dtype: int64

Postcode    2322
Name: Tomago, dtype: int64

Postcode    2322
Name: Woodberry, dtype: int64

Postcode    2323
Name: Ashtonfield, dtype: int64

Postcode    2323
Name: Brunkerville, dtype: int64

Postcode    2323
Name: Buchanan, dtype: int64

Postcode    2323
Name: Buttai, dtype: int64

Postcode    2323
Name: East Maitland, dtype: int64

Postcode    2323
Name: Freemans Waterhole, dtype: int64

             Postcode
Suburb
Green Hills      2323
Green Hills      2365
Green Hills      2730

Postcode    2323
Name: Metford, dtype: int64

Postcode    2323
Name: Metford Dc, dtype: int64

Postcode    2323
Name: Mount Vincent, dtype: int64

Postcode    2323
Name: Mulbring, dtype: int64

Postcode    2323
Name: Pitnacree, dtype: int64

Postcode    2323
Name: Tenambit, dtype: int64

Postcode    2324
Name: Balickera, dtype: int64

Postcode    2324
Name: Brandy Hill, dtype: int64

Postcode    2324
Name: Bundabah, dtype: int64

Postcode    2324
Name: Cells River, dtype: int64

Postcode    2324
Name: Eagleton, dtype: int64

Postcode    2324
Name: East Seaham, dtype: int64

Postcode    2324
Name: Hawks Nest, dtype: int64

Postcode    2324
Name: Heatherbrae, dtype: int64

Postcode    2324
Name: Karuah, dtype: int64

                   Postcode
Suburb
Limeburners Creek      2324
Limeburners Creek      2444

Postcode    2324
Name: Millers Forest, dtype: int64

Postcode    2324
Name: Motto Farm, dtype: int64

Postcode    2324
Name: Nelsons Plains, dtype: int64

Postcode    2324
Name: North Arm Cove, dtype: int64

Postcode    2324
Name: Osterley, dtype: int64

Postcode    2324
Name: Pindimar, dtype: int64

Postcode    2324
Name: Raymond Terrace, dtype: int64

Postcode    2324
Name: Raymond Terrace East, dtype: int64

Postcode    2324
Name: Seaham, dtype: int64

          Postcode
Suburb
Swan Bay      2324
Swan Bay      2471

Postcode    2324
Name: Tahlee, dtype: int64

Postcode    2324
Name: Tea Gardens, dtype: int64

Postcode    2324
Name: Twelve Mile Creek, dtype: int64

          Postcode
Suburb
Wallaroo      2324
Wallaroo      2618

Postcode    2325
Name: Aberdare, dtype: int64

Postcode    2325
Name: Abernethy, dtype: int64

Postcode    2325
Name: Bellbird, dtype: int64

        Postcode
Suburb
Boree       2325
Boree       2864

             Postcode
Suburb
Cedar Creek      2325
Cedar Creek      2484

Postcode    2325
Name: Cessnock, dtype: int64

Postcode    2325
Name: Cessnock West, dtype: int64

Postcode    2325
Name: Congewai, dtype: int64

Postcode    2325
Name: Ellalong, dtype: int64

Postcode    2325
Name: Elrington, dtype: int64

Postcode    2325
Name: Greta Main, dtype: int64

Postcode    2325
Name: Kearsley, dtype: int64

Postcode    2325
Name: Kitchener, dtype: int64

Postcode    2325
Name: Laguna, dtype: int64

Postcode    2325
Name: Lovedale, dtype: int64

Postcode    2325
Name: Millfield, dtype: int64

Postcode    2325
Name: Mootai, dtype: int64

Postcode    2325
Name: Mount View, dtype: int64

Postcode    2325
Name: Narone Creek, dtype: int64

Postcode    2325
Name: Nulkaba, dtype: int64

Postcode    2325
Name: Paxton, dtype: int64

Postcode    2325
Name: Paynes Crossing, dtype: int64

Postcode    2325
Name: Pelton, dtype: int64

Postcode    2325
Name: Quorrobolong, dtype: int64

Postcode    2325
Name: Sweetmans Creek, dtype: int64

Postcode    2325
Name: Watagan, dtype: int64

Postcode    2325
Name: Wollombi, dtype: int64

Postcode    2325
Name: Yallambie, dtype: int64

Postcode    2326
Name: Abermain, dtype: int64

Postcode    2326
Name: Bishops Bridge, dtype: int64

Postcode    2326
Name: Loxford, dtype: int64

Postcode    2326
Name: Neath, dtype: int64

Postcode    2326
Name: Sawyers Gully, dtype: int64

Postcode    2326
Name: Weston, dtype: int64

Postcode    2327
Name: Kurri Kurri, dtype: int64

Postcode    2327
Name: Pelaw Main, dtype: int64

Postcode    2327
Name: Stanford Merthyr, dtype: int64

Postcode    2328
Name: Bureen, dtype: int64

Postcode    2328
Name: Dalswinton, dtype: int64

Postcode    2328
Name: Denman, dtype: int64

Postcode    2328
Name: Giants Creek, dtype: int64

Postcode    2328
Name: Hollydeen, dtype: int64

Postcode    2328
Name: Kerrabee, dtype: int64

Postcode    2328
Name: Mangoola, dtype: int64

Postcode    2328
Name: Martindale, dtype: int64

Postcode    2328
Name: Widden, dtype: int64

Postcode    2328
Name: Yarrawa, dtype: int64

Postcode    2329
Name: Borambil, dtype: int64

Postcode    2329
Name: Cassilis, dtype: int64

Postcode    2329
Name: Merriwa, dtype: int64

Postcode    2329
Name: Uarbry, dtype: int64

Postcode    2330
Name: Appletree Flat, dtype: int64

Postcode    2330
Name: Big Ridge, dtype: int64

Postcode    2330
Name: Bowmans Creek, dtype: int64

Postcode    2330
Name: Bridgman, dtype: int64

Postcode    2330
Name: Broke, dtype: int64

        Postcode
Suburb
Bulga       2330
Bulga       3586

Postcode    2330
Name: Camberwell, dtype: int64

Postcode    2330
Name: Carrowbrook, dtype: int64

Postcode    2330
Name: Clydesdale, dtype: int64

Postcode    2330
Name: Combo, dtype: int64

Postcode    2330
Name: Doyles Creek, dtype: int64

Postcode    2330
Name: Dunolly, dtype: int64

Postcode    2330
Name: Dyrring, dtype: int64

Postcode    2330
Name: Falbrook, dtype: int64

Postcode    2330
Name: Fern Gully, dtype: int64

Postcode    2330
Name: Fordwich, dtype: int64

Postcode    2330
Name: Garland Valley, dtype: int64

Postcode    2330
Name: Glendon, dtype: int64

Postcode    2330
Name: Glendonbrook, dtype: int64

Postcode    2330
Name: Glennies Creek, dtype: int64

Postcode    2330
Name: Glenridding, dtype: int64

Postcode    2330
Name: Goorangoola, dtype: int64

Postcode    2330
Name: Gouldsville, dtype: int64

        Postcode
Suburb
Gowrie      2330
Gowrie      2340

            Postcode
Suburb
Greenlands      2330
Greenlands      2631

Postcode    2330
Name: Hambledon Hill, dtype: int64

Postcode    2330
Name: Hebden, dtype: int64

Postcode    2330
Name: Howes Valley, dtype: int64

Postcode    2330
Name: Howick, dtype: int64

Postcode    2330
Name: Hunterview, dtype: int64

Postcode    2330
Name: Jerrys Plains, dtype: int64

Postcode    2330
Name: Lemington, dtype: int64

            Postcode
Suburb
Long Point      2330
Long Point      2564
Long Point      2800

Postcode    2330
Name: Maison Dieu, dtype: int64

Postcode    2330
Name: Mcdougalls Hill, dtype: int64

Postcode    2330
Name: Middle Falbrook, dtype: int64

Postcode    2330
Name: Milbrodale, dtype: int64

Postcode    2330
Name: Mirannie, dtype: int64

Postcode    2330
Name: Mitchells Flat, dtype: int64

             Postcode
Suburb
Mount Olive      2330
Mount Olive      2787

Postcode    2330
Name: Mount Royal, dtype: int64

Postcode    2330
Name: Mount Thorley, dtype: int64

Postcode    2330
Name: Obanvale, dtype: int64

Postcode    2330
Name: Putty, dtype: int64

Postcode    2330
Name: Ravensworth, dtype: int64

Postcode    2330
Name: Redbournberry, dtype: int64

             Postcode
Suburb
Reedy Creek      2330
Reedy Creek      2849

Postcode    2330
Name: Rixs Creek, dtype: int64

Postcode    2330
Name: Roughit, dtype: int64

Postcode    2330
Name: Scotts Flat, dtype: int64

Postcode    2330
Name: Sedgefield, dtype: int64

Postcode    2330
Name: Singleton, dtype: int64

Postcode    2330
Name: Singleton Heights, dtype: int64

          Postcode
Suburb
St Clair      2330
St Clair      2759

Postcode    2330
Name: Warkworth, dtype: int64

Postcode    2330
Name: Wattle Ponds, dtype: int64

Postcode    2330
Name: Westbrook, dtype: int64

Postcode    2330
Name: Whittingham, dtype: int64

Postcode    2330
Name: Wollemi, dtype: int64

Postcode    2330
Name: Wylies Flat, dtype: int64

Postcode    2331
Name: Singleton Milpo, dtype: int64

Postcode    2333
Name: Baerami, dtype: int64

Postcode    2333
Name: Baerami Creek, dtype: int64

Postcode    2333
Name: Bengalla, dtype: int64

Postcode    2333
Name: Castle Rock, dtype: int64

Postcode    2333
Name: Edderton, dtype: int64

Postcode    2333
Name: Gungal, dtype: int64

Postcode    2333
Name: Kayuga, dtype: int64

Postcode    2333
Name: Liddell, dtype: int64

Postcode    2333
Name: Manobalai, dtype: int64

Postcode    2333
Name: Mccullys Gap, dtype: int64

Postcode    2333
Name: Muscle Creek, dtype: int64

Postcode    2333
Name: Muswellbrook, dtype: int64

Postcode    2333
Name: Sandy Hollow, dtype: int64

Postcode    2333
Name: Wybong, dtype: int64

Postcode    2334
Name: Greta, dtype: int64

Postcode    2335
Name: Belford, dtype: int64

Postcode    2335
Name: Branxton, dtype: int64

         Postcode
Suburb
Dalwood      2335
Dalwood      2477

           Postcode
Suburb
Elderslie      2335
Elderslie      2570

              Postcode
Suburb
Lambs Valley      2335
Lambs Valley      2370

Postcode    2335
Name: Leconfield, dtype: int64

Postcode    2335
Name: Lower Belford, dtype: int64

Postcode    2335
Name: North Rothbury, dtype: int64

Postcode    2335
Name: Stanhope, dtype: int64

Postcode    2336
Name: Aberdeen, dtype: int64

Postcode    2336
Name: Dartbrook, dtype: int64

Postcode    2336
Name: Davis Creek, dtype: int64

Postcode    2336
Name: Rossgole, dtype: int64

Postcode    2336
Name: Rouchel, dtype: int64

Postcode    2336
Name: Rouchel Brook, dtype: int64

Postcode    2336
Name: Upper Dartbrook, dtype: int64

Postcode    2336
Name: Upper Rouchel, dtype: int64

Postcode    2337
Name: Belltrees, dtype: int64

Postcode    2337
Name: Brawboy, dtype: int64

Postcode    2337
Name: Bunnan, dtype: int64

Postcode    2337
Name: Dry Creek, dtype: int64

Postcode    2337
Name: Ellerston, dtype: int64

Postcode    2337
Name: Glenbawn, dtype: int64

Postcode    2337
Name: Glenrock, dtype: int64

Postcode    2337
Name: Gundy, dtype: int64

Postcode    2337
Name: Kars Springs, dtype: int64

Postcode    2337
Name: Middle Brook, dtype: int64

Postcode    2337
Name: Moobi, dtype: int64

Postcode    2337
Name: Moonan Brook, dtype: int64

Postcode    2337
Name: Moonan Flat, dtype: int64

Postcode    2337
Name: Omadale, dtype: int64

Postcode    2337
Name: Owens Gap, dtype: int64

Postcode    2337
Name: Pages Creek, dtype: int64

Postcode    2337
Name: Parkville, dtype: int64

Postcode    2337
Name: Satur, dtype: int64

Postcode    2337
Name: Scone, dtype: int64

Postcode    2337
Name: Segenhoe, dtype: int64

Postcode    2337
Name: Stewarts Brook, dtype: int64

Postcode    2337
Name: Tomalla, dtype: int64

Postcode    2337
Name: Waverly, dtype: int64

Postcode    2337
Name: Wingen, dtype: int64

Postcode    2337
Name: Woolooma, dtype: int64

Postcode    2338
Name: Ardglen, dtype: int64

Postcode    2338
Name: Blandford, dtype: int64

Postcode    2338
Name: Crawney, dtype: int64

Postcode    2338
Name: Green Creek, dtype: int64

Postcode    2338
Name: Murrurundi, dtype: int64

Postcode    2338
Name: Pages River, dtype: int64

             Postcode
Suburb
Sandy Creek      2338
Sandy Creek      2835

Postcode    2338
Name: Scotts Creek, dtype: int64

Postcode    2338
Name: Timor, dtype: int64

Postcode    2339
Name: Big Jacks Creek, dtype: int64

Postcode    2339
Name: Braefield, dtype: int64

Postcode    2339
Name: Cattle Creek, dtype: int64

Postcode    2339
Name: Chilcotts Creek, dtype: int64

Postcode    2339
Name: Little Jacks Creek, dtype: int64

Postcode    2339
Name: Macdonalds Creek, dtype: int64

Postcode    2339
Name: Parraweena, dtype: int64

Postcode    2339
Name: Warrah, dtype: int64

Postcode    2339
Name: Warrah Creek, dtype: int64

Postcode    2339
Name: Willow Tree, dtype: int64

Postcode    2340
Name: Appleby, dtype: int64

Postcode    2340
Name: Bective, dtype: int64

Postcode    2340
Name: Bithramere, dtype: int64

Postcode    2340
Name: Bowling Alley Point, dtype: int64

Postcode    2340
Name: Calala, dtype: int64

Postcode    2340
Name: Carroll, dtype: int64

Postcode    2340
Name: Daruka, dtype: int64

Postcode    2340
Name: Dungowan, dtype: int64

Postcode    2340
Name: East Tamworth, dtype: int64

Postcode    2340
Name: Gidley, dtype: int64

Postcode    2340
Name: Goonoo Goonoo, dtype: int64

Postcode    2340
Name: Hallsville, dtype: int64

Postcode    2340
Name: Hanging Rock, dtype: int64

Postcode    2340
Name: Hillvue, dtype: int64

Postcode    2340
Name: Keepit, dtype: int64

           Postcode
Suburb
Kingswood      2340
Kingswood      2550
Kingswood      2747

Postcode    2340
Name: Loomberah, dtype: int64

Postcode    2340
Name: Moore Creek, dtype: int64

Postcode    2340
Name: Nemingha, dtype: int64

Postcode    2340
Name: North Tamworth, dtype: int64

Postcode    2340
Name: Nundle, dtype: int64

Postcode    2340
Name: Ogunbil, dtype: int64

Postcode    2340
Name: Oxley Vale, dtype: int64

Postcode    2340
Name: Piallamore, dtype: int64

Postcode    2340
Name: Somerton, dtype: int64

Postcode    2340
Name: Taminda, dtype: int64

Postcode    2340
Name: Tamworth, dtype: int64

Postcode    2340
Name: Tamworth South, dtype: int64

Postcode    2340
Name: Timbumburi, dtype: int64

Postcode    2340
Name: Wallamore, dtype: int64

Postcode    2340
Name: Warral, dtype: int64

Postcode    2340
Name: Weabonga, dtype: int64

Postcode    2340
Name: West Tamworth, dtype: int64

          Postcode
Suburb
Westdale      2340
Westdale      2650

Postcode    2340
Name: Woolomin, dtype: int64

Postcode    2341
Name: Werris Creek, dtype: int64

Postcode    2342
Name: Currabubula, dtype: int64

Postcode    2342
Name: Piallaway, dtype: int64

Postcode    2343
Name: Blackville, dtype: int64

Postcode    2343
Name: Bundella, dtype: int64

Postcode    2343
Name: Caroona, dtype: int64

Postcode    2343
Name: Colly Blue, dtype: int64

Postcode    2343
Name: Coomoo Coomoo, dtype: int64

Postcode    2343
Name: Pine Ridge, dtype: int64

Postcode    2343
Name: Quipolly, dtype: int64

Postcode    2343
Name: Quirindi, dtype: int64

Postcode    2343
Name: Spring Ridge, dtype: int64

Postcode    2343
Name: Wallabadah, dtype: int64

Postcode    2343
Name: Warrah Ridge, dtype: int64

Postcode    2343
Name: Windy, dtype: int64

Postcode    2343
Name: Yannergee, dtype: int64

Postcode    2344
Name: Duri, dtype: int64

Postcode    2344
Name: Winton, dtype: int64

Postcode    2345
Name: Attunga, dtype: int64

           Postcode
Suburb
Garthowen      2345
Garthowen      2795

Postcode    2346
Name: Halls Creek, dtype: int64

Postcode    2346
Name: Klori, dtype: int64

Postcode    2346
Name: Manilla, dtype: int64

Postcode    2346
Name: Upper Manilla, dtype: int64

Postcode    2347
Name: Banoon, dtype: int64

Postcode    2347
Name: Barraba, dtype: int64

Postcode    2347
Name: Caroda, dtype: int64

Postcode    2347
Name: Cobbadah, dtype: int64

Postcode    2347
Name: Gulf Creek, dtype: int64

Postcode    2347
Name: Gundamulda, dtype: int64

Postcode    2347
Name: Horton Valley, dtype: int64

Postcode    2347
Name: Ironbark, dtype: int64

Postcode    2347
Name: Lindesay, dtype: int64

Postcode    2347
Name: Longarm, dtype: int64

Postcode    2347
Name: Mayvale, dtype: int64

          Postcode
Suburb
Red Hill      2347
Red Hill      2720

Postcode    2347
Name: Thirloene, dtype: int64

Postcode    2347
Name: Woodsreef, dtype: int64

Postcode    2350
Name: Aberfoyle, dtype: int64

Postcode    2350
Name: Abington, dtype: int64

Postcode    2350
Name: Acacia Park, dtype: int64

Postcode    2350
Name: Argyle, dtype: int64

Postcode    2350
Name: Armidale, dtype: int64

Postcode    2350
Name: Ben Venue, dtype: int64

Postcode    2350
Name: Bona Vista, dtype: int64

           Postcode
Suburb
Boorolong      2350
Boorolong      2365

Postcode    2350
Name: Castle Doyle, dtype: int64

Postcode    2350
Name: Commissioners Waters, dtype: int64

Postcode    2350
Name: Dangarsleigh, dtype: int64

Postcode    2350
Name: Donald Creek, dtype: int64

Postcode    2350
Name: Dumaresq, dtype: int64

Postcode    2350
Name: Duval, dtype: int64

Postcode    2350
Name: East Armidale, dtype: int64

           Postcode
Suburb
Hillgrove      2350
Hillgrove      2650

Postcode    2350
Name: Invergowrie, dtype: int64

Postcode    2350
Name: Jeogla, dtype: int64

Postcode    2350
Name: Kellys Plains, dtype: int64

           Postcode
Suburb
Lyndhurst      2350
Lyndhurst      2797

Postcode    2350
Name: Madgwick, dtype: int64

Postcode    2350
Name: Metz, dtype: int64

Postcode    2350
Name: Newling, dtype: int64

Postcode    2350
Name: North Hill, dtype: int64

Postcode    2350
Name: Puddledock, dtype: int64

Postcode    2350
Name: Saumarez, dtype: int64

Postcode    2350
Name: Saumarez Ponds, dtype: int64

Postcode    2350
Name: Soudan Heights, dtype: int64

Postcode    2350
Name: South Hill, dtype: int64

Postcode    2350
Name: St Patricks, dtype: int64

Postcode    2350
Name: Thalgarrah, dtype: int64

Postcode    2350
Name: Tilbuster, dtype: int64

Postcode    2350
Name: Wards Mistake, dtype: int64

Postcode    2350
Name: West Armidale, dtype: int64

Postcode    2350
Name: Wollomombi, dtype: int64

Postcode    2350
Name: Wongwibinda, dtype: int64

Postcode    2351
Name: University Of New England, dtype: int64

Postcode    2352
Name: Kootingal, dtype: int64

Postcode    2352
Name: Limbri, dtype: int64

Postcode    2352
Name: Mulla Creek, dtype: int64

Postcode    2352
Name: Tintinhull, dtype: int64

Postcode    2353
Name: Moonbi, dtype: int64

Postcode    2354
Name: Branga Plains, dtype: int64

Postcode    2354
Name: Kentucky, dtype: int64

Postcode    2354
Name: Kentucky South, dtype: int64

Postcode    2354
Name: Moona Plains, dtype: int64

Postcode    2354
Name: Niangala, dtype: int64

Postcode    2354
Name: Nowendoc, dtype: int64

Postcode    2354
Name: Upper Yarrowitch, dtype: int64

Postcode    2354
Name: Walcha, dtype: int64

Postcode    2354
Name: Wollun, dtype: int64

Postcode    2354
Name: Woolbrook, dtype: int64

Postcode    2354
Name: Yarrowitch, dtype: int64

Postcode    2355
Name: Bendemeer, dtype: int64

         Postcode
Suburb
Retreat      2355
Retreat      2713

Postcode    2355
Name: Watsons Creek, dtype: int64

Postcode    2356
Name: Gwabegar, dtype: int64

Postcode    2357
Name: Bugaldie, dtype: int64

Postcode    2357
Name: Coonabarabran, dtype: int64

Postcode    2357
Name: Purlewaugh, dtype: int64

Postcode    2357
Name: Rocky Glen, dtype: int64

Postcode    2357
Name: Ulamambri, dtype: int64

Postcode    2357
Name: Yearinan, dtype: int64

Postcode    2358
Name: Arding, dtype: int64

              Postcode
Suburb
Bakers Creek      2358
Bakers Creek      2422

Postcode    2358
Name: Balala, dtype: int64

Postcode    2358
Name: Gostwyck, dtype: int64

Postcode    2358
Name: Kingstown, dtype: int64

Postcode    2358
Name: Mihi, dtype: int64

Postcode    2358
Name: Rocky River, dtype: int64

Postcode    2358
Name: Salisbury Plains, dtype: int64

           Postcode
Suburb
Torryburn      2358
Torryburn      2421

Postcode    2358
Name: Uralla, dtype: int64

Postcode    2358
Name: Yarrowyck, dtype: int64

Postcode    2359
Name: Bundarra, dtype: int64

Postcode    2359
Name: Camerons Creek, dtype: int64

Postcode    2360
Name: Auburn Vale, dtype: int64

Postcode    2360
Name: Bukkulla, dtype: int64

Postcode    2360
Name: Cherry Tree Hill, dtype: int64

Postcode    2360
Name: Copeton, dtype: int64

Postcode    2360
Name: Elsmore, dtype: int64

Postcode    2360
Name: Gilgai, dtype: int64

Postcode    2360
Name: Graman, dtype: int64

Postcode    2360
Name: Gum Flat, dtype: int64

Postcode    2360
Name: Howell, dtype: int64

Postcode    2360
Name: Inverell, dtype: int64

              Postcode
Suburb
Kings Plains      2360
Kings Plains      2799

Postcode    2360
Name: Little Plain, dtype: int64

            Postcode
Suburb
Long Plain      2360
Long Plain      2629

Postcode    2360
Name: Mount Russell, dtype: int64

Postcode    2360
Name: Newstead, dtype: int64

Postcode    2360
Name: Nullamanna, dtype: int64

Postcode    2360
Name: Oakwood, dtype: int64

Postcode    2360
Name: Paradise, dtype: int64

Postcode    2360
Name: Rob Roy, dtype: int64

Postcode    2360
Name: Sapphire, dtype: int64

Postcode    2360
Name: Spring Mountain, dtype: int64

Postcode    2360
Name: Stanborough, dtype: int64

Postcode    2360
Name: Swanbrook, dtype: int64

Postcode    2360
Name: Wallangra, dtype: int64

Postcode    2361
Name: Ashford, dtype: int64

Postcode    2361
Name: Atholwood, dtype: int64

Postcode    2361
Name: Bonshaw, dtype: int64

Postcode    2361
Name: Limestone, dtype: int64

Postcode    2361
Name: Pindaroi, dtype: int64

Postcode    2365
Name: Backwater, dtype: int64

Postcode    2365
Name: Bald Blair, dtype: int64

Postcode    2365
Name: Baldersleigh, dtype: int64

Postcode    2365
Name: Bassendean, dtype: int64

Postcode    2365
Name: Ben Lomond, dtype: int64

Postcode    2365
Name: Black Mountain, dtype: int64

Postcode    2365
Name: Briarbrook, dtype: int64

Postcode    2365
Name: Brockley, dtype: int64

Postcode    2365
Name: Brushy Creek, dtype: int64

Postcode    2365
Name: Falconer, dtype: int64

               Postcode
Suburb
Georges Creek      2365
Georges Creek      2440

Postcode    2365
Name: Glen Nevis, dtype: int64

Postcode    2365
Name: Glencoe, dtype: int64

Postcode    2365
Name: Guyra, dtype: int64

Postcode    2365
Name: Llangothlin, dtype: int64

Postcode    2365
Name: Maybole, dtype: int64

Postcode    2365
Name: Mount Mitchell, dtype: int64

Postcode    2365
Name: New Valley, dtype: int64

Postcode    2365
Name: Oban, dtype: int64

Postcode    2365
Name: South Guyra, dtype: int64

Postcode    2365
Name: Tenterden, dtype: int64

          Postcode
Suburb
The Gulf      2365
The Gulf      2371

Postcode    2365
Name: Tubbamurra, dtype: int64

Postcode    2365
Name: Wandsworth, dtype: int64

Postcode    2369
Name: Old Mill, dtype: int64

Postcode    2369
Name: Stannifer, dtype: int64

Postcode    2369
Name: Tingha, dtype: int64

Postcode    2370
Name: Bald Nob, dtype: int64

Postcode    2370
Name: Diehard, dtype: int64

Postcode    2370
Name: Dundee, dtype: int64

Postcode    2370
Name: Furracabad, dtype: int64

Postcode    2370
Name: Gibraltar Range, dtype: int64

Postcode    2370
Name: Glen Elgin, dtype: int64

Postcode    2370
Name: Glen Innes, dtype: int64

Postcode    2370
Name: Kingsgate, dtype: int64

Postcode    2370
Name: Kookabookra, dtype: int64

Postcode    2370
Name: Matheson, dtype: int64

Postcode    2370
Name: Moggs Swamp, dtype: int64

Postcode    2370
Name: Moogem, dtype: int64

        Postcode
Suburb
Morven      2370
Morven      2660

Postcode    2370
Name: Newton Boyd, dtype: int64

Postcode    2370
Name: Pinkett, dtype: int64

Postcode    2370
Name: Rangers Valley, dtype: int64

Postcode    2370
Name: Red Range, dtype: int64

Postcode    2370
Name: Reddestone, dtype: int64

Postcode    2370
Name: Shannon Vale, dtype: int64

Postcode    2370
Name: Stonehenge, dtype: int64

Postcode    2370
Name: Swan Vale, dtype: int64

Postcode    2370
Name: Wellingrove, dtype: int64

Postcode    2370
Name: Yarrowford, dtype: int64

Postcode    2371
Name: Capoompeta, dtype: int64

Postcode    2371
Name: Deepwater, dtype: int64

Postcode    2371
Name: Emmaville, dtype: int64

Postcode    2371
Name: Rocky Creek, dtype: int64

Postcode    2371
Name: Stannum, dtype: int64

Postcode    2371
Name: Tent Hill, dtype: int64

Postcode    2371
Name: Torrington, dtype: int64

Postcode    2371
Name: Tungsten, dtype: int64

Postcode    2371
Name: Wellington Vale, dtype: int64

Postcode    2371
Name: Yellow Dam, dtype: int64

Postcode    2372
Name: Billyrimba, dtype: int64

Postcode    2372
Name: Black Swamp, dtype: int64

Postcode    2372
Name: Bluff Rock, dtype: int64

Postcode    2372
Name: Bolivia, dtype: int64

Postcode    2372
Name: Boonoo Boonoo, dtype: int64

Postcode    2372
Name: Boorook, dtype: int64

Postcode    2372
Name: Bryans Gap, dtype: int64

Postcode    2372
Name: Bungulla, dtype: int64

Postcode    2372
Name: Carrolls Creek, dtype: int64

Postcode    2372
Name: Liston, dtype: int64

Postcode    2372
Name: Mingoola, dtype: int64

Postcode    2372
Name: Pyes Creek, dtype: int64

Postcode    2372
Name: Rivertree, dtype: int64

Postcode    2372
Name: Sandy Flat, dtype: int64

Postcode    2372
Name: Sandy Hill, dtype: int64

Postcode    2372
Name: Silent Grove, dtype: int64

Postcode    2372
Name: Steinbrook, dtype: int64

Postcode    2372
Name: Sunnyside, dtype: int64

Postcode    2372
Name: Tenterfield, dtype: int64

Postcode    2372
Name: The Scrub, dtype: int64

Postcode    2372
Name: Willsons Downfall, dtype: int64

Postcode    2372
Name: Wylie Creek, dtype: int64

Postcode    2379
Name: Goolhi, dtype: int64

Postcode    2379
Name: Mullaley, dtype: int64

Postcode    2380
Name: Basin Plain, dtype: int64

Postcode    2380
Name: Blue Vale, dtype: int64

Postcode    2380
Name: Burburgate, dtype: int64

Postcode    2380
Name: Coocooboonah, dtype: int64

Postcode    2380
Name: Emerald Hill, dtype: int64

Postcode    2380
Name: Ghoolendaadi, dtype: int64

Postcode    2380
Name: Gunnedah, dtype: int64

Postcode    2380
Name: Gunnembene, dtype: int64

Postcode    2380
Name: Kelvin, dtype: int64

Postcode    2380
Name: Marys Mount, dtype: int64

Postcode    2380
Name: Meermaul, dtype: int64

        Postcode
Suburb
Milroy      2380
Milroy      2850

Postcode    2380
Name: Noggabri, dtype: int64

Postcode    2380
Name: Orange Grove, dtype: int64

Postcode    2380
Name: Rangari, dtype: int64

Postcode    2381
Name: Breeza, dtype: int64

Postcode    2381
Name: Curlewis, dtype: int64

Postcode    2381
Name: Nea, dtype: int64

Postcode    2381
Name: Premer, dtype: int64

Postcode    2381
Name: Pullaming, dtype: int64

Postcode    2381
Name: Tambar Springs, dtype: int64

Postcode    2382
Name: Boggabri, dtype: int64

Postcode    2382
Name: Maules Creek, dtype: int64

Postcode    2382
Name: Wean, dtype: int64

Postcode    2382
Name: Willala, dtype: int64

Postcode    2386
Name: Burren Junction, dtype: int64

Postcode    2386
Name: Drildool, dtype: int64

Postcode    2387
Name: Rowena, dtype: int64

Postcode    2388
Name: Boolcarroll, dtype: int64

Postcode    2388
Name: Cuttabri, dtype: int64

Postcode    2388
Name: Jews Lagoon, dtype: int64

Postcode    2388
Name: Merah North, dtype: int64

Postcode    2388
Name: Pilliga, dtype: int64

Postcode    2388
Name: Spring Plains, dtype: int64

Postcode    2388
Name: The Pilliga, dtype: int64

Postcode    2388
Name: Wee Waa, dtype: int64

Postcode    2388
Name: Yarrie Lake, dtype: int64

Postcode    2390
Name: Baan Baa, dtype: int64

Postcode    2390
Name: Bohena Creek, dtype: int64

Postcode    2390
Name: Bullawa Creek, dtype: int64

Postcode    2390
Name: Couradda, dtype: int64

Postcode    2390
Name: Edgeroi, dtype: int64

Postcode    2390
Name: Eulah Creek, dtype: int64

Postcode    2390
Name: Harparary, dtype: int64

Postcode    2390
Name: Jacks Creek, dtype: int64

Postcode    2390
Name: Kaputar, dtype: int64

Postcode    2390
Name: Narrabri, dtype: int64

Postcode    2390
Name: Narrabri West, dtype: int64

Postcode    2390
Name: Tarriaro, dtype: int64

Postcode    2390
Name: Turrawan, dtype: int64

Postcode    2395
Name: Binnaway, dtype: int64

Postcode    2395
Name: Weetaliba, dtype: int64

Postcode    2396
Name: Baradine, dtype: int64

Postcode    2396
Name: Barwon, dtype: int64

Postcode    2396
Name: Kenebri, dtype: int64

Postcode    2397
Name: Bellata, dtype: int64

Postcode    2397
Name: Millie, dtype: int64

         Postcode
Suburb
Thalaba      2397
Thalaba      2583

Postcode    2398
Name: Gurley, dtype: int64

Postcode    2399
Name: Biniguy, dtype: int64

Postcode    2399
Name: Milguy, dtype: int64

Postcode    2399
Name: Pallamallawa, dtype: int64

Postcode    2400
Name: Ashley, dtype: int64

Postcode    2400
Name: Bullarah, dtype: int64

Postcode    2400
Name: Crooble, dtype: int64

Postcode    2400
Name: Mallowa, dtype: int64

Postcode    2400
Name: Moree, dtype: int64

Postcode    2400
Name: Moree East, dtype: int64

Postcode    2400
Name: Terry Hie Hie, dtype: int64

Postcode    2400
Name: Tikitere, dtype: int64

Postcode    2400
Name: Tulloona, dtype: int64

Postcode    2400
Name: Yarraman, dtype: int64

Postcode    2401
Name: Gravesend, dtype: int64

Postcode    2402
Name: Coolatai, dtype: int64

Postcode    2402
Name: Warialda, dtype: int64

Postcode    2402
Name: Warialda Rail, dtype: int64

Postcode    2403
Name: Delungra, dtype: int64

Postcode    2403
Name: Gragin, dtype: int64

Postcode    2403
Name: Koloona, dtype: int64

Postcode    2403
Name: Myall Creek, dtype: int64

Postcode    2404
Name: Bingara, dtype: int64

Postcode    2404
Name: Dinoga, dtype: int64

Postcode    2404
Name: Keera, dtype: int64

Postcode    2404
Name: Upper Bingara, dtype: int64

Postcode    2405
Name: Boomi, dtype: int64

Postcode    2405
Name: Garah, dtype: int64

Postcode    2406
Name: Mungindi, dtype: int64

Postcode    2406
Name: Weemelah, dtype: int64

Postcode    2408
Name: Mungle, dtype: int64

Postcode    2408
Name: North Star, dtype: int64

Postcode    2409
Name: Boggabilla, dtype: int64

Postcode    2410
Name: Yetman, dtype: int64

Postcode    2411
Name: Croppa Creek, dtype: int64

Postcode    2415
Name: Monkerai, dtype: int64

Postcode    2415
Name: Nooroo, dtype: int64

Postcode    2415
Name: Stroud Road, dtype: int64

Postcode    2415
Name: Weismantels, dtype: int64

Postcode    2420
Name: Bandon Grove, dtype: int64

Postcode    2420
Name: Bendolba, dtype: int64

Postcode    2420
Name: Brookfield, dtype: int64

Postcode    2420
Name: Brownmore, dtype: int64

Postcode    2420
Name: Cambra, dtype: int64

Postcode    2420
Name: Chichester, dtype: int64

Postcode    2420
Name: Dingadee, dtype: int64

Postcode    2420
Name: Dungog, dtype: int64

Postcode    2420
Name: Dusodie, dtype: int64

Postcode    2420
Name: Flat Tops, dtype: int64

Postcode    2420
Name: Fosterton, dtype: int64

Postcode    2420
Name: Hilldale, dtype: int64

Postcode    2420
Name: Main Creek, dtype: int64

Postcode    2420
Name: Marshdale, dtype: int64

Postcode    2420
Name: Martins Creek, dtype: int64

Postcode    2420
Name: Munni, dtype: int64

Postcode    2420
Name: Salisbury, dtype: int64

Postcode    2420
Name: Tillegra, dtype: int64

Postcode    2420
Name: Underbank, dtype: int64

Postcode    2420
Name: Upper Chichester, dtype: int64

Postcode    2420
Name: Wallarobba, dtype: int64

Postcode    2421
Name: Fishers Hill, dtype: int64

Postcode    2421
Name: Paterson, dtype: int64

Postcode    2421
Name: Tocal, dtype: int64

Postcode    2421
Name: Trevallyn, dtype: int64

Postcode    2421
Name: Vacy, dtype: int64

            Postcode
Suburb
Back Creek      2422
Back Creek      2480
Back Creek      2484
Back Creek      2622
Back Creek      2729

Postcode    2422
Name: Barrington, dtype: int64

Postcode    2422
Name: Barrington Tops, dtype: int64

Postcode    2422
Name: Belbora, dtype: int64

Postcode    2422
Name: Berrico, dtype: int64

Postcode    2422
Name: Bindera, dtype: int64

Postcode    2422
Name: Bowman, dtype: int64

Postcode    2422
Name: Bowman Farm, dtype: int64

Postcode    2422
Name: Bretti, dtype: int64

Postcode    2422
Name: Bulliac, dtype: int64

Postcode    2422
Name: Bundook, dtype: int64

Postcode    2422
Name: Callaghans Creeks, dtype: int64

Postcode    2422
Name: Cobark, dtype: int64

Postcode    2422
Name: Coneac, dtype: int64

Postcode    2422
Name: Copeland, dtype: int64

Postcode    2422
Name: Corroboree Flat, dtype: int64

Postcode    2422
Name: Craven, dtype: int64

Postcode    2422
Name: Craven Plateau, dtype: int64

Postcode    2422
Name: Curricabark, dtype: int64

Postcode    2422
Name: Dewitt, dtype: int64

Postcode    2422
Name: Doon Ayre, dtype: int64

Postcode    2422
Name: Faulkland, dtype: int64

Postcode    2422
Name: Forbesdale, dtype: int64

Postcode    2422
Name: Gangat, dtype: int64

Postcode    2422
Name: Giro, dtype: int64

Postcode    2422
Name: Glen Ward, dtype: int64

Postcode    2422
Name: Gloucester, dtype: int64

Postcode    2422
Name: Invergordon, dtype: int64

Postcode    2422
Name: Kia Ora, dtype: int64

Postcode    2422
Name: Maudville, dtype: int64

Postcode    2422
Name: Mograni, dtype: int64

Postcode    2422
Name: Mograni Creek, dtype: int64

Postcode    2422
Name: Moppy, dtype: int64

Postcode    2422
Name: Mount Peerless, dtype: int64

Postcode    2422
Name: Pitlochry, dtype: int64

Postcode    2422
Name: Rawdon Vale, dtype: int64

Postcode    2422
Name: Rookhurst, dtype: int64

Postcode    2422
Name: Stratford, dtype: int64

Postcode    2422
Name: Tibbuc, dtype: int64

Postcode    2422
Name: Titaatee Creek, dtype: int64

Postcode    2422
Name: Tugrabakh, dtype: int64

Postcode    2422
Name: Upper Bowman, dtype: int64

Postcode    2422
Name: Wallanbah, dtype: int64

Postcode    2422
Name: Wapra, dtype: int64

Postcode    2422
Name: Wards River, dtype: int64

Postcode    2422
Name: Waukivory, dtype: int64

Postcode    2422
Name: Wirradgurie, dtype: int64

Postcode    2422
Name: Woko, dtype: int64

Postcode    2423
Name: Bombah Point, dtype: int64

Postcode    2423
Name: Boolambayte, dtype: int64

Postcode    2423
Name: Bulahdelah, dtype: int64

Postcode    2423
Name: Bungwahl, dtype: int64

Postcode    2423
Name: Coolongolook, dtype: int64

Postcode    2423
Name: Crawford River, dtype: int64

Postcode    2423
Name: Markwell, dtype: int64

Postcode    2423
Name: Mayers Flat, dtype: int64

Postcode    2423
Name: Nerong, dtype: int64

Postcode    2423
Name: Seal Rocks, dtype: int64

Postcode    2423
Name: Topi Topi, dtype: int64

Postcode    2423
Name: Upper Myall, dtype: int64

Postcode    2423
Name: Wallingat, dtype: int64

Postcode    2423
Name: Wang Wauk, dtype: int64

Postcode    2423
Name: Warranulla, dtype: int64

Postcode    2423
Name: Willina, dtype: int64

Postcode    2423
Name: Wootton, dtype: int64

Postcode    2424
Name: Caffreys Flat, dtype: int64

Postcode    2424
Name: Charity Creek, dtype: int64

Postcode    2424
Name: Cooplacurripa, dtype: int64

Postcode    2424
Name: Cundle Flat, dtype: int64

Postcode    2424
Name: Knorrit Flat, dtype: int64

Postcode    2424
Name: Mount George, dtype: int64

Postcode    2424
Name: Number One, dtype: int64

Postcode    2424
Name: Rocks Crossing, dtype: int64

Postcode    2424
Name: Tiri, dtype: int64

Postcode    2424
Name: Woodside, dtype: int64

Postcode    2425
Name: Allworth, dtype: int64

Postcode    2425
Name: Booral, dtype: int64

Postcode    2425
Name: Girvan, dtype: int64

Postcode    2425
Name: Stroud, dtype: int64

Postcode    2425
Name: The Branch, dtype: int64

Postcode    2425
Name: Washpool, dtype: int64

Postcode    2426
Name: Coopernook, dtype: int64

Postcode    2426
Name: Langley Vale, dtype: int64

Postcode    2426
Name: Moto, dtype: int64

Postcode    2427
Name: Crowdy Head, dtype: int64

Postcode    2427
Name: Harrington, dtype: int64

Postcode    2428
Name: Blueys Beach, dtype: int64

Postcode    2428
Name: Boomerang Beach, dtype: int64

Postcode    2428
Name: Booti Booti, dtype: int64

Postcode    2428
Name: Charlotte Bay, dtype: int64

Postcode    2428
Name: Coomba Bay, dtype: int64

Postcode    2428
Name: Coomba Park, dtype: int64

Postcode    2428
Name: Darawank, dtype: int64

Postcode    2428
Name: Elizabeth Beach, dtype: int64

Postcode    2428
Name: Forster, dtype: int64

Postcode    2428
Name: Sandbar, dtype: int64

Postcode    2428
Name: Smiths Lake, dtype: int64

Postcode    2428
Name: Tarbuck Bay, dtype: int64

Postcode    2428
Name: Tiona, dtype: int64

Postcode    2428
Name: Tuncurry, dtype: int64

Postcode    2428
Name: Whoota, dtype: int64

Postcode    2429
Name: Bobin, dtype: int64

Postcode    2429
Name: Boorganna, dtype: int64

Postcode    2429
Name: Bucca Wauka, dtype: int64

Postcode    2429
Name: Bulby Brush, dtype: int64

Postcode    2429
Name: Bulga Forest, dtype: int64

Postcode    2429
Name: Bunyah, dtype: int64

Postcode    2429
Name: Burrell Creek, dtype: int64

Postcode    2429
Name: Caparra, dtype: int64

Postcode    2429
Name: Cedar Party, dtype: int64

Postcode    2429
Name: Comboyne, dtype: int64

Postcode    2429
Name: Dingo Forest, dtype: int64

Postcode    2429
Name: Dyers Crossing, dtype: int64

Postcode    2429
Name: Elands, dtype: int64

Postcode    2429
Name: Firefly, dtype: int64

Postcode    2429
Name: Innes View, dtype: int64

Postcode    2429
Name: Karaak Flat, dtype: int64

Postcode    2429
Name: Killabakh, dtype: int64

Postcode    2429
Name: Killawarra, dtype: int64

Postcode    2429
Name: Kimbriki, dtype: int64

             Postcode
Suburb
Kings Creek      2429
Kings Creek      2446

Postcode    2429
Name: Kippaxs, dtype: int64

Postcode    2429
Name: Krambach, dtype: int64

Postcode    2429
Name: Kundibakh, dtype: int64

Postcode    2429
Name: Marlee, dtype: int64

Postcode    2429
Name: Mooral Creek, dtype: int64

Postcode    2429
Name: Strathcedar, dtype: int64

Postcode    2429
Name: The Bight, dtype: int64

Postcode    2429
Name: Tipperary, dtype: int64

Postcode    2429
Name: Warriwillah, dtype: int64

Postcode    2429
Name: Wherrol Flat, dtype: int64

Postcode    2429
Name: Wingham, dtype: int64

Postcode    2429
Name: Yarratt Forest, dtype: int64

Postcode    2430
Name: Black Head, dtype: int64

Postcode    2430
Name: Bohnock, dtype: int64

Postcode    2430
Name: Bootawa, dtype: int64

Postcode    2430
Name: Brimbin, dtype: int64

Postcode    2430
Name: Chatham, dtype: int64

Postcode    2430
Name: Croki, dtype: int64

Postcode    2430
Name: Cundletown, dtype: int64

Postcode    2430
Name: Diamond Beach, dtype: int64

Postcode    2430
Name: Dumaresq Island, dtype: int64

Postcode    2430
Name: Failford, dtype: int64

Postcode    2430
Name: Ghinni Ghinni, dtype: int64

Postcode    2430
Name: Glenthorne, dtype: int64

Postcode    2430
Name: Hallidays Point, dtype: int64

Postcode    2430
Name: Happy Valley, dtype: int64

Postcode    2430
Name: Hillville, dtype: int64

Postcode    2430
Name: Jones Island, dtype: int64

Postcode    2430
Name: Kiwarrak, dtype: int64

Postcode    2430
Name: Kolodong, dtype: int64

Postcode    2430
Name: Koorainghat, dtype: int64

Postcode    2430
Name: Kundle Kundle, dtype: int64

Postcode    2430
Name: Manning Point, dtype: int64

Postcode    2430
Name: Melinga, dtype: int64

Postcode    2430
Name: Mitchells Island, dtype: int64

Postcode    2430
Name: Mondrook, dtype: int64

Postcode    2430
Name: Old Bar, dtype: int64

Postcode    2430
Name: Oxley Island, dtype: int64

Postcode    2430
Name: Pampoolah, dtype: int64

Postcode    2430
Name: Possum Brush, dtype: int64

Postcode    2430
Name: Purfleet, dtype: int64

Postcode    2430
Name: Rainbow Flat, dtype: int64

Postcode    2430
Name: Red Head, dtype: int64

Postcode    2430
Name: Saltwater, dtype: int64

Postcode    2430
Name: Tallwoods Village, dtype: int64

Postcode    2430
Name: Taree, dtype: int64

Postcode    2430
Name: Taree South, dtype: int64

Postcode    2430
Name: Taree West, dtype: int64

Postcode    2430
Name: Tinonee, dtype: int64

Postcode    2430
Name: Upper Lansdowne, dtype: int64

Postcode    2430
Name: Wallabi Point, dtype: int64

Postcode    2431
Name: Arakoon, dtype: int64

Postcode    2431
Name: Jerseyville, dtype: int64

Postcode    2431
Name: South West Rocks, dtype: int64

Postcode    2439
Name: Batar Creek, dtype: int64

             Postcode
Suburb
Black Creek      2439
Black Creek      2729

Postcode    2439
Name: Kendall, dtype: int64

Postcode    2439
Name: Kerewong, dtype: int64

Postcode    2439
Name: Kew, dtype: int64

Postcode    2439
Name: Logans Crossing, dtype: int64

Postcode    2439
Name: Lorne, dtype: int64

Postcode    2439
Name: Rossglen, dtype: int64

Postcode    2439
Name: Swans Crossing, dtype: int64

Postcode    2439
Name: Upsalls Creek, dtype: int64

Postcode    2440
Name: Aldavilla, dtype: int64

Postcode    2440
Name: Austral Eden, dtype: int64

Postcode    2440
Name: Bellbrook, dtype: int64

Postcode    2440
Name: Bellimbopinni, dtype: int64

Postcode    2440
Name: Belmore River, dtype: int64

Postcode    2440
Name: Burnt Bridge, dtype: int64

Postcode    2440
Name: Carrai, dtype: int64

Postcode    2440
Name: Clybucca, dtype: int64

Postcode    2440
Name: Collombatti, dtype: int64

Postcode    2440
Name: Comara, dtype: int64

Postcode    2440
Name: Corangula, dtype: int64

Postcode    2440
Name: Crescent Head, dtype: int64

            Postcode
Suburb
Deep Creek      2440
Deep Creek      2469

Postcode    2440
Name: Dondingalong, dtype: int64

Postcode    2440
Name: East Kempsey, dtype: int64

Postcode    2440
Name: Euroka, dtype: int64

Postcode    2440
Name: Frederickton, dtype: int64

Postcode    2440
Name: Gladstone, dtype: int64

Postcode    2440
Name: Greenhills, dtype: int64

Postcode    2440
Name: Hampden Hall, dtype: int64

Postcode    2440
Name: Hat Head, dtype: int64

Postcode    2440
Name: Hickeys Creek, dtype: int64

Postcode    2440
Name: Kempsey, dtype: int64

Postcode    2440
Name: Kinchela, dtype: int64

Postcode    2440
Name: Lower Creek, dtype: int64

Postcode    2440
Name: Millbank, dtype: int64

Postcode    2440
Name: Mooneba, dtype: int64

Postcode    2440
Name: Moparrabah, dtype: int64

Postcode    2440
Name: Mungay Creek, dtype: int64

Postcode    2440
Name: Old Station, dtype: int64

Postcode    2440
Name: Pola Creek, dtype: int64

Postcode    2440
Name: Rainbow Reach, dtype: int64

Postcode    2440
Name: Seven Oaks, dtype: int64

          Postcode
Suburb
Sherwood      2440
Sherwood      2474

Postcode    2440
Name: Skillion Flat, dtype: int64

Postcode    2440
Name: Smithtown, dtype: int64

Postcode    2440
Name: South Kempsey, dtype: int64

Postcode    2440
Name: Summer Island, dtype: int64

Postcode    2440
Name: Temagog, dtype: int64

Postcode    2440
Name: Toorooka, dtype: int64

Postcode    2440
Name: Turners Flat, dtype: int64

Postcode    2440
Name: Verges Creek, dtype: int64

Postcode    2440
Name: West Kempsey, dtype: int64

Postcode    2440
Name: Willawarrin, dtype: int64

Postcode    2440
Name: Willi Willi, dtype: int64

Postcode    2440
Name: Wittitrin, dtype: int64

Postcode    2440
Name: Yarravel, dtype: int64

Postcode    2440
Name: Yessabah, dtype: int64

Postcode    2441
Name: Allgomera Creek, dtype: int64

Postcode    2441
Name: Ballengarra, dtype: int64

Postcode    2441
Name: Barraganyatti, dtype: int64

Postcode    2441
Name: Bonville, dtype: int64

Postcode    2441
Name: Bril Bril, dtype: int64

Postcode    2441
Name: Brinerville, dtype: int64

Postcode    2441
Name: Browns Crossing, dtype: int64

Postcode    2441
Name: Cooperabung, dtype: int64

Postcode    2441
Name: Crossmaglen, dtype: int64

Postcode    2441
Name: Eungai Creek, dtype: int64

Postcode    2441
Name: Eungai Rail, dtype: int64

Postcode    2441
Name: Fishermans Reach, dtype: int64

Postcode    2441
Name: Grassy Head, dtype: int64

Postcode    2441
Name: Gum Scrub, dtype: int64

Postcode    2441
Name: Hacks Ferry, dtype: int64

Postcode    2441
Name: Kundabung, dtype: int64

Postcode    2441
Name: Rollands Plains, dtype: int64

Postcode    2441
Name: Stuarts Point, dtype: int64

Postcode    2441
Name: Tamban, dtype: int64

Postcode    2441
Name: Telegraph Point, dtype: int64

Postcode    2441
Name: Upper Rollands Plains, dtype: int64

Postcode    2441
Name: Yarrahapinni, dtype: int64

Postcode    2443
Name: Bobs Creek, dtype: int64

Postcode    2443
Name: Camden Head, dtype: int64

Postcode    2443
Name: Coralville, dtype: int64

Postcode    2443
Name: Deauville, dtype: int64

Postcode    2443
Name: Diamond Head, dtype: int64

Postcode    2443
Name: Dicks Hill, dtype: int64

Postcode    2443
Name: Dunbogan, dtype: int64

Postcode    2443
Name: Hannam Vale, dtype: int64

Postcode    2443
Name: Herons Creek, dtype: int64

Postcode    2443
Name: Johns River, dtype: int64

Postcode    2443
Name: Lakewood, dtype: int64

Postcode    2443
Name: Laurieton, dtype: int64

Postcode    2443
Name: Middle Brother, dtype: int64

Postcode    2443
Name: Moorland, dtype: int64

Postcode    2443
Name: North Brother, dtype: int64

Postcode    2443
Name: North Haven, dtype: int64

Postcode    2443
Name: Stewarts River, dtype: int64

Postcode    2443
Name: Waitui, dtype: int64

Postcode    2443
Name: West Haven, dtype: int64

Postcode    2444
Name: Blackmans Point, dtype: int64

Postcode    2444
Name: Fernbank Creek, dtype: int64

Postcode    2444
Name: Lighthouse Beach, dtype: int64

Postcode    2444
Name: North Shore, dtype: int64

Postcode    2444
Name: Port Macquarie, dtype: int64

Postcode    2444
Name: Riverside, dtype: int64

Postcode    2444
Name: Settlement City, dtype: int64

Postcode    2444
Name: The Hatch, dtype: int64

Postcode    2444
Name: Thrumster, dtype: int64

Postcode    2445
Name: Bonny Hills, dtype: int64

Postcode    2445
Name: Grants Beach, dtype: int64

Postcode    2445
Name: Lake Cathie, dtype: int64

Postcode    2446
Name: Bagnoo, dtype: int64

Postcode    2446
Name: Beechwood, dtype: int64

Postcode    2446
Name: Bellangry, dtype: int64

Postcode    2446
Name: Birdwood, dtype: int64

Postcode    2446
Name: Brombin, dtype: int64

Postcode    2446
Name: Byabarra, dtype: int64

Postcode    2446
Name: Cairncross, dtype: int64

Postcode    2446
Name: Crosslands, dtype: int64

Postcode    2446
Name: Doyles River, dtype: int64

Postcode    2446
Name: Ellenborough, dtype: int64

Postcode    2446
Name: Forbes River, dtype: int64

Postcode    2446
Name: Frazers Creek, dtype: int64

Postcode    2446
Name: Gearys Flat, dtype: int64

Postcode    2446
Name: Hartys Plains, dtype: int64

Postcode    2446
Name: Hollisdale, dtype: int64

Postcode    2446
Name: Huntingdon, dtype: int64

Postcode    2446
Name: Hyndmans Creek, dtype: int64

Postcode    2446
Name: Kindee, dtype: int64

Postcode    2446
Name: Lake Innes, dtype: int64

Postcode    2446
Name: Long Flat, dtype: int64

Postcode    2446
Name: Lower Pappinbarra, dtype: int64

Postcode    2446
Name: Marlo Merrican, dtype: int64

Postcode    2446
Name: Mortons Creek, dtype: int64

Postcode    2446
Name: Pappinbarra, dtype: int64

Postcode    2446
Name: Pembrooke, dtype: int64

Postcode    2446
Name: Pipeclay, dtype: int64

Postcode    2446
Name: Rawdon Island, dtype: int64

Postcode    2446
Name: Redbank, dtype: int64

          Postcode
Suburb
Rosewood      2446
Rosewood      2652

Postcode    2446
Name: Sancrox, dtype: int64

Postcode    2446
Name: Toms Creek, dtype: int64

Postcode    2446
Name: Upper Pappinbarra, dtype: int64

Postcode    2446
Name: Wauchope, dtype: int64

        Postcode
Suburb
Yarras      2446
Yarras      2795

Postcode    2446
Name: Yippin Creek, dtype: int64

Postcode    2447
Name: Burrapine, dtype: int64

Postcode    2447
Name: Congarinni, dtype: int64

Postcode    2447
Name: Donnellyville, dtype: int64

Postcode    2447
Name: Gumma, dtype: int64

Postcode    2447
Name: Macksville, dtype: int64

Postcode    2447
Name: Newee Creek, dtype: int64

Postcode    2447
Name: Scotts Head, dtype: int64

Postcode    2447
Name: Talarm, dtype: int64

Postcode    2447
Name: Taylors Arm, dtype: int64

Postcode    2447
Name: Thumb Creek, dtype: int64

Postcode    2447
Name: Upper Taylors Arm, dtype: int64

Postcode    2447
Name: Utungun, dtype: int64

Postcode    2447
Name: Warrell Creek, dtype: int64

Postcode    2447
Name: Way Way, dtype: int64

Postcode    2447
Name: Wirrimbi, dtype: int64

Postcode    2447
Name: Yarranbella, dtype: int64

Postcode    2448
Name: Hyland Park, dtype: int64

Postcode    2448
Name: Nambucca Heads, dtype: int64

Postcode    2448
Name: Valla, dtype: int64

Postcode    2448
Name: Valla Beach, dtype: int64

Postcode    2448
Name: Viewmont, dtype: int64

Postcode    2449
Name: Argents Hill, dtype: int64

Postcode    2449
Name: Bowraville, dtype: int64

Postcode    2449
Name: Girralong, dtype: int64

Postcode    2449
Name: Kennaicle Creek, dtype: int64

Postcode    2449
Name: Missabotti, dtype: int64

           Postcode
Suburb
South Arm      2449
South Arm      2460

Postcode    2449
Name: Tewinga, dtype: int64

Postcode    2450
Name: Boambee, dtype: int64

Postcode    2450
Name: Brooklana, dtype: int64

Postcode    2450
Name: Bucca, dtype: int64

Postcode    2450
Name: Coffs Harbour, dtype: int64

Postcode    2450
Name: Coramba, dtype: int64

Postcode    2450
Name: Dairyville, dtype: int64

Postcode    2450
Name: Glenreagh, dtype: int64

Postcode    2450
Name: Karangi, dtype: int64

Postcode    2450
Name: Korora, dtype: int64

Postcode    2450
Name: Lowanna, dtype: int64

Postcode    2450
Name: Lower Bucca, dtype: int64

Postcode    2450
Name: Moonee Beach, dtype: int64

Postcode    2450
Name: Nana Glen, dtype: int64

Postcode    2450
Name: North Boambee Valley, dtype: int64

Postcode    2450
Name: Sapphire Beach, dtype: int64

Postcode    2450
Name: Ulong, dtype: int64

Postcode    2450
Name: Upper Orara, dtype: int64

Postcode    2452
Name: Bayldon, dtype: int64

Postcode    2452
Name: Boambee East, dtype: int64

Postcode    2452
Name: Sawtell, dtype: int64

Postcode    2452
Name: Toormina, dtype: int64

Postcode    2453
Name: Billys Creek, dtype: int64

Postcode    2453
Name: Bostobrick, dtype: int64

Postcode    2453
Name: Briggsvale, dtype: int64

Postcode    2453
Name: Clouds Creek, dtype: int64

Postcode    2453
Name: Deer Vale, dtype: int64

Postcode    2453
Name: Dorrigo, dtype: int64

Postcode    2453
Name: Dorrigo North, dtype: int64

Postcode    2453
Name: Dundurrabin, dtype: int64

Postcode    2453
Name: Ebor, dtype: int64

Postcode    2453
Name: Fernbrook, dtype: int64

Postcode    2453
Name: Gangara, dtype: int64

Postcode    2453
Name: Glen Fernaigh, dtype: int64

Postcode    2453
Name: Hernani, dtype: int64

Postcode    2453
Name: Leigh, dtype: int64

Postcode    2453
Name: Maynards Plains, dtype: int64

Postcode    2453
Name: Megan, dtype: int64

Postcode    2453
Name: Muldiva, dtype: int64

Postcode    2453
Name: Tyringham, dtype: int64

Postcode    2454
Name: Bellingen, dtype: int64

Postcode    2454
Name: Brierfield, dtype: int64

Postcode    2454
Name: Bundagen, dtype: int64

Postcode    2454
Name: Darkwood, dtype: int64

Postcode    2454
Name: Fernmount, dtype: int64

Postcode    2454
Name: Gleniffer, dtype: int64

Postcode    2454
Name: Gordonville, dtype: int64

Postcode    2454
Name: Hydes Creek, dtype: int64

Postcode    2454
Name: Kalang, dtype: int64

Postcode    2454
Name: Kooroowi, dtype: int64

Postcode    2454
Name: Mylestom, dtype: int64

Postcode    2454
Name: Orama, dtype: int64

Postcode    2454
Name: Raleigh, dtype: int64

Postcode    2454
Name: Repton, dtype: int64

Postcode    2454
Name: Scotchman, dtype: int64

              Postcode
Suburb
Sunny Corner      2454
Sunny Corner      2795

Postcode    2454
Name: Thora, dtype: int64

Postcode    2454
Name: Upper Thora, dtype: int64

Postcode    2454
Name: Valery, dtype: int64

Postcode    2455
Name: Tarkeeth, dtype: int64

Postcode    2455
Name: Urunga, dtype: int64

Postcode    2456
Name: Arrawarra, dtype: int64

Postcode    2456
Name: Arrawarra Headland, dtype: int64

Postcode    2456
Name: Corindi Beach, dtype: int64

Postcode    2456
Name: Emerald Beach, dtype: int64

Postcode    2456
Name: Mullaway, dtype: int64

Postcode    2456
Name: Red Rock, dtype: int64

Postcode    2456
Name: Safety Beach, dtype: int64

Postcode    2456
Name: Sandy Beach, dtype: int64

Postcode    2456
Name: Upper Corindi, dtype: int64

Postcode    2456
Name: Woolgoolga, dtype: int64

Postcode    2460
Name: Alumy Creek, dtype: int64

Postcode    2460
Name: Barcoongere, dtype: int64

Postcode    2460
Name: Barretts Creek, dtype: int64

Postcode    2460
Name: Baryulgil, dtype: int64

Postcode    2460
Name: Blaxlands Creek, dtype: int64

Postcode    2460
Name: Blaxlands Flat, dtype: int64

Postcode    2460
Name: Bom Bom, dtype: int64

Postcode    2460
Name: Bookram, dtype: int64

Postcode    2460
Name: Braunstone, dtype: int64

Postcode    2460
Name: Brushgrove, dtype: int64

Postcode    2460
Name: Buccarumbi, dtype: int64

Postcode    2460
Name: Calamia, dtype: int64

Postcode    2460
Name: Cangai, dtype: int64

Postcode    2460
Name: Carnham, dtype: int64

Postcode    2460
Name: Carrs Creek, dtype: int64

Postcode    2460
Name: Carrs Island, dtype: int64

Postcode    2460
Name: Carrs Peninsular, dtype: int64

Postcode    2460
Name: Chambigne, dtype: int64

Postcode    2460
Name: Clarenza, dtype: int64

Postcode    2460
Name: Clifden, dtype: int64

Postcode    2460
Name: Coaldale, dtype: int64

Postcode    2460
Name: Collum Collum, dtype: int64

Postcode    2460
Name: Coombadjha, dtype: int64

Postcode    2460
Name: Copmanhurst, dtype: int64

Postcode    2460
Name: Coutts Crossing, dtype: int64

Postcode    2460
Name: Cowper, dtype: int64

Postcode    2460
Name: Crowther Island, dtype: int64

Postcode    2460
Name: Dalmorton, dtype: int64

Postcode    2460
Name: Dilkoon, dtype: int64

Postcode    2460
Name: Dirty Creek, dtype: int64

Postcode    2460
Name: Dumbudgery, dtype: int64

Postcode    2460
Name: Eatonsville, dtype: int64

Postcode    2460
Name: Eighteen Mile, dtype: int64

Postcode    2460
Name: Elland, dtype: int64

Postcode    2460
Name: Fine Flower, dtype: int64

Postcode    2460
Name: Fortis Creek, dtype: int64

Postcode    2460
Name: Glenugie, dtype: int64

Postcode    2460
Name: Grafton, dtype: int64

Postcode    2460
Name: Great Marlow, dtype: int64

Postcode    2460
Name: Gurranang, dtype: int64

Postcode    2460
Name: Halfway Creek, dtype: int64

Postcode    2460
Name: Heifer Station, dtype: int64

Postcode    2460
Name: Jackadgery, dtype: int64

Postcode    2460
Name: Junction Hill, dtype: int64

Postcode    2460
Name: Kangaroo Creek, dtype: int64

Postcode    2460
Name: Keybarbin, dtype: int64

Postcode    2460
Name: Koolkhan, dtype: int64

Postcode    2460
Name: Kremnos, dtype: int64

Postcode    2460
Name: Kungala, dtype: int64

Postcode    2460
Name: Lanitza, dtype: int64

Postcode    2460
Name: Lawrence, dtype: int64

Postcode    2460
Name: Levenstrath, dtype: int64

Postcode    2460
Name: Lilydale, dtype: int64

Postcode    2460
Name: Lionsville, dtype: int64

Postcode    2460
Name: Lower Coldstream, dtype: int64

Postcode    2460
Name: Lower Southgate, dtype: int64

Postcode    2460
Name: Malabugilmah, dtype: int64

Postcode    2460
Name: Mcphersons Crossing, dtype: int64

Postcode    2460
Name: Moleville Creek, dtype: int64

Postcode    2460
Name: Mountain View, dtype: int64

Postcode    2460
Name: Mylneford, dtype: int64

Postcode    2460
Name: Newbold, dtype: int64

Postcode    2460
Name: Nymboida, dtype: int64

Postcode    2460
Name: Pulganbar, dtype: int64

Postcode    2460
Name: Ramornie, dtype: int64

Postcode    2460
Name: Rushforth, dtype: int64

Postcode    2460
Name: Sandy Crossing, dtype: int64

Postcode    2460
Name: Seelands, dtype: int64

Postcode    2460
Name: Shannondale, dtype: int64

Postcode    2460
Name: South Grafton, dtype: int64

Postcode    2460
Name: Southgate, dtype: int64

Postcode    2460
Name: Stockyard Creek, dtype: int64

Postcode    2460
Name: The Pinnacles, dtype: int64

Postcode    2460
Name: The Whiteman, dtype: int64

Postcode    2460
Name: Towallum, dtype: int64

Postcode    2460
Name: Trenayr, dtype: int64

Postcode    2460
Name: Tyndale, dtype: int64

Postcode    2460
Name: Upper Copmanhurst, dtype: int64

Postcode    2460
Name: Upper Fine Flower, dtype: int64

Postcode    2460
Name: Warragai Creek, dtype: int64

Postcode    2460
Name: Waterview, dtype: int64

Postcode    2460
Name: Waterview Heights, dtype: int64

Postcode    2460
Name: Wells Crossing, dtype: int64

Postcode    2460
Name: Whiteman Creek, dtype: int64

Postcode    2460
Name: Winegrove, dtype: int64

Postcode    2460
Name: Wombat Creek, dtype: int64

Postcode    2462
Name: Calliope, dtype: int64

Postcode    2462
Name: Coldstream, dtype: int64

Postcode    2462
Name: Diggers Camp, dtype: int64

Postcode    2462
Name: Gilletts Ridge, dtype: int64

Postcode    2462
Name: Lake Hiawatha, dtype: int64

Postcode    2462
Name: Lavadia, dtype: int64

Postcode    2462
Name: Minnie Water, dtype: int64

Postcode    2462
Name: Pillar Valley, dtype: int64

Postcode    2462
Name: Swan Creek, dtype: int64

Postcode    2462
Name: Tucabia, dtype: int64

Postcode    2462
Name: Ulmarra, dtype: int64

Postcode    2462
Name: Wooli, dtype: int64

Postcode    2463
Name: Ashby, dtype: int64

Postcode    2463
Name: Ashby Heights, dtype: int64

Postcode    2463
Name: Brooms Head, dtype: int64

Postcode    2463
Name: Gulmarrad, dtype: int64

Postcode    2463
Name: Ilarwill, dtype: int64

Postcode    2463
Name: Jacky Bulbin Flat, dtype: int64

Postcode    2463
Name: James Creek, dtype: int64

Postcode    2463
Name: Maclean, dtype: int64

Postcode    2463
Name: Palmers Channel, dtype: int64

Postcode    2463
Name: Palmers Island, dtype: int64

Postcode    2463
Name: Sandon, dtype: int64

Postcode    2463
Name: Shark Creek, dtype: int64

Postcode    2463
Name: Taloumbi, dtype: int64

Postcode    2463
Name: The Sandon, dtype: int64

Postcode    2463
Name: Townsend, dtype: int64

Postcode    2463
Name: Tullymorgan, dtype: int64

          Postcode
Suburb
Woodford      2463
Woodford      2778

Postcode    2464
Name: Angourie, dtype: int64

Postcode    2464
Name: Micalo Island, dtype: int64

Postcode    2464
Name: Wooloweyah, dtype: int64

Postcode    2464
Name: Yamba, dtype: int64

Postcode    2465
Name: Harwood, dtype: int64

Postcode    2466
Name: Iluka, dtype: int64

Postcode    2466
Name: The Freshwater, dtype: int64

Postcode    2466
Name: Woody Head, dtype: int64

Postcode    2469
Name: Banyabba, dtype: int64

Postcode    2469
Name: Bean Creek, dtype: int64

Postcode    2469
Name: Bingeebeebra Creek, dtype: int64

Postcode    2469
Name: Bonalbo, dtype: int64

Postcode    2469
Name: Boomoodeerie, dtype: int64

Postcode    2469
Name: Bottle Creek, dtype: int64

Postcode    2469
Name: Bulldog, dtype: int64

Postcode    2469
Name: Bungawalbin, dtype: int64

Postcode    2469
Name: Busbys Flat, dtype: int64

Postcode    2469
Name: Camira, dtype: int64

Postcode    2469
Name: Camira Creek, dtype: int64

Postcode    2469
Name: Capeen, dtype: int64

Postcode    2469
Name: Chatsworth, dtype: int64

Postcode    2469
Name: Clearfield, dtype: int64

Postcode    2469
Name: Clover Park, dtype: int64

Postcode    2469
Name: Coongbar, dtype: int64

Postcode    2469
Name: Culmaran Creek, dtype: int64

Postcode    2469
Name: Drake, dtype: int64

Postcode    2469
Name: Duck Creek, dtype: int64

Postcode    2469
Name: Ewingar, dtype: int64

Postcode    2469
Name: Gibberagee, dtype: int64

Postcode    2469
Name: Goodwood Island, dtype: int64

Postcode    2469
Name: Gorge Creek, dtype: int64

Postcode    2469
Name: Haystack, dtype: int64

Postcode    2469
Name: Hogarth Range, dtype: int64

Postcode    2469
Name: Jacksons Flat, dtype: int64

Postcode    2469
Name: Joes Box, dtype: int64

Postcode    2469
Name: Kippenduff, dtype: int64

Postcode    2469
Name: Louisa Creek, dtype: int64

Postcode    2469
Name: Lower Bottle Creek, dtype: int64

Postcode    2469
Name: Lower Duck Creek, dtype: int64

Postcode    2469
Name: Lower Peacock, dtype: int64

Postcode    2469
Name: Mallanganee, dtype: int64

Postcode    2469
Name: Mookima Wybra, dtype: int64

Postcode    2469
Name: Mororo, dtype: int64

Postcode    2469
Name: Mount Marsh, dtype: int64

Postcode    2469
Name: Mummulgum, dtype: int64

Postcode    2469
Name: Myrtle Creek, dtype: int64

Postcode    2469
Name: Old Bonalbo, dtype: int64

             Postcode
Suburb
Paddys Flat      2469
Paddys Flat      2632

Postcode    2469
Name: Pagans Flat, dtype: int64

Postcode    2469
Name: Peacock Creek, dtype: int64

Postcode    2469
Name: Pikapene, dtype: int64

Postcode    2469
Name: Pretty Gully, dtype: int64

Postcode    2469
Name: Rappville, dtype: int64

Postcode    2469
Name: Sandilands, dtype: int64

Postcode    2469
Name: Simpkins Creek, dtype: int64

Postcode    2469
Name: Six Mile Swamp, dtype: int64

Postcode    2469
Name: Tabulam, dtype: int64

Postcode    2469
Name: Theresa Creek, dtype: int64

Postcode    2469
Name: Tunglebung, dtype: int64

Postcode    2469
Name: Upper Duck Creek, dtype: int64

Postcode    2469
Name: Warregah Island, dtype: int64

Postcode    2469
Name: Whiporie, dtype: int64

Postcode    2469
Name: Woombah, dtype: int64

Postcode    2469
Name: Wyan, dtype: int64

Postcode    2469
Name: Yabbra, dtype: int64

Postcode    2470
Name: Alice, dtype: int64

Postcode    2470
Name: Babyl Creek, dtype: int64

Postcode    2470
Name: Backmede, dtype: int64

Postcode    2470
Name: Baraimal, dtype: int64

Postcode    2470
Name: Casino, dtype: int64

Postcode    2470
Name: Coolaness, dtype: int64

Postcode    2470
Name: Coombell, dtype: int64

Postcode    2470
Name: Dobies Bight, dtype: int64

Postcode    2470
Name: Doubtful Creek, dtype: int64

Postcode    2470
Name: Dyraaba, dtype: int64

Postcode    2470
Name: Dyraaba Central, dtype: int64

Postcode    2470
Name: Dyraaba Creek, dtype: int64

Postcode    2470
Name: Ellangowan, dtype: int64

Postcode    2470
Name: Fairy Hill, dtype: int64

Postcode    2470
Name: Irvington, dtype: int64

Postcode    2470
Name: Leeville, dtype: int64

Postcode    2470
Name: Lower Dyraaba, dtype: int64

Postcode    2470
Name: Mongogarie, dtype: int64

Postcode    2470
Name: Naughtons Gap, dtype: int64

Postcode    2470
Name: North Casino, dtype: int64

Postcode    2470
Name: Piora, dtype: int64

Postcode    2470
Name: Sextonville, dtype: int64

Postcode    2470
Name: Shannon Brook, dtype: int64

Postcode    2470
Name: Spring Grove, dtype: int64

Postcode    2470
Name: Stratheden, dtype: int64

Postcode    2470
Name: Woodview, dtype: int64

Postcode    2470
Name: Woolners Arm, dtype: int64

Postcode    2470
Name: Wooroowoolgan, dtype: int64

Postcode    2470
Name: Yorklea, dtype: int64

Postcode    2471
Name: Bora Ridge, dtype: int64

Postcode    2471
Name: Codrington, dtype: int64

Postcode    2471
Name: Coraki, dtype: int64

Postcode    2471
Name: Green Forest, dtype: int64

Postcode    2471
Name: Greenridge, dtype: int64

Postcode    2471
Name: Tatham, dtype: int64

            Postcode
Suburb
Broadwater      2472
Broadwater      2549

Postcode    2472
Name: Buckendoon, dtype: int64

Postcode    2472
Name: Kilgin, dtype: int64

Postcode    2472
Name: New Italy, dtype: int64

Postcode    2472
Name: Rileys Hill, dtype: int64

Postcode    2472
Name: Tabbimoble, dtype: int64

          Postcode
Suburb
Woodburn      2472
Woodburn      2538

Postcode    2473
Name: Evans Head, dtype: int64

Postcode    2474
Name: Afterlee, dtype: int64

Postcode    2474
Name: Barkers Vale, dtype: int64

Postcode    2474
Name: Cawongla, dtype: int64

Postcode    2474
Name: Cedar Point, dtype: int64

Postcode    2474
Name: Collins Creek, dtype: int64

Postcode    2474
Name: Cougal, dtype: int64

Postcode    2474
Name: Dairy Flat, dtype: int64

Postcode    2474
Name: Eden Creek, dtype: int64

Postcode    2474
Name: Edenville, dtype: int64

Postcode    2474
Name: Ettrick, dtype: int64

Postcode    2474
Name: Fawcetts Plain, dtype: int64

Postcode    2474
Name: Findon Creek, dtype: int64

Postcode    2474
Name: Geneva, dtype: int64

Postcode    2474
Name: Ghinni Ghi, dtype: int64

Postcode    2474
Name: Gradys Creek, dtype: int64

Postcode    2474
Name: Green Pigeon, dtype: int64

Postcode    2474
Name: Grevillia, dtype: int64

Postcode    2474
Name: Homeleigh, dtype: int64

Postcode    2474
Name: Horse Station Creek, dtype: int64

Postcode    2474
Name: Horseshoe Creek, dtype: int64

Postcode    2474
Name: Iron Pot Creek, dtype: int64

Postcode    2474
Name: Kilgra, dtype: int64

Postcode    2474
Name: Kyogle, dtype: int64

Postcode    2474
Name: Little Back Creek, dtype: int64

Postcode    2474
Name: Loadstone, dtype: int64

Postcode    2474
Name: Lynchs Creek, dtype: int64

Postcode    2474
Name: New Park, dtype: int64

Postcode    2474
Name: Old Grevillia, dtype: int64

Postcode    2474
Name: Roseberry, dtype: int64

Postcode    2474
Name: Roseberry Creek, dtype: int64

Postcode    2474
Name: Rukenvale, dtype: int64

              Postcode
Suburb
Sawpit Creek      2474
Sawpit Creek      2627

              Postcode
Suburb
Smiths Creek      2474
Smiths Creek      2484

Postcode    2474
Name: Terrace Creek, dtype: int64

Postcode    2474
Name: The Risk, dtype: int64

Postcode    2474
Name: Toonumbar, dtype: int64

Postcode    2474
Name: Unumgar, dtype: int64

Postcode    2474
Name: Upper Eden Creek, dtype: int64

Postcode    2474
Name: Upper Horseshoe Creek, dtype: int64

Postcode    2474
Name: Wadeville, dtype: int64

Postcode    2474
Name: Warrazambil Creek, dtype: int64

Postcode    2474
Name: West Wiangaree, dtype: int64

Postcode    2474
Name: Wiangaree, dtype: int64

Postcode    2474
Name: Wyneden, dtype: int64

Postcode    2475
Name: Beaury Creek, dtype: int64

Postcode    2475
Name: Tooloom, dtype: int64

Postcode    2475
Name: Urbenville, dtype: int64

Postcode    2475
Name: Wallaby Creek, dtype: int64

Postcode    2476
Name: Acacia Creek, dtype: int64

Postcode    2476
Name: Acacia Plateau, dtype: int64

Postcode    2476
Name: Boomi Creek, dtype: int64

Postcode    2476
Name: Brumby Plains, dtype: int64

Postcode    2476
Name: Legume, dtype: int64

Postcode    2476
Name: Lindesay Creek, dtype: int64

Postcode    2476
Name: Lower Acacia Creek, dtype: int64

Postcode    2476
Name: Muli Muli, dtype: int64

Postcode    2476
Name: Old Koreelah, dtype: int64

Postcode    2476
Name: The Glen, dtype: int64

Postcode    2476
Name: Woodenbong, dtype: int64

Postcode    2477
Name: Alstonvale, dtype: int64

Postcode    2477
Name: Alstonville, dtype: int64

Postcode    2477
Name: Bagotville, dtype: int64

Postcode    2477
Name: Cabbage Tree Island, dtype: int64

Postcode    2477
Name: East Wardell, dtype: int64

Postcode    2477
Name: Lynwood, dtype: int64

Postcode    2477
Name: Meerschaum Vale, dtype: int64

Postcode    2477
Name: Pearces Creek, dtype: int64

Postcode    2477
Name: Rous, dtype: int64

Postcode    2477
Name: Rous Mill, dtype: int64

Postcode    2477
Name: Tuckombil, dtype: int64

Postcode    2477
Name: Uralba, dtype: int64

Postcode    2477
Name: Wardell, dtype: int64

Postcode    2477
Name: Wollongbar, dtype: int64

Postcode    2478
Name: Ballina, dtype: int64

Postcode    2478
Name: Coolgardie, dtype: int64

Postcode    2478
Name: Cumbalum, dtype: int64

Postcode    2478
Name: East Ballina, dtype: int64

Postcode    2478
Name: Empire Vale, dtype: int64

Postcode    2478
Name: Keith Hall, dtype: int64

Postcode    2478
Name: Lennox Head, dtype: int64

Postcode    2478
Name: Patchs Beach, dtype: int64

Postcode    2478
Name: Pimlico, dtype: int64

Postcode    2478
Name: Pimlico Island, dtype: int64

Postcode    2478
Name: Skennars Head, dtype: int64

Postcode    2478
Name: South Ballina, dtype: int64

Postcode    2478
Name: Teven, dtype: int64

Postcode    2478
Name: Tintenbar, dtype: int64

Postcode    2478
Name: West Ballina, dtype: int64

Postcode    2479
Name: Bangalow, dtype: int64

Postcode    2479
Name: Binna Burra, dtype: int64

Postcode    2479
Name: Brooklet, dtype: int64

Postcode    2479
Name: Coopers Shoot, dtype: int64

Postcode    2479
Name: Coorabell, dtype: int64

Postcode    2479
Name: Fernleigh, dtype: int64

Postcode    2479
Name: Knockrow, dtype: int64

Postcode    2479
Name: Mcleods Shoot, dtype: int64

Postcode    2479
Name: Nashua, dtype: int64

Postcode    2479
Name: Newrybar, dtype: int64

Postcode    2479
Name: Possum Creek, dtype: int64

Postcode    2479
Name: St Helena, dtype: int64

Postcode    2480
Name: Bentley, dtype: int64

Postcode    2480
Name: Bexhill, dtype: int64

Postcode    2480
Name: Blakebrook, dtype: int64

Postcode    2480
Name: Blue Knob, dtype: int64

Postcode    2480
Name: Booerie Creek, dtype: int64

Postcode    2480
Name: Boorabee Park, dtype: int64

Postcode    2480
Name: Booyong, dtype: int64

Postcode    2480
Name: Bungabbee, dtype: int64

Postcode    2480
Name: Caniaba, dtype: int64

Postcode    2480
Name: Chilcotts Grass, dtype: int64

Postcode    2480
Name: Clovass, dtype: int64

Postcode    2480
Name: Clunes, dtype: int64

Postcode    2480
Name: Coffee Camp, dtype: int64

Postcode    2480
Name: Corndale, dtype: int64

Postcode    2480
Name: Dorroughby, dtype: int64

Postcode    2480
Name: Dungarubba, dtype: int64

Postcode    2480
Name: Dunoon, dtype: int64

Postcode    2480
Name: East Lismore, dtype: int64

Postcode    2480
Name: Eltham, dtype: int64

Postcode    2480
Name: Eureka, dtype: int64

Postcode    2480
Name: Federal, dtype: int64

Postcode    2480
Name: Fernside, dtype: int64

Postcode    2480
Name: Georgica, dtype: int64

Postcode    2480
Name: Girards Hill, dtype: int64

Postcode    2480
Name: Goolmangar, dtype: int64

Postcode    2480
Name: Goonellabah, dtype: int64

Postcode    2480
Name: Gundurimba, dtype: int64

Postcode    2480
Name: Jiggi, dtype: int64

Postcode    2480
Name: Keerrong, dtype: int64

Postcode    2480
Name: Koonorigan, dtype: int64

Postcode    2480
Name: Lagoon Grass, dtype: int64

Postcode    2480
Name: Larnook, dtype: int64

Postcode    2480
Name: Leycester, dtype: int64

Postcode    2480
Name: Lillian Rock, dtype: int64

Postcode    2480
Name: Lindendale, dtype: int64

Postcode    2480
Name: Lismore, dtype: int64

Postcode    2480
Name: Lismore Heights, dtype: int64

Postcode    2480
Name: Loftville, dtype: int64

Postcode    2480
Name: Marom Creek, dtype: int64

Postcode    2480
Name: Mckees Hill, dtype: int64

Postcode    2480
Name: Mcleans Ridges, dtype: int64

Postcode    2480
Name: Missingham, dtype: int64

Postcode    2480
Name: Modanville, dtype: int64

Postcode    2480
Name: Monaltrie, dtype: int64

Postcode    2480
Name: Mountain Top, dtype: int64

Postcode    2480
Name: Nimbin, dtype: int64

Postcode    2480
Name: North Lismore, dtype: int64

Postcode    2480
Name: Numulgi, dtype: int64

Postcode    2480
Name: Repentance Creek, dtype: int64

Postcode    2480
Name: Richmond Hill, dtype: int64

Postcode    2480
Name: Rock Valley, dtype: int64

Postcode    2480
Name: Rosebank, dtype: int64

Postcode    2480
Name: Ruthven, dtype: int64

Postcode    2480
Name: South Gundurimba, dtype: int64

Postcode    2480
Name: South Lismore, dtype: int64

Postcode    2480
Name: Steve Kings Plains, dtype: int64

Postcode    2480
Name: Stony Chute, dtype: int64

Postcode    2480
Name: Terania Creek, dtype: int64

Postcode    2480
Name: The Channon, dtype: int64

Postcode    2480
Name: Tregeagle, dtype: int64

Postcode    2480
Name: Tucki Tucki, dtype: int64

Postcode    2480
Name: Tuckurimba, dtype: int64

Postcode    2480
Name: Tullera, dtype: int64

Postcode    2480
Name: Tuncester, dtype: int64

Postcode    2480
Name: Tuntable Creek, dtype: int64

Postcode    2480
Name: Tuntable Falls, dtype: int64

Postcode    2480
Name: Upper Coopers Creek, dtype: int64

Postcode    2480
Name: Whian Whian, dtype: int64

Postcode    2480
Name: Woodlawn, dtype: int64

Postcode    2480
Name: Wyrallah, dtype: int64

Postcode    2481
Name: Broken Head, dtype: int64

Postcode    2481
Name: Byron Bay, dtype: int64

Postcode    2481
Name: Ewingsdale, dtype: int64

Postcode    2481
Name: Myocum, dtype: int64

Postcode    2481
Name: Skinners Shoot, dtype: int64

Postcode    2481
Name: Suffolk Park, dtype: int64

Postcode    2481
Name: Talofa, dtype: int64

Postcode    2481
Name: Tyagarah, dtype: int64

Postcode    2482
Name: Goonengerry, dtype: int64

Postcode    2482
Name: Huonbrook, dtype: int64

Postcode    2482
Name: Main Arm, dtype: int64

Postcode    2482
Name: Montecollum, dtype: int64

Postcode    2482
Name: Mullumbimby, dtype: int64

Postcode    2482
Name: Mullumbimby Creek, dtype: int64

Postcode    2482
Name: Palmwoods, dtype: int64

Postcode    2482
Name: Upper Main Arm, dtype: int64

Postcode    2482
Name: Wilsons Creek, dtype: int64

Postcode    2483
Name: Billinudgel, dtype: int64

Postcode    2483
Name: Brunswick Heads, dtype: int64

Postcode    2483
Name: Burringbar, dtype: int64

Postcode    2483
Name: Crabbes Creek, dtype: int64

Postcode    2483
Name: Middle Pocket, dtype: int64

Postcode    2483
Name: Mooball, dtype: int64

Postcode    2483
Name: New Brighton, dtype: int64

Postcode    2483
Name: Ocean Shores, dtype: int64

Postcode    2483
Name: Sleepy Hollow, dtype: int64

Postcode    2483
Name: South Golden Beach, dtype: int64

Postcode    2483
Name: The Pocket, dtype: int64

Postcode    2483
Name: Upper Burringbar, dtype: int64

Postcode    2483
Name: Wooyung, dtype: int64

Postcode    2483
Name: Yelgun, dtype: int64

Postcode    2484
Name: Bray Park, dtype: int64

Postcode    2484
Name: Brays Creek, dtype: int64

Postcode    2484
Name: Byangum, dtype: int64

Postcode    2484
Name: Byrrill Creek, dtype: int64

Postcode    2484
Name: Chillingham, dtype: int64

Postcode    2484
Name: Chowan Creek, dtype: int64

Postcode    2484
Name: Clothiers Creek, dtype: int64

Postcode    2484
Name: Commissioners Creek, dtype: int64

Postcode    2484
Name: Condong, dtype: int64

Postcode    2484
Name: Crystal Creek, dtype: int64

Postcode    2484
Name: Cudgera Creek, dtype: int64

Postcode    2484
Name: Doon Doon, dtype: int64

Postcode    2484
Name: Dulguigan, dtype: int64

Postcode    2484
Name: Dum Dum, dtype: int64

Postcode    2484
Name: Dunbible, dtype: int64

Postcode    2484
Name: Dungay, dtype: int64

Postcode    2484
Name: Eungella, dtype: int64

Postcode    2484
Name: Eviron, dtype: int64

Postcode    2484
Name: Farrants Hill, dtype: int64

Postcode    2484
Name: Fernvale, dtype: int64

Postcode    2484
Name: Hopkins Creek, dtype: int64

Postcode    2484
Name: Kielvale, dtype: int64

Postcode    2484
Name: Kunghur, dtype: int64

Postcode    2484
Name: Kunghur Creek, dtype: int64

Postcode    2484
Name: Kynnumboon, dtype: int64

Postcode    2484
Name: Limpinwood, dtype: int64

Postcode    2484
Name: Mebbin, dtype: int64

Postcode    2484
Name: Midginbil, dtype: int64

Postcode    2484
Name: Mount Burrell, dtype: int64

Postcode    2484
Name: Mount Warning, dtype: int64

Postcode    2484
Name: Murwillumbah, dtype: int64

Postcode    2484
Name: Murwillumbah South, dtype: int64

Postcode    2484
Name: Nobbys Creek, dtype: int64

Postcode    2484
Name: North Arm, dtype: int64

Postcode    2484
Name: Numinbah, dtype: int64

Postcode    2484
Name: Nunderi, dtype: int64

Postcode    2484
Name: Palmvale, dtype: int64

Postcode    2484
Name: Pumpenbil, dtype: int64

Postcode    2484
Name: Reserve Creek, dtype: int64

Postcode    2484
Name: Round Mountain, dtype: int64

Postcode    2484
Name: Rowlands Creek, dtype: int64

Postcode    2484
Name: Stokers Siding, dtype: int64

Postcode    2484
Name: Terragon, dtype: int64

Postcode    2484
Name: Tomewin, dtype: int64

Postcode    2484
Name: Tyalgum, dtype: int64

Postcode    2484
Name: Tyalgum Creek, dtype: int64

Postcode    2484
Name: Tygalgah, dtype: int64

Postcode    2484
Name: Uki, dtype: int64

Postcode    2484
Name: Upper Crystal Creek, dtype: int64

Postcode    2484
Name: Urliup, dtype: int64

Postcode    2484
Name: Wardrop Valley, dtype: int64

Postcode    2484
Name: Zara, dtype: int64

Postcode    2485
Name: Tweed Heads, dtype: int64

Postcode    2485
Name: Tweed Heads West, dtype: int64

Postcode    2486
Name: Banora Point, dtype: int64

Postcode    2486
Name: Bilambil, dtype: int64

Postcode    2486
Name: Bilambil Heights, dtype: int64

Postcode    2486
Name: Bungalora, dtype: int64

Postcode    2486
Name: Carool, dtype: int64

Postcode    2486
Name: Cobaki, dtype: int64

Postcode    2486
Name: Cobaki Lakes, dtype: int64

Postcode    2486
Name: Duroby, dtype: int64

Postcode    2486
Name: Glengarrie, dtype: int64

Postcode    2486
Name: Piggabeen, dtype: int64

Postcode    2486
Name: Terranora, dtype: int64

Postcode    2486
Name: Tweed Heads South, dtype: int64

Postcode    2486
Name: Upper Duroby, dtype: int64

Postcode    2487
Name: Casuarina, dtype: int64

Postcode    2487
Name: Chinderah, dtype: int64

Postcode    2487
Name: Cudgen, dtype: int64

Postcode    2487
Name: Duranbah, dtype: int64

Postcode    2487
Name: Fingal Head, dtype: int64

Postcode    2487
Name: Kings Forest, dtype: int64

Postcode    2487
Name: Kingscliff, dtype: int64

Postcode    2487
Name: Stotts Creek, dtype: int64

Postcode    2488
Name: Bogangar, dtype: int64

Postcode    2488
Name: Cabarita Beach, dtype: int64

Postcode    2488
Name: Tanglewood, dtype: int64

Postcode    2489
Name: Hastings Point, dtype: int64

Postcode    2489
Name: Pottsville, dtype: int64

Postcode    2490
Name: North Tumbulgum, dtype: int64

Postcode    2490
Name: Tumbulgum, dtype: int64

Postcode    2500
Name: Coniston, dtype: int64

Postcode    2500
Name: Gwynneville, dtype: int64

Postcode    2500
Name: Keiraville, dtype: int64

Postcode    2500
Name: Mangerton, dtype: int64

Postcode    2500
Name: Mount Keira, dtype: int64

Postcode    2500
Name: Mount Saint Thomas, dtype: int64

            Postcode
Suburb
Wollongong      2500
Wollongong      2520

Postcode    2500
Name: Wollongong North, dtype: int64

Postcode    2500
Name: Wollongong West, dtype: int64

Postcode    2502
Name: Cringila, dtype: int64

Postcode    2502
Name: Lake Heights, dtype: int64

Postcode    2502
Name: Primbee, dtype: int64

Postcode    2502
Name: Warrawong, dtype: int64

Postcode    2505
Name: Kemblawarra, dtype: int64

Postcode    2505
Name: Port Kembla, dtype: int64

Postcode    2506
Name: Berkeley, dtype: int64

Postcode    2508
Name: Coalcliff, dtype: int64

Postcode    2508
Name: Darkes Forest, dtype: int64

Postcode    2508
Name: Helensburgh, dtype: int64

Postcode    2508
Name: Lilyvale, dtype: int64

Postcode    2508
Name: Maddens Plains, dtype: int64

Postcode    2508
Name: Otford, dtype: int64

Postcode    2508
Name: Stanwell Park, dtype: int64

Postcode    2508
Name: Stanwell Tops, dtype: int64

Postcode    2515
Name: Austinmer, dtype: int64

Postcode    2515
Name: Clifton, dtype: int64

Postcode    2515
Name: Coledale, dtype: int64

Postcode    2515
Name: Scarborough, dtype: int64

Postcode    2515
Name: Thirroul, dtype: int64

Postcode    2515
Name: Wombarra, dtype: int64

Postcode    2516
Name: Bulli, dtype: int64

Postcode    2516
Name: Bulli Tops, dtype: int64

Postcode    2517
Name: Russell Vale, dtype: int64

Postcode    2517
Name: Woonona, dtype: int64

Postcode    2517
Name: Woonona East, dtype: int64

Postcode    2518
Name: Bellambi, dtype: int64

Postcode    2518
Name: Corrimal, dtype: int64

Postcode    2518
Name: Corrimal East, dtype: int64

Postcode    2518
Name: Tarrawanna, dtype: int64

Postcode    2518
Name: Towradgi, dtype: int64

Postcode    2519
Name: Balgownie, dtype: int64

Postcode    2519
Name: Fairy Meadow, dtype: int64

Postcode    2519
Name: Fernhill, dtype: int64

Postcode    2519
Name: Mount Ousley, dtype: int64

Postcode    2519
Name: Mount Pleasant, dtype: int64

Postcode    2519
Name: Reidtown, dtype: int64

Postcode    2522
Name: University Of Wollongong, dtype: int64

Postcode    2525
Name: Figtree, dtype: int64

Postcode    2526
Name: Cordeaux, dtype: int64

Postcode    2526
Name: Cordeaux Heights, dtype: int64

Postcode    2526
Name: Farmborough Heights, dtype: int64

Postcode    2526
Name: Kembla Grange, dtype: int64

Postcode    2526
Name: Kembla Heights, dtype: int64

Postcode    2526
Name: Mount Kembla, dtype: int64

Postcode    2526
Name: Unanderra, dtype: int64

Postcode    2527
Name: Albion Park, dtype: int64

Postcode    2527
Name: Albion Park Rail, dtype: int64

Postcode    2527
Name: Calderwood, dtype: int64

Postcode    2527
Name: Croom, dtype: int64

Postcode    2527
Name: Tongarra, dtype: int64

Postcode    2527
Name: Tullimbar, dtype: int64

             Postcode
Suburb
Yellow Rock      2527
Yellow Rock      2777

Postcode    2528
Name: Barrack Heights, dtype: int64

Postcode    2528
Name: Barrack Point, dtype: int64

Postcode    2528
Name: Lake Illawarra, dtype: int64

Postcode    2528
Name: Mount Warrigal, dtype: int64

Postcode    2528
Name: Warilla, dtype: int64

Postcode    2528
Name: Windang, dtype: int64

Postcode    2529
Name: Blackbutt, dtype: int64

Postcode    2529
Name: Dunmore, dtype: int64

Postcode    2529
Name: Flinders, dtype: int64

Postcode    2529
Name: Oak Flats, dtype: int64

Postcode    2529
Name: Shell Cove, dtype: int64

Postcode    2529
Name: Shellharbour, dtype: int64

Postcode    2529
Name: Shellharbour City Centre, dtype: int64

Postcode    2529
Name: Shellharbour Square, dtype: int64

Postcode    2530
Name: Avondale, dtype: int64

Postcode    2530
Name: Brownsville, dtype: int64

Postcode    2530
Name: Dapto, dtype: int64

Postcode    2530
Name: Haywards Bay, dtype: int64

Postcode    2530
Name: Horsley, dtype: int64

Postcode    2530
Name: Kanahooka, dtype: int64

Postcode    2530
Name: Koonawarra, dtype: int64

Postcode    2530
Name: Marshall Mount, dtype: int64

Postcode    2530
Name: Penrosen, dtype: int64

Postcode    2530
Name: Wongawilli, dtype: int64

Postcode    2530
Name: Yallah, dtype: int64

Postcode    2533
Name: Bombo, dtype: int64

Postcode    2533
Name: Curramore, dtype: int64

Postcode    2533
Name: Jamberoo, dtype: int64

Postcode    2533
Name: Jerrara, dtype: int64

Postcode    2533
Name: Kiama, dtype: int64

Postcode    2533
Name: Kiama Downs, dtype: int64

Postcode    2533
Name: Kiama Heights, dtype: int64

Postcode    2533
Name: Minnamurra, dtype: int64

Postcode    2533
Name: Saddleback Mountain, dtype: int64

Postcode    2534
Name: Foxground, dtype: int64

Postcode    2534
Name: Gerringong, dtype: int64

Postcode    2534
Name: Gerroa, dtype: int64

             Postcode
Suburb
Rose Valley      2534
Rose Valley      2630

Postcode    2534
Name: Toolijooa, dtype: int64

Postcode    2534
Name: Werri Beach, dtype: int64

             Postcode
Suburb
Willow Vale      2534
Willow Vale      2575

Postcode    2535
Name: Back Forest, dtype: int64

Postcode    2535
Name: Bellawongarah, dtype: int64

Postcode    2535
Name: Berry, dtype: int64

Postcode    2535
Name: Brogers Creek, dtype: int64

Postcode    2535
Name: Broughton, dtype: int64

Postcode    2535
Name: Broughton Vale, dtype: int64

Postcode    2535
Name: Budderoo, dtype: int64

Postcode    2535
Name: Bundewallah, dtype: int64

Postcode    2535
Name: Coolangatta, dtype: int64

Postcode    2535
Name: Far Meadow, dtype: int64

Postcode    2535
Name: Jaspers Brush, dtype: int64

Postcode    2535
Name: Shoalhaven Heads, dtype: int64

Postcode    2535
Name: Wattamolla, dtype: int64

Postcode    2535
Name: Woodhill, dtype: int64

Postcode    2536
Name: Batehaven, dtype: int64

Postcode    2536
Name: Batemans Bay, dtype: int64

Postcode    2536
Name: Benandarah, dtype: int64

Postcode    2536
Name: Bimbimbie, dtype: int64

Postcode    2536
Name: Buckenbowra, dtype: int64

Postcode    2536
Name: Catalina, dtype: int64

Postcode    2536
Name: Currowan, dtype: int64

Postcode    2536
Name: Denhams Beach, dtype: int64

Postcode    2536
Name: Durras North, dtype: int64

Postcode    2536
Name: East Lynne, dtype: int64

Postcode    2536
Name: Guerilla Bay, dtype: int64

Postcode    2536
Name: Jeremadra, dtype: int64

Postcode    2536
Name: Long Beach, dtype: int64

Postcode    2536
Name: Maloneys Beach, dtype: int64

Postcode    2536
Name: Malua Bay, dtype: int64

        Postcode
Suburb
Mogo        2536
Mogo        2850

Postcode    2536
Name: Nelligen, dtype: int64

Postcode    2536
Name: North Batemans Bay, dtype: int64

Postcode    2536
Name: Rosedale, dtype: int64

Postcode    2536
Name: Runnyford, dtype: int64

Postcode    2536
Name: South Durras, dtype: int64

Postcode    2536
Name: Sunshine Bay, dtype: int64

Postcode    2536
Name: Surf Beach, dtype: int64

Postcode    2536
Name: Surfside, dtype: int64

Postcode    2536
Name: Woodlands, dtype: int64

Postcode    2537
Name: Bergalia, dtype: int64

Postcode    2537
Name: Bingie, dtype: int64

Postcode    2537
Name: Broulee, dtype: int64

Postcode    2537
Name: Coila, dtype: int64

Postcode    2537
Name: Congo, dtype: int64

Postcode    2537
Name: Deua, dtype: int64

Postcode    2537
Name: Deua River Valley, dtype: int64

Postcode    2537
Name: Kiora, dtype: int64

Postcode    2537
Name: Meringo, dtype: int64

Postcode    2537
Name: Mogendoura, dtype: int64

Postcode    2537
Name: Moruya, dtype: int64

Postcode    2537
Name: Moruya Heads, dtype: int64

Postcode    2537
Name: Mossy Point, dtype: int64

Postcode    2537
Name: Tomakin, dtype: int64

Postcode    2537
Name: Turlinjah, dtype: int64

Postcode    2537
Name: Tuross Head, dtype: int64

Postcode    2537
Name: Wamban, dtype: int64

Postcode    2538
Name: Brooman, dtype: int64

Postcode    2538
Name: Little Forest, dtype: int64

Postcode    2538
Name: Milton, dtype: int64

Postcode    2538
Name: Morton, dtype: int64

           Postcode
Suburb
Woodstock      2538
Woodstock      2793

Postcode    2539
Name: Bawley Point, dtype: int64

Postcode    2539
Name: Bendalong, dtype: int64

Postcode    2539
Name: Berringer Lake, dtype: int64

Postcode    2539
Name: Burrill Lake, dtype: int64

Postcode    2539
Name: Conjola, dtype: int64

Postcode    2539
Name: Conjola Park, dtype: int64

Postcode    2539
Name: Cunjurong Point, dtype: int64

Postcode    2539
Name: Dolphin Point, dtype: int64

Postcode    2539
Name: Fishermans Paradise, dtype: int64

Postcode    2539
Name: Kings Point, dtype: int64

Postcode    2539
Name: Kioloa, dtype: int64

Postcode    2539
Name: Lake Conjola, dtype: int64

Postcode    2539
Name: Lake Tabourie, dtype: int64

Postcode    2539
Name: Manyana, dtype: int64

Postcode    2539
Name: Mollymook, dtype: int64

Postcode    2539
Name: Narrawallee, dtype: int64

Postcode    2539
Name: Termeil, dtype: int64

Postcode    2539
Name: Ulladulla, dtype: int64

Postcode    2539
Name: Yatte Yattah, dtype: int64

Postcode    2540
Name: Bamarang, dtype: int64

Postcode    2540
Name: Barringella, dtype: int64

Postcode    2540
Name: Basin View, dtype: int64

Postcode    2540
Name: Berrara, dtype: int64

Postcode    2540
Name: Bewong, dtype: int64

Postcode    2540
Name: Bolong, dtype: int64

Postcode    2540
Name: Brundee, dtype: int64

Postcode    2540
Name: Burrier, dtype: int64

Postcode    2540
Name: Callala Bay, dtype: int64

Postcode    2540
Name: Callala Beach, dtype: int64

Postcode    2540
Name: Cambewarra, dtype: int64

Postcode    2540
Name: Comerong Island, dtype: int64

Postcode    2540
Name: Cudmirrah, dtype: int64

Postcode    2540
Name: Culburra Beach, dtype: int64

Postcode    2540
Name: Currarong, dtype: int64

Postcode    2540
Name: Erowal Bay, dtype: int64

Postcode    2540
Name: Falls Creek, dtype: int64

Postcode    2540
Name: Greenwell Point, dtype: int64

Postcode    2540
Name: Hmas Albatross, dtype: int64

Postcode    2540
Name: Hmas Creswell, dtype: int64

Postcode    2540
Name: Huskisson, dtype: int64

Postcode    2540
Name: Hyams Beach, dtype: int64

Postcode    2540
Name: Jerrawangala, dtype: int64

Postcode    2540
Name: Jervis Bay, dtype: int64

Postcode    2540
Name: Meroo Meadow, dtype: int64

Postcode    2540
Name: Mundamia, dtype: int64

Postcode    2540
Name: Myola, dtype: int64

Postcode    2540
Name: Nowra Hill, dtype: int64

Postcode    2540
Name: Nowra Naval Po, dtype: int64

Postcode    2540
Name: Numbaa, dtype: int64

Postcode    2540
Name: Old Erowal Bay, dtype: int64

Postcode    2540
Name: Orient Point, dtype: int64

Postcode    2540
Name: Parma, dtype: int64

Postcode    2540
Name: Pyree, dtype: int64

Postcode    2540
Name: Sanctuary Point, dtype: int64

Postcode    2540
Name: St Georges Basin, dtype: int64

Postcode    2540
Name: Sussex Inlet, dtype: int64

Postcode    2540
Name: Swanhaven, dtype: int64

Postcode    2540
Name: Tapitallee, dtype: int64

Postcode    2540
Name: Terara, dtype: int64

Postcode    2540
Name: Tomerong, dtype: int64

Postcode    2540
Name: Vincentia, dtype: int64

Postcode    2540
Name: Wandandian, dtype: int64

Postcode    2540
Name: Woollamia, dtype: int64

Postcode    2540
Name: Worrigee, dtype: int64

Postcode    2540
Name: Worrowing Heights, dtype: int64

Postcode    2540
Name: Wrights Beach, dtype: int64

Postcode    2540
Name: Yalwal, dtype: int64

Postcode    2540
Name: Yerriyong, dtype: int64

Postcode    2541
Name: Bangalee, dtype: int64

Postcode    2541
Name: Bomaderry, dtype: int64

Postcode    2541
Name: Nowra, dtype: int64

Postcode    2541
Name: Nowra East, dtype: int64

Postcode    2541
Name: Nowra North, dtype: int64

Postcode    2541
Name: West Nowra, dtype: int64

Postcode    2545
Name: Belowra, dtype: int64

Postcode    2545
Name: Bodalla, dtype: int64

Postcode    2545
Name: Cadgee, dtype: int64

Postcode    2545
Name: Eurobodalla, dtype: int64

Postcode    2545
Name: Nerrigundah, dtype: int64

Postcode    2545
Name: Potato Point, dtype: int64

             Postcode
Suburb
Stony Creek      2545
Stony Creek      2850

Postcode    2546
Name: Akolele, dtype: int64

Postcode    2546
Name: Barragga Bay, dtype: int64

Postcode    2546
Name: Beauty Point, dtype: int64

Postcode    2546
Name: Bermagui, dtype: int64

Postcode    2546
Name: Bermagui South, dtype: int64

Postcode    2546
Name: Central Tilba, dtype: int64

Postcode    2546
Name: Corunna, dtype: int64

Postcode    2546
Name: Cuttagee, dtype: int64

Postcode    2546
Name: Dalmeny, dtype: int64

Postcode    2546
Name: Dignams Creek, dtype: int64

           Postcode
Suburb
Greendale      2546
Greendale      2745

Postcode    2546
Name: Kianga, dtype: int64

Postcode    2546
Name: Mystery Bay, dtype: int64

Postcode    2546
Name: Narooma, dtype: int64

Postcode    2546
Name: North Narooma, dtype: int64

Postcode    2546
Name: Tilba Tilba, dtype: int64

Postcode    2546
Name: Tinpot, dtype: int64

Postcode    2546
Name: Wadbilliga, dtype: int64

Postcode    2546
Name: Wallaga Lake, dtype: int64

Postcode    2546
Name: Wallaga Lake Heights, dtype: int64

Postcode    2548
Name: Berrambool, dtype: int64

Postcode    2548
Name: Merimbula, dtype: int64

Postcode    2548
Name: Tura Beach, dtype: int64

Postcode    2548
Name: Yellow Pinch, dtype: int64

Postcode    2549
Name: Bald Hills, dtype: int64

Postcode    2549
Name: Greigs Flat, dtype: int64

Postcode    2549
Name: Lochiel, dtype: int64

Postcode    2549
Name: Millingandi, dtype: int64

Postcode    2549
Name: Nethercote, dtype: int64

Postcode    2549
Name: Pambula, dtype: int64

Postcode    2549
Name: Pambula Beach, dtype: int64

Postcode    2549
Name: South Pambula, dtype: int64

Postcode    2550
Name: Angledale, dtype: int64

Postcode    2550
Name: Bega, dtype: int64

Postcode    2550
Name: Bemboka, dtype: int64

Postcode    2550
Name: Black Range, dtype: int64

Postcode    2550
Name: Bournda, dtype: int64

Postcode    2550
Name: Brogo, dtype: int64

Postcode    2550
Name: Buckajo, dtype: int64

Postcode    2550
Name: Bunga, dtype: int64

Postcode    2550
Name: Burragate, dtype: int64

Postcode    2550
Name: Candelo, dtype: int64

Postcode    2550
Name: Chinnock, dtype: int64

Postcode    2550
Name: Cobargo, dtype: int64

Postcode    2550
Name: Coolagolite, dtype: int64

Postcode    2550
Name: Coolangubra, dtype: int64

Postcode    2550
Name: Coopers Gully, dtype: int64

Postcode    2550
Name: Devils Hole, dtype: int64

Postcode    2550
Name: Doctor George Mountain, dtype: int64

Postcode    2550
Name: Frogs Hollow, dtype: int64

Postcode    2550
Name: Jellat Jellat, dtype: int64

Postcode    2550
Name: Kalaru, dtype: int64

Postcode    2550
Name: Kameruka, dtype: int64

Postcode    2550
Name: Kanoona, dtype: int64

Postcode    2550
Name: Mogareeka, dtype: int64

Postcode    2550
Name: Mogilla, dtype: int64

Postcode    2550
Name: Morans Crossing, dtype: int64

Postcode    2550
Name: Mumbulla Mountain, dtype: int64

Postcode    2550
Name: Murrah, dtype: int64

Postcode    2550
Name: Myrtle Mountain, dtype: int64

        Postcode
Suburb
Nelson      2550
Nelson      2765

Postcode    2550
Name: New Buildings, dtype: int64

Postcode    2550
Name: Numbugga, dtype: int64

Postcode    2550
Name: Pericoe, dtype: int64

Postcode    2550
Name: Quaama, dtype: int64

Postcode    2550
Name: Reedy Swamp, dtype: int64

Postcode    2550
Name: Rocky Hall, dtype: int64

Postcode    2550
Name: South Wolumla, dtype: int64

Postcode    2550
Name: Tanja, dtype: int64

Postcode    2550
Name: Tantawangalo, dtype: int64

Postcode    2550
Name: Tarraganda, dtype: int64

Postcode    2550
Name: Tathra, dtype: int64

Postcode    2550
Name: Toothdale, dtype: int64

Postcode    2550
Name: Towamba, dtype: int64

Postcode    2550
Name: Verona, dtype: int64

Postcode    2550
Name: Wallagoot, dtype: int64

Postcode    2550
Name: Wandella, dtype: int64

Postcode    2550
Name: Wapengo, dtype: int64

Postcode    2550
Name: Wolumla, dtype: int64

Postcode    2550
Name: Wyndham, dtype: int64

Postcode    2550
Name: Yambulla, dtype: int64

Postcode    2550
Name: Yankees Creek, dtype: int64

Postcode    2550
Name: Yowrie, dtype: int64

Postcode    2551
Name: Boydtown, dtype: int64

Postcode    2551
Name: Eden, dtype: int64

Postcode    2551
Name: Edrom, dtype: int64

Postcode    2551
Name: Green Cape, dtype: int64

Postcode    2551
Name: Kiah, dtype: int64

Postcode    2551
Name: Narrabarba, dtype: int64

Postcode    2551
Name: Nullica, dtype: int64

Postcode    2551
Name: Timbillica, dtype: int64

Postcode    2551
Name: Wonboyn, dtype: int64

Postcode    2551
Name: Wonboyn Lake, dtype: int64

Postcode    2551
Name: Wonboyn North, dtype: int64

Postcode    2555
Name: Badgerys Creek, dtype: int64

Postcode    2556
Name: Bringelly, dtype: int64

Postcode    2557
Name: Catherine Field, dtype: int64

Postcode    2557
Name: Rossmore, dtype: int64

Postcode    2558
Name: Eagle Vale, dtype: int64

Postcode    2558
Name: Eschol Park, dtype: int64

Postcode    2558
Name: Kearns, dtype: int64

Postcode    2559
Name: Blairmount, dtype: int64

Postcode    2559
Name: Claymore, dtype: int64

Postcode    2560
Name: Airds, dtype: int64

Postcode    2560
Name: Ambarvale, dtype: int64

Postcode    2560
Name: Appin, dtype: int64

Postcode    2560
Name: Blair Athol, dtype: int64

Postcode    2560
Name: Bradbury, dtype: int64

Postcode    2560
Name: Campbelltown, dtype: int64

Postcode    2560
Name: Campbelltown North, dtype: int64

Postcode    2560
Name: Englorie Park, dtype: int64

Postcode    2560
Name: Gilead, dtype: int64

Postcode    2560
Name: Glen Alpine, dtype: int64

Postcode    2560
Name: Kentlyn, dtype: int64

Postcode    2560
Name: Leumeah, dtype: int64

Postcode    2560
Name: Macarthur Square, dtype: int64

Postcode    2560
Name: Rosemeadow, dtype: int64

Postcode    2560
Name: Ruse, dtype: int64

Postcode    2560
Name: St Helens Park, dtype: int64

Postcode    2560
Name: Wedderburn, dtype: int64

Postcode    2560
Name: Woodbine, dtype: int64

Postcode    2563
Name: Menangle Park, dtype: int64

Postcode    2564
Name: Macquarie Fields, dtype: int64

Postcode    2565
Name: Denham Court, dtype: int64

Postcode    2565
Name: Ingleburn, dtype: int64

Postcode    2565
Name: Macquarie Links, dtype: int64

Postcode    2566
Name: Bow Bowing, dtype: int64

Postcode    2566
Name: Minto, dtype: int64

Postcode    2566
Name: Minto Heights, dtype: int64

Postcode    2566
Name: Raby, dtype: int64

Postcode    2566
Name: St Andrews, dtype: int64

Postcode    2566
Name: Varroville, dtype: int64

Postcode    2567
Name: Currans Hill, dtype: int64

Postcode    2567
Name: Harrington Park, dtype: int64

Postcode    2567
Name: Mount Annan, dtype: int64

Postcode    2567
Name: Narellan, dtype: int64

Postcode    2567
Name: Narellan Vale, dtype: int64

Postcode    2567
Name: Smeaton Grange, dtype: int64

Postcode    2568
Name: Menangle, dtype: int64

Postcode    2569
Name: Douglas Park, dtype: int64

Postcode    2570
Name: Belimbla Park, dtype: int64

Postcode    2570
Name: Bickley Vale, dtype: int64

Postcode    2570
Name: Brownlow Hill, dtype: int64

Postcode    2570
Name: Camden, dtype: int64

Postcode    2570
Name: Camden Park, dtype: int64

Postcode    2570
Name: Camden South, dtype: int64

Postcode    2570
Name: Cawdor, dtype: int64

Postcode    2570
Name: Cobbitty, dtype: int64

Postcode    2570
Name: Ellis Lane, dtype: int64

Postcode    2570
Name: Glenmore, dtype: int64

Postcode    2570
Name: Grasmere, dtype: int64

Postcode    2570
Name: Kirkham, dtype: int64

Postcode    2570
Name: Lefevres Corner, dtype: int64

Postcode    2570
Name: Mount Hunter, dtype: int64

Postcode    2570
Name: Nattai, dtype: int64

Postcode    2570
Name: Oakdale, dtype: int64

Postcode    2570
Name: Oran Park, dtype: int64

Postcode    2570
Name: Orangeville, dtype: int64

Postcode    2570
Name: Spring Farm, dtype: int64

Postcode    2570
Name: The Oaks, dtype: int64

Postcode    2570
Name: Theresa Park, dtype: int64

Postcode    2570
Name: Werombi, dtype: int64

Postcode    2571
Name: Balmoral Village, dtype: int64

Postcode    2571
Name: Buxton, dtype: int64

Postcode    2571
Name: Couridjah, dtype: int64

Postcode    2571
Name: Maldon, dtype: int64

Postcode    2571
Name: Mowbray Park, dtype: int64

Postcode    2571
Name: Picton, dtype: int64

           Postcode
Suburb
Razorback      2571
Razorback      2850

Postcode    2571
Name: Wilton, dtype: int64

Postcode    2572
Name: Lakesland, dtype: int64

Postcode    2572
Name: Thirlmere, dtype: int64

Postcode    2573
Name: Tahmoor, dtype: int64

Postcode    2574
Name: Bargo, dtype: int64

Postcode    2574
Name: Pheasants Nest, dtype: int64

Postcode    2574
Name: Yanderra, dtype: int64

Postcode    2575
Name: Alpine, dtype: int64

Postcode    2575
Name: Aylmerton, dtype: int64

Postcode    2575
Name: Barrallier, dtype: int64

Postcode    2575
Name: Braemar, dtype: int64

Postcode    2575
Name: Bullio, dtype: int64

Postcode    2575
Name: Colo Vale, dtype: int64

Postcode    2575
Name: High Range, dtype: int64

          Postcode
Suburb
Hill Top      2575
Hill Top      2627

Postcode    2575
Name: Joadja, dtype: int64

Postcode    2575
Name: Mandemar, dtype: int64

Postcode    2575
Name: Mittagong, dtype: int64

Postcode    2575
Name: Welby, dtype: int64

Postcode    2575
Name: Yerrinbool, dtype: int64

Postcode    2576
Name: Bong Bong, dtype: int64

Postcode    2576
Name: Bowral, dtype: int64

Postcode    2576
Name: Burradoo, dtype: int64

Postcode    2576
Name: East Bowral, dtype: int64

Postcode    2576
Name: East Kangaloon, dtype: int64

Postcode    2576
Name: Glenquarry, dtype: int64

Postcode    2576
Name: Kangaloon, dtype: int64

Postcode    2577
Name: Avoca, dtype: int64

Postcode    2577
Name: Barren Grounds, dtype: int64

Postcode    2577
Name: Barrengarry, dtype: int64

Postcode    2577
Name: Beaumont, dtype: int64

Postcode    2577
Name: Bendeela, dtype: int64

Postcode    2577
Name: Berrima, dtype: int64

Postcode    2577
Name: Burrawang, dtype: int64

Postcode    2577
Name: Calwalla, dtype: int64

Postcode    2577
Name: Canyonleigh, dtype: int64

Postcode    2577
Name: Carrington Falls, dtype: int64

Postcode    2577
Name: Fitzroy Falls, dtype: int64

Postcode    2577
Name: Kangaroo Valley, dtype: int64

Postcode    2577
Name: Knights Hill, dtype: int64

Postcode    2577
Name: Macquarie Pass, dtype: int64

Postcode    2577
Name: Manchester Square, dtype: int64

Postcode    2577
Name: Medway, dtype: int64

Postcode    2577
Name: Meryla, dtype: int64

Postcode    2577
Name: Moss Vale, dtype: int64

Postcode    2577
Name: Myra Vale, dtype: int64

Postcode    2577
Name: New Berrima, dtype: int64

              Postcode
Suburb
Paddys River      2577
Paddys River      2653

Postcode    2577
Name: Pheasant Ground, dtype: int64

Postcode    2577
Name: Robertson, dtype: int64

Postcode    2577
Name: Sutton Forest, dtype: int64

Postcode    2577
Name: Upper Kangaroo Valley, dtype: int64

Postcode    2577
Name: Werai, dtype: int64

Postcode    2577
Name: Wildes Meadow, dtype: int64

Postcode    2578
Name: Bundanoon, dtype: int64

Postcode    2579
Name: Big Hill, dtype: int64

Postcode    2579
Name: Brayton, dtype: int64

Postcode    2579
Name: Exeter, dtype: int64

Postcode    2579
Name: Marulan, dtype: int64

Postcode    2579
Name: Marulan South, dtype: int64

Postcode    2579
Name: Penrose, dtype: int64

Postcode    2579
Name: Tallong, dtype: int64

Postcode    2579
Name: Wingello, dtype: int64

Postcode    2580
Name: Bannaby, dtype: int64

Postcode    2580
Name: Bannister, dtype: int64

Postcode    2580
Name: Brisbane Grove, dtype: int64

Postcode    2580
Name: Bungonia, dtype: int64

Postcode    2580
Name: Chatsbury, dtype: int64

Postcode    2580
Name: Currawang, dtype: int64

Postcode    2580
Name: Golspie, dtype: int64

Postcode    2580
Name: Goulburn, dtype: int64

Postcode    2580
Name: Goulburn North, dtype: int64

Postcode    2580
Name: Greenwich Park, dtype: int64

Postcode    2580
Name: Gundary, dtype: int64

Postcode    2580
Name: Jerrong, dtype: int64

Postcode    2580
Name: Kingsdale, dtype: int64

Postcode    2580
Name: Komungla, dtype: int64

Postcode    2580
Name: Lake Bathurst, dtype: int64

Postcode    2580
Name: Leighwood, dtype: int64

Postcode    2580
Name: Mcalister, dtype: int64

Postcode    2580
Name: Middle Arm, dtype: int64

Postcode    2580
Name: Mount Fairy, dtype: int64

Postcode    2580
Name: Mount Rae, dtype: int64

Postcode    2580
Name: Mummel, dtype: int64

Postcode    2580
Name: Parkesbourne, dtype: int64

Postcode    2580
Name: Quialigo, dtype: int64

Postcode    2580
Name: Roslyn, dtype: int64

Postcode    2580
Name: Run-o-waters, dtype: int64

Postcode    2580
Name: Six Mile Flat, dtype: int64

Postcode    2580
Name: Spring Valley, dtype: int64

Postcode    2580
Name: Tarago, dtype: int64

Postcode    2580
Name: Taralga, dtype: int64

Postcode    2580
Name: Tarlo, dtype: int64

Postcode    2580
Name: Tirrannaville, dtype: int64

Postcode    2580
Name: Towrang, dtype: int64

Postcode    2580
Name: Wayo, dtype: int64

Postcode    2580
Name: Wiaborough, dtype: int64

Postcode    2580
Name: Wiarborough, dtype: int64

Postcode    2580
Name: Windellama, dtype: int64

Postcode    2580
Name: Wombeyan Caves, dtype: int64

Postcode    2580
Name: Woodhouselee, dtype: int64

Postcode    2580
Name: Wowagin, dtype: int64

Postcode    2580
Name: Yalbraith, dtype: int64

Postcode    2580
Name: Yarra, dtype: int64

Postcode    2581
Name: Bellmount Forest, dtype: int64

Postcode    2581
Name: Bevendale, dtype: int64

Postcode    2581
Name: Biala, dtype: int64

Postcode    2581
Name: Blakney Creek, dtype: int64

Postcode    2581
Name: Breadalbane, dtype: int64

Postcode    2581
Name: Broadway, dtype: int64

Postcode    2581
Name: Collector, dtype: int64

Postcode    2581
Name: Cullerin, dtype: int64

Postcode    2581
Name: Dalton, dtype: int64

Postcode    2581
Name: Gunning, dtype: int64

Postcode    2581
Name: Gurrundah, dtype: int64

Postcode    2581
Name: Lade Vale, dtype: int64

Postcode    2581
Name: Lake George, dtype: int64

        Postcode
Suburb
Lerida      2581
Lerida      2835

Postcode    2581
Name: Merrill, dtype: int64

Postcode    2581
Name: Oolong, dtype: int64

Postcode    2581
Name: Tallaganda, dtype: int64

Postcode    2581
Name: Wollogorang, dtype: int64

Postcode    2582
Name: Berremangra, dtype: int64

Postcode    2582
Name: Bookham, dtype: int64

Postcode    2582
Name: Bowning, dtype: int64

Postcode    2582
Name: Burrinjuck, dtype: int64

Postcode    2582
Name: Cavan, dtype: int64

Postcode    2582
Name: Dog Trap Crossing, dtype: int64

Postcode    2582
Name: Good Hope, dtype: int64

Postcode    2582
Name: Goondah, dtype: int64

Postcode    2582
Name: Jerrawa, dtype: int64

Postcode    2582
Name: Kangiara, dtype: int64

Postcode    2582
Name: Manton, dtype: int64

Postcode    2582
Name: Murrumbateman, dtype: int64

Postcode    2582
Name: Nanangroe, dtype: int64

Postcode    2582
Name: Tangmangaroo, dtype: int64

Postcode    2582
Name: Wee Jasper, dtype: int64

Postcode    2582
Name: Woolgarlo, dtype: int64

Postcode    2582
Name: Yass, dtype: int64

Postcode    2583
Name: Bigga, dtype: int64

Postcode    2583
Name: Binda, dtype: int64

Postcode    2583
Name: Blanket Flat, dtype: int64

Postcode    2583
Name: Brooklands, dtype: int64

Postcode    2583
Name: Cottawalla, dtype: int64

Postcode    2583
Name: Crooked Corner, dtype: int64

Postcode    2583
Name: Crookwell, dtype: int64

Postcode    2583
Name: Fullerton, dtype: int64

Postcode    2583
Name: Glenerin, dtype: int64

Postcode    2583
Name: Grabben Gullen, dtype: int64

Postcode    2583
Name: Greenmantle, dtype: int64

Postcode    2583
Name: Hadley, dtype: int64

Postcode    2583
Name: Junction Point, dtype: int64

Postcode    2583
Name: Kempton, dtype: int64

Postcode    2583
Name: Kialla, dtype: int64

Postcode    2583
Name: Laggan, dtype: int64

Postcode    2583
Name: Limerick, dtype: int64

Postcode    2583
Name: Mulgowrie, dtype: int64

Postcode    2583
Name: Narrawa, dtype: int64

Postcode    2583
Name: Peelwood, dtype: int64

Postcode    2583
Name: Rugby, dtype: int64

Postcode    2583
Name: Third Creek, dtype: int64

Postcode    2583
Name: Tuena, dtype: int64

Postcode    2583
Name: Wheeo, dtype: int64

Postcode    2584
Name: Binalong, dtype: int64

Postcode    2584
Name: Illalong Creek, dtype: int64

Postcode    2585
Name: Galong, dtype: int64

Postcode    2586
Name: Boorowa, dtype: int64

Postcode    2586
Name: Frogmore, dtype: int64

Postcode    2586
Name: Goba Creek, dtype: int64

Postcode    2586
Name: Godfreys Creek, dtype: int64

Postcode    2586
Name: Kenyu, dtype: int64

Postcode    2586
Name: Murringo, dtype: int64

Postcode    2586
Name: Reids Flat, dtype: int64

Postcode    2586
Name: Rye Park, dtype: int64

Postcode    2586
Name: Taylors Flat, dtype: int64

Postcode    2587
Name: Aurville, dtype: int64

Postcode    2587
Name: Cunningar, dtype: int64

Postcode    2587
Name: Demondrille, dtype: int64

Postcode    2587
Name: Garangula, dtype: int64

Postcode    2587
Name: Harden, dtype: int64

Postcode    2587
Name: Kingsvale, dtype: int64

Postcode    2587
Name: Murrumburrah, dtype: int64

Postcode    2587
Name: Nubba, dtype: int64

Postcode    2587
Name: Prunevale, dtype: int64

Postcode    2587
Name: Wombat, dtype: int64

Postcode    2588
Name: Cullinga, dtype: int64

Postcode    2588
Name: Wallendbeen, dtype: int64

Postcode    2590
Name: Bethungra, dtype: int64

Postcode    2590
Name: Cootamundra, dtype: int64

Postcode    2590
Name: Illabo, dtype: int64

Postcode    2594
Name: Ashville, dtype: int64

Postcode    2594
Name: Berthong, dtype: int64

Postcode    2594
Name: Bribbaree, dtype: int64

Postcode    2594
Name: Bulla Creek, dtype: int64

Postcode    2594
Name: Burrangong, dtype: int64

Postcode    2594
Name: Kikiamah, dtype: int64

Postcode    2594
Name: Maimuru, dtype: int64

Postcode    2594
Name: Memagong, dtype: int64

Postcode    2594
Name: Milvale, dtype: int64

Postcode    2594
Name: Monteagle, dtype: int64

Postcode    2594
Name: Thuddungra, dtype: int64

Postcode    2594
Name: Tubbul, dtype: int64

Postcode    2594
Name: Weedallion, dtype: int64

Postcode    2594
Name: Yannawah, dtype: int64

Postcode    2594
Name: Young, dtype: int64

Postcode    2618
Name: Hall, dtype: int64

Postcode    2619
Name: Jerrabomberra, dtype: int64

Postcode    2620
Name: Burbong, dtype: int64

        Postcode
Suburb
Burra       2620
Burra       2653

Postcode    2620
Name: Carwoola, dtype: int64

Postcode    2620
Name: Clear Range, dtype: int64

Postcode    2620
Name: Crestwood, dtype: int64

Postcode    2620
Name: Dodsworth, dtype: int64

Postcode    2620
Name: Environa, dtype: int64

Postcode    2620
Name: Googong, dtype: int64

Postcode    2620
Name: Greenleigh, dtype: int64

Postcode    2620
Name: Gundaroo, dtype: int64

Postcode    2620
Name: Hume, dtype: int64

Postcode    2620
Name: Karabar, dtype: int64

Postcode    2620
Name: Kowen Forest, dtype: int64

Postcode    2620
Name: Letchworth, dtype: int64

Postcode    2620
Name: Michelago, dtype: int64

Postcode    2620
Name: Oaks Estate, dtype: int64

Postcode    2620
Name: Queanbeyan, dtype: int64

Postcode    2620
Name: Queanbeyan East, dtype: int64

Postcode    2620
Name: Ridgeway, dtype: int64

Postcode    2620
Name: Royalla, dtype: int64

Postcode    2620
Name: Sutton, dtype: int64

Postcode    2620
Name: Tharwa, dtype: int64

Postcode    2620
Name: The Angle, dtype: int64

Postcode    2620
Name: Tinderry, dtype: int64

Postcode    2620
Name: Top Naas, dtype: int64

Postcode    2620
Name: Tralee, dtype: int64

Postcode    2620
Name: Urila, dtype: int64

Postcode    2620
Name: Wamboin, dtype: int64

Postcode    2620
Name: Williamsdale, dtype: int64

Postcode    2620
Name: Yarrow, dtype: int64

Postcode    2621
Name: Anembo, dtype: int64

Postcode    2621
Name: Bungendore, dtype: int64

Postcode    2621
Name: Bywong, dtype: int64

Postcode    2621
Name: Forbes Creek, dtype: int64

Postcode    2621
Name: Hoskinstown, dtype: int64

Postcode    2621
Name: Primrose Valley, dtype: int64

Postcode    2621
Name: Rossi, dtype: int64

Postcode    2622
Name: Araluen, dtype: int64

Postcode    2622
Name: Araluen North, dtype: int64

Postcode    2622
Name: Ballalaba, dtype: int64

Postcode    2622
Name: Bendoura, dtype: int64

Postcode    2622
Name: Berlang, dtype: int64

Postcode    2622
Name: Bombay, dtype: int64

Postcode    2622
Name: Boro, dtype: int64

Postcode    2622
Name: Braidwood, dtype: int64

Postcode    2622
Name: Budawang, dtype: int64

Postcode    2622
Name: Charleys Forest, dtype: int64

Postcode    2622
Name: Corang, dtype: int64

Postcode    2622
Name: Durran Durra, dtype: int64

Postcode    2622
Name: Farringdon, dtype: int64

Postcode    2622
Name: Gundillion, dtype: int64

Postcode    2622
Name: Harolds Cross, dtype: int64

Postcode    2622
Name: Hereford Hall, dtype: int64

Postcode    2622
Name: Jembaicumbene, dtype: int64

Postcode    2622
Name: Jerrabattculla, dtype: int64

Postcode    2622
Name: Jinden, dtype: int64

Postcode    2622
Name: Jingera, dtype: int64

Postcode    2622
Name: Kain, dtype: int64

Postcode    2622
Name: Kindervale, dtype: int64

Postcode    2622
Name: Krawarree, dtype: int64

Postcode    2622
Name: Larbert, dtype: int64

Postcode    2622
Name: Majors Creek, dtype: int64

Postcode    2622
Name: Manar, dtype: int64

Postcode    2622
Name: Marlowe, dtype: int64

Postcode    2622
Name: Merricumbene, dtype: int64

Postcode    2622
Name: Monga, dtype: int64

Postcode    2622
Name: Mongarlowe, dtype: int64

Postcode    2622
Name: Mulloon, dtype: int64

Postcode    2622
Name: Murrengenburg, dtype: int64

Postcode    2622
Name: Neringla, dtype: int64

Postcode    2622
Name: Nerriga, dtype: int64

Postcode    2622
Name: Northangera, dtype: int64

Postcode    2622
Name: Oallen, dtype: int64

Postcode    2622
Name: Oranmeir, dtype: int64

Postcode    2622
Name: Palerang, dtype: int64

Postcode    2622
Name: Reidsdale, dtype: int64

Postcode    2622
Name: Sassafras, dtype: int64

Postcode    2622
Name: Snowball, dtype: int64

Postcode    2622
Name: Tomboye, dtype: int64

Postcode    2622
Name: Warri, dtype: int64

Postcode    2622
Name: Wog Wog, dtype: int64

Postcode    2622
Name: Wyanbene, dtype: int64

Postcode    2623
Name: Captains Flat, dtype: int64

Postcode    2624
Name: Blue Cow, dtype: int64

Postcode    2624
Name: Charlottes Pass, dtype: int64

Postcode    2624
Name: Guthega, dtype: int64

Postcode    2624
Name: Kosciusko, dtype: int64

Postcode    2624
Name: Perisher Valley, dtype: int64

Postcode    2624
Name: Smiggin Holes, dtype: int64

Postcode    2625
Name: Thredbo, dtype: int64

Postcode    2625
Name: Thredbo Village, dtype: int64

Postcode    2626
Name: Bredbo, dtype: int64

Postcode    2626
Name: Bumbalong, dtype: int64

Postcode    2626
Name: Colinton, dtype: int64

Postcode    2627
Name: Bullocks Flat, dtype: int64

Postcode    2627
Name: Crackenback, dtype: int64

Postcode    2627
Name: East Jindabyne, dtype: int64

Postcode    2627
Name: Grosses Plain, dtype: int64

Postcode    2627
Name: Gungarlin, dtype: int64

Postcode    2627
Name: Ingebyra, dtype: int64

Postcode    2627
Name: Jindabyne, dtype: int64

Postcode    2627
Name: Kalkite, dtype: int64

Postcode    2627
Name: Lower Thredbo, dtype: int64

Postcode    2627
Name: Moonbah, dtype: int64

Postcode    2627
Name: Pilot Wilderness, dtype: int64

Postcode    2628
Name: Beloka, dtype: int64

Postcode    2628
Name: Berridale, dtype: int64

Postcode    2628
Name: Braemar Bay, dtype: int64

Postcode    2628
Name: Byadbo Wilderness, dtype: int64

Postcode    2628
Name: Cootralantra, dtype: int64

Postcode    2628
Name: Dalgety, dtype: int64

Postcode    2628
Name: Eucumbene, dtype: int64

Postcode    2628
Name: Lower Eucembene, dtype: int64

Postcode    2628
Name: Nimmo, dtype: int64

Postcode    2628
Name: Numbla Vale, dtype: int64

Postcode    2628
Name: Paupong, dtype: int64

Postcode    2628
Name: Rocky Plain, dtype: int64

Postcode    2628
Name: Snowy Plain, dtype: int64

Postcode    2629
Name: Adaminaby, dtype: int64

Postcode    2629
Name: Anglers Reach, dtype: int64

Postcode    2629
Name: Bolaro, dtype: int64

Postcode    2629
Name: Cabramurra, dtype: int64

Postcode    2629
Name: Kiandra, dtype: int64

Postcode    2629
Name: Old Adaminaby, dtype: int64

Postcode    2629
Name: Providence Portal, dtype: int64

Postcode    2629
Name: Tantangara, dtype: int64

Postcode    2629
Name: Yaouk, dtype: int64

Postcode    2630
Name: Arable, dtype: int64

Postcode    2630
Name: Badja, dtype: int64

Postcode    2630
Name: Billilingra, dtype: int64

Postcode    2630
Name: Binjura, dtype: int64

Postcode    2630
Name: Bobundara, dtype: int64

Postcode    2630
Name: Buckenderra, dtype: int64

Postcode    2630
Name: Bungarby, dtype: int64

Postcode    2630
Name: Bunyan, dtype: int64

Postcode    2630
Name: Carlaminda, dtype: int64

Postcode    2630
Name: Chakola, dtype: int64

Postcode    2630
Name: Coolringdon, dtype: int64

Postcode    2630
Name: Cooma, dtype: int64

Postcode    2630
Name: Cooma North, dtype: int64

Postcode    2630
Name: Coonerang, dtype: int64

Postcode    2630
Name: Countegany, dtype: int64

Postcode    2630
Name: Dairymans Plains, dtype: int64

Postcode    2630
Name: Dangelong, dtype: int64

Postcode    2630
Name: Dry Plain, dtype: int64

Postcode    2630
Name: Frying Pan, dtype: int64

Postcode    2630
Name: Glen Fergus, dtype: int64

Postcode    2630
Name: Ironmungy, dtype: int64

Postcode    2630
Name: Jerangle, dtype: int64

Postcode    2630
Name: Jimenbuen, dtype: int64

Postcode    2630
Name: Maffra, dtype: int64

Postcode    2630
Name: Middle Flat, dtype: int64

Postcode    2630
Name: Middlingbank, dtype: int64

Postcode    2630
Name: Murrumbucca, dtype: int64

Postcode    2630
Name: Myalla, dtype: int64

Postcode    2630
Name: Numeralla, dtype: int64

Postcode    2630
Name: Peak View, dtype: int64

Postcode    2630
Name: Pine Valley, dtype: int64

Postcode    2630
Name: Polo Flat, dtype: int64

Postcode    2630
Name: Rhine Falls, dtype: int64

Postcode    2630
Name: Rock Flat, dtype: int64

Postcode    2630
Name: Shannons Flat, dtype: int64

Postcode    2630
Name: The Brothers, dtype: int64

Postcode    2630
Name: Tuross, dtype: int64

Postcode    2630
Name: Wambrook, dtype: int64

Postcode    2631
Name: Ando, dtype: int64

Postcode    2631
Name: Bocci, dtype: int64

Postcode    2631
Name: Creewah, dtype: int64

Postcode    2631
Name: Glen Allen, dtype: int64

Postcode    2631
Name: Holts Flat, dtype: int64

Postcode    2631
Name: Jimcumbilly, dtype: int64

Postcode    2631
Name: Kybeyan, dtype: int64

Postcode    2631
Name: Mount Cooper, dtype: int64

Postcode    2631
Name: Nimmitabel, dtype: int64

Postcode    2631
Name: Steeple Flat, dtype: int64

Postcode    2631
Name: Winifred, dtype: int64

Postcode    2632
Name: Bibbenluke, dtype: int64

Postcode    2632
Name: Bombala, dtype: int64

Postcode    2632
Name: Bondi Forest, dtype: int64

Postcode    2632
Name: Bukalong, dtype: int64

Postcode    2632
Name: Cambalong, dtype: int64

Postcode    2632
Name: Cathcart, dtype: int64

Postcode    2632
Name: Coolumbooka, dtype: int64

Postcode    2632
Name: Craigie, dtype: int64

Postcode    2632
Name: Gunningrah, dtype: int64

Postcode    2632
Name: Lords Hill, dtype: int64

Postcode    2632
Name: Merriangaah, dtype: int64

Postcode    2632
Name: Mila, dtype: int64

Postcode    2632
Name: Mount Darragh, dtype: int64

Postcode    2632
Name: Nungatta, dtype: int64

Postcode    2632
Name: Palarang, dtype: int64

Postcode    2632
Name: Quidong, dtype: int64

Postcode    2632
Name: Rockton, dtype: int64

Postcode    2632
Name: Rosemeath, dtype: int64

Postcode    2633
Name: Corrowong, dtype: int64

Postcode    2633
Name: Delegate, dtype: int64

Postcode    2633
Name: Tombong, dtype: int64

Postcode    2640
Name: Albury, dtype: int64

Postcode    2640
Name: Bungowannah, dtype: int64

Postcode    2640
Name: East Albury, dtype: int64

Postcode    2640
Name: Ettamogah, dtype: int64

         Postcode
Suburb
Glenroy      2640
Glenroy      2653

Postcode    2640
Name: Moorwatha, dtype: int64

Postcode    2640
Name: North Albury, dtype: int64

Postcode    2640
Name: Ournie, dtype: int64

Postcode    2640
Name: South Albury, dtype: int64

Postcode    2640
Name: Splitters Creek, dtype: int64

Postcode    2640
Name: Table Top, dtype: int64

Postcode    2640
Name: Talmalmo, dtype: int64

Postcode    2640
Name: Thurgoona, dtype: int64

Postcode    2640
Name: West Albury, dtype: int64

Postcode    2640
Name: Wirlinga, dtype: int64

Postcode    2640
Name: Wymah, dtype: int64

Postcode    2641
Name: Hamilton Valley, dtype: int64

Postcode    2641
Name: Lavington, dtype: int64

Postcode    2641
Name: Springdale Heights, dtype: int64

Postcode    2642
Name: Brocklesby, dtype: int64

Postcode    2642
Name: Burrumbuttock, dtype: int64

Postcode    2642
Name: Geehi, dtype: int64

Postcode    2642
Name: Gerogery, dtype: int64

Postcode    2642
Name: Greg Greg, dtype: int64

Postcode    2642
Name: Indi, dtype: int64

Postcode    2642
Name: Jagumba, dtype: int64

Postcode    2642
Name: Jagungal Wilderness, dtype: int64

Postcode    2642
Name: Jindera, dtype: int64

Postcode    2642
Name: Jingellic, dtype: int64

Postcode    2642
Name: Khancoban, dtype: int64

Postcode    2642
Name: Murray Gorge, dtype: int64

Postcode    2642
Name: Rand, dtype: int64

Postcode    2642
Name: Tooma, dtype: int64

Postcode    2642
Name: Walbundrie, dtype: int64

Postcode    2642
Name: Yerong Creek, dtype: int64

Postcode    2643
Name: Howlong, dtype: int64

Postcode    2644
Name: Bowna, dtype: int64

Postcode    2644
Name: Coppabella, dtype: int64

Postcode    2644
Name: Holbrook, dtype: int64

Postcode    2644
Name: Lankeys Creek, dtype: int64

Postcode    2644
Name: Little Billabong, dtype: int64

Postcode    2644
Name: Mountain Creek, dtype: int64

Postcode    2644
Name: Mullengandra, dtype: int64

Postcode    2644
Name: Wantagong, dtype: int64

Postcode    2644
Name: Woomargama, dtype: int64

Postcode    2645
Name: Coonong, dtype: int64

Postcode    2645
Name: Urana, dtype: int64

Postcode    2645
Name: Yuluma, dtype: int64

Postcode    2646
Name: Balldale, dtype: int64

Postcode    2646
Name: Bull Plain, dtype: int64

Postcode    2646
Name: Buraja, dtype: int64

Postcode    2646
Name: Coads Tank, dtype: int64

Postcode    2646
Name: Collendina, dtype: int64

Postcode    2646
Name: Coreen, dtype: int64

Postcode    2646
Name: Corowa, dtype: int64

Postcode    2646
Name: Daysdale, dtype: int64

Postcode    2646
Name: Goombargana, dtype: int64

Postcode    2646
Name: Lowesdale, dtype: int64

Postcode    2646
Name: Merton Vale, dtype: int64

Postcode    2646
Name: Oaklands, dtype: int64

Postcode    2646
Name: Redlands, dtype: int64

Postcode    2646
Name: Rennie, dtype: int64

Postcode    2646
Name: Ringwood, dtype: int64

Postcode    2646
Name: Savernake, dtype: int64

Postcode    2647
Name: Mulwala, dtype: int64

Postcode    2648
Name: Boeill Creek, dtype: int64

Postcode    2648
Name: Cal Lal, dtype: int64

Postcode    2648
Name: Curlwaa, dtype: int64

Postcode    2648
Name: Mourquong, dtype: int64

Postcode    2648
Name: Palinyewah, dtype: int64

Postcode    2648
Name: Pomona, dtype: int64

Postcode    2648
Name: Pooncarie, dtype: int64

Postcode    2648
Name: Rufus River, dtype: int64

Postcode    2648
Name: Wentworth, dtype: int64

Postcode    2649
Name: Laurel Hill, dtype: int64

Postcode    2649
Name: Nurenmerenmong, dtype: int64

Postcode    2650
Name: Alfredtown, dtype: int64

Postcode    2650
Name: Ashmont, dtype: int64

Postcode    2650
Name: Belfrayden, dtype: int64

Postcode    2650
Name: Berry Jerry, dtype: int64

Postcode    2650
Name: Big Springs, dtype: int64

Postcode    2650
Name: Bomen, dtype: int64

Postcode    2650
Name: Book Book, dtype: int64

          Postcode
Suburb
Boorooma      2650
Boorooma      2832

Postcode    2650
Name: Borambola, dtype: int64

Postcode    2650
Name: Bourkelands, dtype: int64

Postcode    2650
Name: Brucedale, dtype: int64

Postcode    2650
Name: Bulgary, dtype: int64

Postcode    2650
Name: Burrandana, dtype: int64

Postcode    2650
Name: Carabost, dtype: int64

Postcode    2650
Name: Cartwrights Hill, dtype: int64

Postcode    2650
Name: Collingullie, dtype: int64

Postcode    2650
Name: Cookardinia, dtype: int64

Postcode    2650
Name: Coursing Park, dtype: int64

Postcode    2650
Name: Currawananna, dtype: int64

Postcode    2650
Name: Currawarna, dtype: int64

Postcode    2650
Name: Downside, dtype: int64

Postcode    2650
Name: East Wagga Wagga, dtype: int64

Postcode    2650
Name: Estella, dtype: int64

Postcode    2650
Name: Euberta, dtype: int64

Postcode    2650
Name: Eunonoreenya, dtype: int64

Postcode    2650
Name: Gelston Park, dtype: int64

Postcode    2650
Name: Glenfield Park, dtype: int64

Postcode    2650
Name: Gobbagombalin, dtype: int64

Postcode    2650
Name: Gregadoo, dtype: int64

Postcode    2650
Name: Harefield, dtype: int64

Postcode    2650
Name: Kooringal, dtype: int64

Postcode    2650
Name: Kyeamba, dtype: int64

Postcode    2650
Name: Lake Albert, dtype: int64

Postcode    2650
Name: Lloyd, dtype: int64

Postcode    2650
Name: Maxwell, dtype: int64

Postcode    2650
Name: Moorong, dtype: int64

Postcode    2650
Name: Mount Austin, dtype: int64

Postcode    2650
Name: Oberne Creek, dtype: int64

Postcode    2650
Name: Oura, dtype: int64

Postcode    2650
Name: Pulletop, dtype: int64

Postcode    2650
Name: Rowan, dtype: int64

Postcode    2650
Name: San Isidore, dtype: int64

Postcode    2650
Name: Springvale, dtype: int64

Postcode    2650
Name: Tatton, dtype: int64

Postcode    2650
Name: The Gap, dtype: int64

Postcode    2650
Name: Tolland, dtype: int64

Postcode    2650
Name: Turvey Park, dtype: int64

Postcode    2650
Name: Wagga Wagga, dtype: int64

Postcode    2650
Name: Wagga Wagga North, dtype: int64

Postcode    2650
Name: Wagga Wagga South, dtype: int64

Postcode    2650
Name: Wallacetown, dtype: int64

Postcode    2650
Name: Wantabadgery, dtype: int64

Postcode    2650
Name: Westby, dtype: int64

Postcode    2650
Name: Yarragundry, dtype: int64

Postcode    2650
Name: Yathella, dtype: int64

Postcode    2651
Name: Forest Hill, dtype: int64

Postcode    2652
Name: Boorga, dtype: int64

Postcode    2652
Name: Boree Creek, dtype: int64

Postcode    2652
Name: Galore, dtype: int64

Postcode    2652
Name: Goolgowi, dtype: int64

Postcode    2652
Name: Grong Grong, dtype: int64

Postcode    2652
Name: Gumly Gumly, dtype: int64

Postcode    2652
Name: Humula, dtype: int64

Postcode    2652
Name: Ladysmith, dtype: int64

Postcode    2652
Name: Mangoplah, dtype: int64

Postcode    2652
Name: Marrar, dtype: int64

Postcode    2652
Name: Matong, dtype: int64

Postcode    2652
Name: Merriwagga, dtype: int64

Postcode    2652
Name: Murrulebale, dtype: int64

Postcode    2652
Name: Oberne, dtype: int64

Postcode    2652
Name: Old Junee, dtype: int64

Postcode    2652
Name: Tabbita, dtype: int64

Postcode    2652
Name: Tarcutta, dtype: int64

Postcode    2652
Name: Uranquinty, dtype: int64

Postcode    2653
Name: Courabyra, dtype: int64

Postcode    2653
Name: Mannus, dtype: int64

Postcode    2653
Name: Maragle, dtype: int64

Postcode    2653
Name: Munderoo, dtype: int64

Postcode    2653
Name: Taradale, dtype: int64

Postcode    2653
Name: Tumbarumba, dtype: int64

Postcode    2653
Name: Willigobung, dtype: int64

Postcode    2655
Name: Birdlip, dtype: int64

Postcode    2655
Name: French Park, dtype: int64

Postcode    2655
Name: Kubura, dtype: int64

Postcode    2655
Name: The Rock, dtype: int64

Postcode    2655
Name: Tootool, dtype: int64

Postcode    2656
Name: Brookdale, dtype: int64

Postcode    2656
Name: Lockhart, dtype: int64

Postcode    2656
Name: Milbrulong, dtype: int64

Postcode    2656
Name: Osborne, dtype: int64

Postcode    2656
Name: Urangeline, dtype: int64

Postcode    2656
Name: Urangeline East, dtype: int64

Postcode    2658
Name: Grubben, dtype: int64

Postcode    2658
Name: Henty, dtype: int64

Postcode    2658
Name: Munyabla, dtype: int64

Postcode    2658
Name: Pleasant Hills, dtype: int64

Postcode    2658
Name: Ryan, dtype: int64

Postcode    2659
Name: Alma Park, dtype: int64

Postcode    2659
Name: Walla Walla, dtype: int64

Postcode    2660
Name: Carnsdale, dtype: int64

Postcode    2660
Name: Culcairn, dtype: int64

Postcode    2661
Name: Kapooka, dtype: int64

Postcode    2663
Name: Bundure, dtype: int64

Postcode    2663
Name: Cooba, dtype: int64

Postcode    2663
Name: Cowabbie, dtype: int64

Postcode    2663
Name: Erin Vale, dtype: int64

Postcode    2663
Name: Eurongilly, dtype: int64

Postcode    2663
Name: Junee, dtype: int64

Postcode    2663
Name: Landervale, dtype: int64

Postcode    2663
Name: Marinna, dtype: int64

Postcode    2663
Name: Wantiool, dtype: int64

Postcode    2665
Name: Ardlethan, dtype: int64

Postcode    2665
Name: Ariah Park, dtype: int64

Postcode    2665
Name: Barellan, dtype: int64

Postcode    2665
Name: Beckom, dtype: int64

Postcode    2665
Name: Bectric, dtype: int64

Postcode    2665
Name: Binya, dtype: int64

Postcode    2665
Name: Kamarah, dtype: int64

Postcode    2665
Name: Mirrool, dtype: int64

Postcode    2665
Name: Moombooldool, dtype: int64

Postcode    2665
Name: Mount Crystal, dtype: int64

Postcode    2665
Name: Tara, dtype: int64

Postcode    2665
Name: Walleroobie, dtype: int64

Postcode    2666
Name: Combaning, dtype: int64

Postcode    2666
Name: Dirnaseer, dtype: int64

Postcode    2666
Name: Gidginbung, dtype: int64

Postcode    2666
Name: Grogan, dtype: int64

Postcode    2666
Name: Junee Reefs, dtype: int64

Postcode    2666
Name: Mimosa, dtype: int64

Postcode    2666
Name: Morangarell, dtype: int64

Postcode    2666
Name: Narraburra, dtype: int64

Postcode    2666
Name: Pucawan, dtype: int64

Postcode    2666
Name: Quandary, dtype: int64

Postcode    2666
Name: Reefton, dtype: int64

Postcode    2666
Name: Sebastopol, dtype: int64

Postcode    2666
Name: Springdale, dtype: int64

Postcode    2666
Name: Temora, dtype: int64

Postcode    2666
Name: Trungley Hall, dtype: int64

Postcode    2668
Name: Barmedman, dtype: int64

Postcode    2669
Name: Bygalorie, dtype: int64

Postcode    2669
Name: Erigolia, dtype: int64

Postcode    2669
Name: Girral, dtype: int64

Postcode    2669
Name: Gubbata, dtype: int64

Postcode    2669
Name: Kikoira, dtype: int64

Postcode    2669
Name: Melbergen, dtype: int64

Postcode    2669
Name: Naradhan, dtype: int64

Postcode    2669
Name: North Yalgogrin, dtype: int64

Postcode    2669
Name: Rankins Springs, dtype: int64

Postcode    2669
Name: Tallimba, dtype: int64

Postcode    2669
Name: Tullibigeal, dtype: int64

Postcode    2669
Name: Ungarie, dtype: int64

Postcode    2669
Name: Weethalle, dtype: int64

Postcode    2669
Name: Weja, dtype: int64

Postcode    2669
Name: Yaddra, dtype: int64

Postcode    2671
Name: Alleena, dtype: int64

Postcode    2671
Name: Burcher, dtype: int64

Postcode    2671
Name: Lake Cowal, dtype: int64

Postcode    2671
Name: West Wyalong, dtype: int64

Postcode    2671
Name: Wyalong, dtype: int64

Postcode    2672
Name: Burgooney, dtype: int64

Postcode    2672
Name: Lake Cargelligo, dtype: int64

Postcode    2672
Name: Murrin Bridge, dtype: int64

Postcode    2672
Name: Wargambegal, dtype: int64

Postcode    2675
Name: Hillston, dtype: int64

Postcode    2675
Name: Lake Brewster, dtype: int64

Postcode    2675
Name: Monia Gap, dtype: int64

Postcode    2675
Name: Roto, dtype: int64

Postcode    2675
Name: Wallanthery, dtype: int64

Postcode    2675
Name: White Top, dtype: int64

Postcode    2680
Name: Beelbangera, dtype: int64

Postcode    2680
Name: Benerembah, dtype: int64

Postcode    2680
Name: Bilbul, dtype: int64

Postcode    2680
Name: Griffith, dtype: int64

Postcode    2680
Name: Griffith East, dtype: int64

Postcode    2680
Name: Hanwood, dtype: int64

Postcode    2680
Name: Kooba, dtype: int64

Postcode    2680
Name: Lake Wyangan, dtype: int64

Postcode    2680
Name: Nericon, dtype: int64

Postcode    2680
Name: Tharbogang, dtype: int64

Postcode    2680
Name: Warburn, dtype: int64

Postcode    2680
Name: Warrawidgee, dtype: int64

Postcode    2680
Name: Widgelli, dtype: int64

Postcode    2680
Name: Willbriggie, dtype: int64

Postcode    2680
Name: Yoogali, dtype: int64

Postcode    2681
Name: Myall Park, dtype: int64

Postcode    2681
Name: Yenda, dtype: int64

Postcode    2700
Name: Birrego, dtype: int64

Postcode    2700
Name: Colinroobie, dtype: int64

Postcode    2700
Name: Corobimilla, dtype: int64

Postcode    2700
Name: Cudgel, dtype: int64

Postcode    2700
Name: Faithfull, dtype: int64

Postcode    2700
Name: Kywong, dtype: int64

Postcode    2700
Name: Morundah, dtype: int64

Postcode    2700
Name: Narrandera, dtype: int64

Postcode    2700
Name: Paynters Siding, dtype: int64

Postcode    2700
Name: Sandigo, dtype: int64

Postcode    2700
Name: Uroly, dtype: int64

Postcode    2700
Name: Widgiewa, dtype: int64

Postcode    2701
Name: Coolamon, dtype: int64

Postcode    2701
Name: Methul, dtype: int64

Postcode    2701
Name: Rannock, dtype: int64

Postcode    2701
Name: Tooyal, dtype: int64

Postcode    2702
Name: Ganmain, dtype: int64

Postcode    2703
Name: Yanco, dtype: int64

Postcode    2705
Name: Brobenah, dtype: int64

Postcode    2705
Name: Calorafield, dtype: int64

Postcode    2705
Name: Corbie Hill, dtype: int64

Postcode    2705
Name: Gogeldrie, dtype: int64

Postcode    2705
Name: Leeton, dtype: int64

Postcode    2705
Name: Merungle Hill, dtype: int64

Postcode    2705
Name: Murrami, dtype: int64

Postcode    2705
Name: Stanbridge, dtype: int64

Postcode    2705
Name: Wamoon, dtype: int64

Postcode    2705
Name: Whitton, dtype: int64

Postcode    2706
Name: Darlington Point, dtype: int64

Postcode    2707
Name: Argoon, dtype: int64

Postcode    2707
Name: Coleambally, dtype: int64

Postcode    2710
Name: Barratta, dtype: int64

Postcode    2710
Name: Benarca, dtype: int64

Postcode    2710
Name: Birganbigil, dtype: int64

Postcode    2710
Name: Booroorban, dtype: int64

Postcode    2710
Name: Brassi, dtype: int64

Postcode    2710
Name: Caldwell, dtype: int64

Postcode    2710
Name: Calimo, dtype: int64

Postcode    2710
Name: Conargo, dtype: int64

Postcode    2710
Name: Coree, dtype: int64

Postcode    2710
Name: Cornalla, dtype: int64

Postcode    2710
Name: Deniliquin, dtype: int64

Postcode    2710
Name: Gulpa, dtype: int64

Postcode    2710
Name: Hartwood, dtype: int64

Postcode    2710
Name: Hill Plain, dtype: int64

Postcode    2710
Name: Jimaringle, dtype: int64

Postcode    2710
Name: Lindifferon, dtype: int64

Postcode    2710
Name: Mathoura, dtype: int64

Postcode    2710
Name: Mayrung, dtype: int64

Postcode    2710
Name: Moira, dtype: int64

Postcode    2710
Name: Moonahcullah, dtype: int64

Postcode    2710
Name: Moonbria, dtype: int64

Postcode    2710
Name: Morago, dtype: int64

Postcode    2710
Name: Pretty Pine, dtype: int64

Postcode    2710
Name: Steam Plains, dtype: int64

Postcode    2710
Name: Stud Park, dtype: int64

Postcode    2710
Name: Wakool, dtype: int64

Postcode    2710
Name: Wandook, dtype: int64

Postcode    2710
Name: Wanganella, dtype: int64

Postcode    2710
Name: Warragoon, dtype: int64

Postcode    2710
Name: Willurah, dtype: int64

Postcode    2710
Name: Yallakool, dtype: int64

Postcode    2711
Name: Booligal, dtype: int64

Postcode    2711
Name: Carrathool, dtype: int64

Postcode    2711
Name: Gunbar, dtype: int64

Postcode    2711
Name: Hay, dtype: int64

Postcode    2711
Name: Hay South, dtype: int64

Postcode    2711
Name: Maude, dtype: int64

Postcode    2711
Name: One Tree, dtype: int64

Postcode    2711
Name: Oxley, dtype: int64

Postcode    2712
Name: Berrigan, dtype: int64

Postcode    2712
Name: Boomanoomana, dtype: int64

Postcode    2713
Name: Blighty, dtype: int64

Postcode    2713
Name: Finley, dtype: int64

Postcode    2713
Name: Logie Brae, dtype: int64

Postcode    2713
Name: Myrtle Park, dtype: int64

Postcode    2714
Name: Pine Lodge, dtype: int64

Postcode    2714
Name: Tocumwal, dtype: int64

Postcode    2714
Name: Tuppal, dtype: int64

Postcode    2715
Name: Balranald, dtype: int64

Postcode    2715
Name: Hatfield, dtype: int64

Postcode    2715
Name: Penarie, dtype: int64

Postcode    2715
Name: The Vale, dtype: int64

Postcode    2716
Name: Coree South, dtype: int64

Postcode    2716
Name: Four Corners, dtype: int64

Postcode    2716
Name: Jerilderie, dtype: int64

Postcode    2716
Name: Mabins Well, dtype: int64

Postcode    2717
Name: Dareton, dtype: int64

Postcode    2720
Name: Argalong, dtype: int64

Postcode    2720
Name: Blowering, dtype: int64

Postcode    2720
Name: Bogong Peaks Wilderness, dtype: int64

Postcode    2720
Name: Bombowlee, dtype: int64

Postcode    2720
Name: Bombowlee Creek, dtype: int64

Postcode    2720
Name: Buddong, dtype: int64

Postcode    2720
Name: Courajago, dtype: int64

Postcode    2720
Name: Gadara, dtype: int64

Postcode    2720
Name: Gilmore, dtype: int64

Postcode    2720
Name: Gocup, dtype: int64

Postcode    2720
Name: Goobarragandra, dtype: int64

Postcode    2720
Name: Jones Bridge, dtype: int64

Postcode    2720
Name: Killimicat, dtype: int64

Postcode    2720
Name: Lacmalac, dtype: int64

Postcode    2720
Name: Little River, dtype: int64

Postcode    2720
Name: Midway, dtype: int64

Postcode    2720
Name: Minjary, dtype: int64

Postcode    2720
Name: Mundongo, dtype: int64

Postcode    2720
Name: Pinbeyan, dtype: int64

Postcode    2720
Name: Talbingo, dtype: int64

Postcode    2720
Name: Tumorrama, dtype: int64

Postcode    2720
Name: Tumut, dtype: int64

Postcode    2720
Name: Tumut Plains, dtype: int64

Postcode    2720
Name: Wereboldera, dtype: int64

Postcode    2720
Name: Wermatong, dtype: int64

Postcode    2720
Name: Windowie, dtype: int64

Postcode    2720
Name: Wyangle, dtype: int64

Postcode    2720
Name: Yarrangobilly, dtype: int64

Postcode    2721
Name: Bland, dtype: int64

Postcode    2721
Name: Quandialla, dtype: int64

Postcode    2722
Name: Bongalong, dtype: int64

Postcode    2722
Name: Bongongalong, dtype: int64

Postcode    2722
Name: Brungle, dtype: int64

Postcode    2722
Name: Brungle Creek, dtype: int64

Postcode    2722
Name: Burra Creek, dtype: int64

Postcode    2722
Name: Darbalara, dtype: int64

Postcode    2722
Name: Edwardstown, dtype: int64

Postcode    2722
Name: Gundagai, dtype: int64

Postcode    2722
Name: Jackalass, dtype: int64

Postcode    2722
Name: Jones Creek, dtype: int64

Postcode    2722
Name: Muttama, dtype: int64

Postcode    2722
Name: Nangus, dtype: int64

Postcode    2722
Name: Reno, dtype: int64

Postcode    2722
Name: South Gundagai, dtype: int64

Postcode    2722
Name: Tarrabandra, dtype: int64

Postcode    2722
Name: Wagragobilly, dtype: int64

Postcode    2722
Name: Willie Ploma, dtype: int64

Postcode    2725
Name: Stockinbingal, dtype: int64

Postcode    2726
Name: Bundarbo, dtype: int64

Postcode    2726
Name: Jugiong, dtype: int64

Postcode    2727
Name: Adjungbilly, dtype: int64

Postcode    2727
Name: Coolac, dtype: int64

Postcode    2727
Name: Mingay, dtype: int64

Postcode    2729
Name: Adelong, dtype: int64

Postcode    2729
Name: Bangadang, dtype: int64

Postcode    2729
Name: Califat, dtype: int64

Postcode    2729
Name: Cooleys Creek, dtype: int64

Postcode    2729
Name: Darlow, dtype: int64

Postcode    2729
Name: Ellerslie, dtype: int64

Postcode    2729
Name: Grahamstown, dtype: int64

Postcode    2729
Name: Mount Adrah, dtype: int64

Postcode    2729
Name: Mount Horeb, dtype: int64

Postcode    2729
Name: Mundarlo, dtype: int64

Postcode    2729
Name: Sandy Gully, dtype: int64

Postcode    2729
Name: Sharps Creek, dtype: int64

Postcode    2729
Name: The Grove, dtype: int64

Postcode    2729
Name: Tumblong, dtype: int64

Postcode    2729
Name: Westwood, dtype: int64

Postcode    2729
Name: Wondalga, dtype: int64

Postcode    2729
Name: Yaven Creek, dtype: int64

Postcode    2730
Name: Bago, dtype: int64

Postcode    2730
Name: Batlow, dtype: int64

Postcode    2730
Name: Kunama, dtype: int64

Postcode    2730
Name: Lower Bago, dtype: int64

Postcode    2731
Name: Bunnaloo, dtype: int64

Postcode    2731
Name: Moama, dtype: int64

Postcode    2731
Name: Tantonan, dtype: int64

Postcode    2731
Name: Womboota, dtype: int64

Postcode    2732
Name: Barham, dtype: int64

Postcode    2732
Name: Burraboi, dtype: int64

Postcode    2732
Name: Noorong, dtype: int64

Postcode    2732
Name: Thule, dtype: int64

Postcode    2732
Name: Tullakool, dtype: int64

Postcode    2733
Name: Dhuragoon, dtype: int64

Postcode    2733
Name: Moulamein, dtype: int64

Postcode    2733
Name: Niemur, dtype: int64

Postcode    2733
Name: Perekerten, dtype: int64

Postcode    2734
Name: Coobool, dtype: int64

Postcode    2734
Name: Cunninyeuk, dtype: int64

Postcode    2734
Name: Dilpurra, dtype: int64

Postcode    2734
Name: Kyalite, dtype: int64

Postcode    2734
Name: Mellool, dtype: int64

Postcode    2734
Name: Nacurrie, dtype: int64

Postcode    2734
Name: Speewa Island, dtype: int64

Postcode    2734
Name: Stony Crossing, dtype: int64

Postcode    2734
Name: Tueloga, dtype: int64

Postcode    2734
Name: Wetuppa, dtype: int64

Postcode    2735
Name: Koraleigh, dtype: int64

Postcode    2736
Name: Goodnight, dtype: int64

Postcode    2736
Name: Tooleybuc, dtype: int64

Postcode    2737
Name: Benanee, dtype: int64

Postcode    2737
Name: Euston, dtype: int64

Postcode    2738
Name: Gol Gol, dtype: int64

Postcode    2738
Name: Monak, dtype: int64

Postcode    2738
Name: Trentham Cliffs, dtype: int64

Postcode    2739
Name: Buronga, dtype: int64

Postcode    2745
Name: Glenmore Park, dtype: int64

Postcode    2745
Name: Luddenham, dtype: int64

Postcode    2745
Name: Mulgoa, dtype: int64

Postcode    2745
Name: Regentville, dtype: int64

Postcode    2745
Name: Wallacia, dtype: int64

Postcode    2747
Name: Cambridge Gardens, dtype: int64

Postcode    2747
Name: Cambridge Park, dtype: int64

Postcode    2747
Name: Claremont Meadows, dtype: int64

Postcode    2747
Name: Llandilo, dtype: int64

Postcode    2747
Name: Shanes Park, dtype: int64

Postcode    2747
Name: Werrington, dtype: int64

Postcode    2747
Name: Werrington County, dtype: int64

Postcode    2747
Name: Werrington Downs, dtype: int64

Postcode    2748
Name: Orchard Hills, dtype: int64

Postcode    2749
Name: Castlereagh, dtype: int64

Postcode    2749
Name: Cranebrook, dtype: int64

Postcode    2750
Name: Emu Heights, dtype: int64

Postcode    2750
Name: Emu Plains, dtype: int64

Postcode    2750
Name: Jamisontown, dtype: int64

Postcode    2750
Name: Leonay, dtype: int64

         Postcode
Suburb
Penrith      2750
Penrith      2751

Postcode    2750
Name: Penrith Plaza, dtype: int64

Postcode    2750
Name: Penrith South, dtype: int64

Postcode    2750
Name: South Penrith, dtype: int64

Postcode    2752
Name: Silverdale, dtype: int64

Postcode    2752
Name: Warragamba, dtype: int64

Postcode    2753
Name: Agnes Banks, dtype: int64

Postcode    2753
Name: Bowen Mountain, dtype: int64

Postcode    2753
Name: Grose Vale, dtype: int64

Postcode    2753
Name: Grose Wold, dtype: int64

Postcode    2753
Name: Hobartville, dtype: int64

Postcode    2753
Name: Londonderry, dtype: int64

          Postcode
Suburb
Richmond      2753
Richmond      2755

Postcode    2753
Name: Yarramundi, dtype: int64

Postcode    2754
Name: North Richmond, dtype: int64

Postcode    2754
Name: Tennyson, dtype: int64

Postcode    2754
Name: The Slopes, dtype: int64

Postcode    2756
Name: Bligh Park, dtype: int64

Postcode    2756
Name: Cattai, dtype: int64

Postcode    2756
Name: Central Colo, dtype: int64

Postcode    2756
Name: Clarendon, dtype: int64

        Postcode
Suburb
Colo        2756
Colo        2795

Postcode    2756
Name: Colo Heights, dtype: int64

Postcode    2756
Name: Cornwallis, dtype: int64

Postcode    2756
Name: Ebenezer, dtype: int64

Postcode    2756
Name: Freemans Reach, dtype: int64

Postcode    2756
Name: Glossodia, dtype: int64

Postcode    2756
Name: Leets Vale, dtype: int64

Postcode    2756
Name: Lower Portland, dtype: int64

Postcode    2756
Name: Maroota, dtype: int64

Postcode    2756
Name: Mcgraths Hill, dtype: int64

Postcode    2756
Name: Mellong, dtype: int64

Postcode    2756
Name: Mulgrave, dtype: int64

Postcode    2756
Name: Pitt Town, dtype: int64

Postcode    2756
Name: Sackville, dtype: int64

Postcode    2756
Name: Sackville North, dtype: int64

Postcode    2756
Name: Scheyville, dtype: int64

Postcode    2756
Name: South Maroota, dtype: int64

Postcode    2756
Name: South Windsor, dtype: int64

Postcode    2756
Name: Upper Colo, dtype: int64

Postcode    2756
Name: Wilberforce, dtype: int64

Postcode    2756
Name: Windsor, dtype: int64

Postcode    2756
Name: Windsor Downs, dtype: int64

Postcode    2757
Name: Kurmond, dtype: int64

Postcode    2758
Name: Berambing, dtype: int64

Postcode    2758
Name: Bilpin, dtype: int64

Postcode    2758
Name: Blaxlands Ridge, dtype: int64

Postcode    2758
Name: East Kurrajong, dtype: int64

Postcode    2758
Name: Kurrajong, dtype: int64

Postcode    2758
Name: Kurrajong Heights, dtype: int64

Postcode    2758
Name: Kurrajong Hills, dtype: int64

Postcode    2758
Name: Mount Tomah, dtype: int64

Postcode    2758
Name: Wheeny Creek, dtype: int64

Postcode    2759
Name: Erskine Park, dtype: int64

Postcode    2760
Name: Colyton, dtype: int64

Postcode    2760
Name: North St Marys, dtype: int64

Postcode    2760
Name: Oxley Park, dtype: int64

Postcode    2760
Name: St Marys, dtype: int64

Postcode    2760
Name: St Marys East, dtype: int64

Postcode    2760
Name: St Marys South, dtype: int64

Postcode    2761
Name: Colebee, dtype: int64

Postcode    2761
Name: Dean Park, dtype: int64

Postcode    2761
Name: Glendenning, dtype: int64

Postcode    2761
Name: Hassall Grove, dtype: int64

Postcode    2761
Name: Oakhurst, dtype: int64

Postcode    2761
Name: Plumpton, dtype: int64

Postcode    2762
Name: Schofields, dtype: int64

Postcode    2763
Name: Acacia Gardens, dtype: int64

Postcode    2763
Name: Quakers Hill, dtype: int64

Postcode    2765
Name: Berkshire Park, dtype: int64

Postcode    2765
Name: Box Hill, dtype: int64

Postcode    2765
Name: Maraylya, dtype: int64

Postcode    2765
Name: Marsden Park, dtype: int64

Postcode    2765
Name: Oakville, dtype: int64

Postcode    2765
Name: Riverstone, dtype: int64

Postcode    2765
Name: Vineyard, dtype: int64

Postcode    2766
Name: Eastern Creek, dtype: int64

Postcode    2766
Name: Rooty Hill, dtype: int64

Postcode    2767
Name: Doonside, dtype: int64

Postcode    2767
Name: Woodcroft, dtype: int64

Postcode    2768
Name: Glenwood, dtype: int64

Postcode    2768
Name: Parklea, dtype: int64

Postcode    2768
Name: Stanhope Gardens, dtype: int64

Postcode    2770
Name: Bidwill, dtype: int64

Postcode    2770
Name: Blackett, dtype: int64

Postcode    2770
Name: Dharruk, dtype: int64

Postcode    2770
Name: Emerton, dtype: int64

Postcode    2770
Name: Hebersham, dtype: int64

Postcode    2770
Name: Lethbridge Park, dtype: int64

Postcode    2770
Name: Minchinbury, dtype: int64

Postcode    2770
Name: Mount Druitt, dtype: int64

Postcode    2770
Name: Mount Druitt Village, dtype: int64

Postcode    2770
Name: Shalvey, dtype: int64

Postcode    2770
Name: Tregear, dtype: int64

Postcode    2770
Name: Whalan, dtype: int64

Postcode    2770
Name: Willmot, dtype: int64

Postcode    2773
Name: Glenbrook, dtype: int64

Postcode    2773
Name: Lapstone, dtype: int64

Postcode    2774
Name: Blaxland, dtype: int64

Postcode    2774
Name: Blaxland East, dtype: int64

Postcode    2774
Name: Mount Riverview, dtype: int64

Postcode    2774
Name: Warrimoo, dtype: int64

Postcode    2775
Name: Central Macdonald, dtype: int64

Postcode    2775
Name: Fernances, dtype: int64

Postcode    2775
Name: Gunderman, dtype: int64

Postcode    2775
Name: Higher Macdonald, dtype: int64

Postcode    2775
Name: Laughtondale, dtype: int64

Postcode    2775
Name: Lower Hawkesbury, dtype: int64

Postcode    2775
Name: Lower Macdonald, dtype: int64

Postcode    2775
Name: Marlow, dtype: int64

Postcode    2775
Name: Spencer, dtype: int64

Postcode    2775
Name: St Albans, dtype: int64

Postcode    2775
Name: Upper Macdonald, dtype: int64

Postcode    2775
Name: Webbs Creek, dtype: int64

Postcode    2775
Name: Wisemans Ferry, dtype: int64

Postcode    2776
Name: Faulconbridge, dtype: int64

Postcode    2777
Name: Hawkesbury Heights, dtype: int64

Postcode    2777
Name: Springwood, dtype: int64

Postcode    2777
Name: Sun Valley, dtype: int64

Postcode    2777
Name: Valley Heights, dtype: int64

Postcode    2777
Name: Winmalee, dtype: int64

Postcode    2778
Name: Linden, dtype: int64

Postcode    2779
Name: Hazelbrook, dtype: int64

Postcode    2780
Name: Katoomba, dtype: int64

Postcode    2780
Name: Katoomba Dc, dtype: int64

Postcode    2780
Name: Leura, dtype: int64

Postcode    2780
Name: Medlow Bath, dtype: int64

Postcode    2780
Name: Yosemite, dtype: int64

Postcode    2782
Name: Wentworth Falls, dtype: int64

Postcode    2783
Name: Lawson, dtype: int64

Postcode    2784
Name: Bullaburra, dtype: int64

Postcode    2785
Name: Blackheath, dtype: int64

Postcode    2785
Name: Megalong, dtype: int64

Postcode    2785
Name: Shipley, dtype: int64

Postcode    2786
Name: Bell, dtype: int64

Postcode    2786
Name: Dargan, dtype: int64

Postcode    2786
Name: Mount Irvine, dtype: int64

Postcode    2786
Name: Mount Victoria, dtype: int64

Postcode    2786
Name: Mount Wilson, dtype: int64

Postcode    2787
Name: Black Springs, dtype: int64

Postcode    2787
Name: Chatham Valley, dtype: int64

Postcode    2787
Name: Duckmaloi, dtype: int64

Postcode    2787
Name: Edith, dtype: int64

Postcode    2787
Name: Gingkin, dtype: int64

Postcode    2787
Name: Gurnang, dtype: int64

Postcode    2787
Name: Hazelgrove, dtype: int64

Postcode    2787
Name: Jaunter, dtype: int64

Postcode    2787
Name: Kanangra, dtype: int64

Postcode    2787
Name: Mount Werong, dtype: int64

Postcode    2787
Name: Mozart, dtype: int64

Postcode    2787
Name: Oberon, dtype: int64

Postcode    2787
Name: Porters Retreat, dtype: int64

Postcode    2787
Name: Shooters Hill, dtype: int64

Postcode    2787
Name: Tarana, dtype: int64

Postcode    2787
Name: The Meadows, dtype: int64

Postcode    2787
Name: Yerranderie, dtype: int64

Postcode    2790
Name: Ben Bullen, dtype: int64

Postcode    2790
Name: Blackmans Flat, dtype: int64

Postcode    2790
Name: Bowenfels, dtype: int64

Postcode    2790
Name: Clarence, dtype: int64

Postcode    2790
Name: Cobar Park, dtype: int64

Postcode    2790
Name: Corney Town, dtype: int64

Postcode    2790
Name: Cullen Bullen, dtype: int64

Postcode    2790
Name: Ganbenang, dtype: int64

Postcode    2790
Name: Hampton, dtype: int64

Postcode    2790
Name: Hartley, dtype: int64

Postcode    2790
Name: Hartley Vale, dtype: int64

Postcode    2790
Name: Jenolan, dtype: int64

Postcode    2790
Name: Jenolan Caves, dtype: int64

Postcode    2790
Name: Kanimbla, dtype: int64

Postcode    2790
Name: Lidsdale, dtype: int64

Postcode    2790
Name: Lithgow, dtype: int64

Postcode    2790
Name: Little Hartley, dtype: int64

Postcode    2790
Name: Lowther, dtype: int64

Postcode    2790
Name: Marrangaroo, dtype: int64

Postcode    2790
Name: Mount Lambie, dtype: int64

Postcode    2790
Name: Newnes, dtype: int64

Postcode    2790
Name: Rydal, dtype: int64

Postcode    2790
Name: Sodwalls, dtype: int64

Postcode    2790
Name: South Bowenfels, dtype: int64

Postcode    2790
Name: Wolgan Valley, dtype: int64

Postcode    2791
Name: Carcoar, dtype: int64

Postcode    2791
Name: Errowanbang, dtype: int64

Postcode    2792
Name: Burnt Yards, dtype: int64

Postcode    2792
Name: Mandurama, dtype: int64

Postcode    2793
Name: Darbys Falls, dtype: int64

Postcode    2793
Name: Mount Mcdonald, dtype: int64

Postcode    2794
Name: Bumbaldry, dtype: int64

Postcode    2794
Name: Cowra, dtype: int64

Postcode    2794
Name: Hovells Creek, dtype: int64

Postcode    2794
Name: Mount Collins, dtype: int64

Postcode    2794
Name: Noonbinna, dtype: int64

Postcode    2794
Name: Wattamondara, dtype: int64

Postcode    2794
Name: Westville, dtype: int64

Postcode    2795
Name: Abercrombie, dtype: int64

Postcode    2795
Name: Abercrombie River, dtype: int64

Postcode    2795
Name: Arkell, dtype: int64

Postcode    2795
Name: Arkstone, dtype: int64

Postcode    2795
Name: Bald Ridge, dtype: int64

Postcode    2795
Name: Ballyroe, dtype: int64

Postcode    2795
Name: Bathampton, dtype: int64

Postcode    2795
Name: Bathurst, dtype: int64

Postcode    2795
Name: Billywillinga, dtype: int64

Postcode    2795
Name: Box Ridge, dtype: int64

Postcode    2795
Name: Brewongle, dtype: int64

Postcode    2795
Name: Bruinbun, dtype: int64

Postcode    2795
Name: Burraga, dtype: int64

Postcode    2795
Name: Caloola, dtype: int64

Postcode    2795
Name: Charles Sturt University, dtype: int64

Postcode    2795
Name: Charlton, dtype: int64

Postcode    2795
Name: Clear Creek, dtype: int64

Postcode    2795
Name: Copperhannia, dtype: int64

Postcode    2795
Name: Cow Flat, dtype: int64

Postcode    2795
Name: Crudine, dtype: int64

Postcode    2795
Name: Curragh, dtype: int64

Postcode    2795
Name: Dark Corner, dtype: int64

Postcode    2795
Name: Dog Rocks, dtype: int64

Postcode    2795
Name: Dunkeld, dtype: int64

Postcode    2795
Name: Duramana, dtype: int64

Postcode    2795
Name: Eglinton, dtype: int64

Postcode    2795
Name: Essington, dtype: int64

Postcode    2795
Name: Evans Plains, dtype: int64

Postcode    2795
Name: Fitzgeralds Valley, dtype: int64

Postcode    2795
Name: Forest Grove, dtype: int64

Postcode    2795
Name: Fosters Valley, dtype: int64

Postcode    2795
Name: Freemantle, dtype: int64

Postcode    2795
Name: Gemalla, dtype: int64

Postcode    2795
Name: Georges Plains, dtype: int64

Postcode    2795
Name: Gilmandyke, dtype: int64

Postcode    2795
Name: Glanmire, dtype: int64

Postcode    2795
Name: Gormans Hill, dtype: int64

Postcode    2795
Name: Gowan, dtype: int64

Postcode    2795
Name: Hobbys Yards, dtype: int64

Postcode    2795
Name: Isabella, dtype: int64

Postcode    2795
Name: Jeremy, dtype: int64

Postcode    2795
Name: Judds Creek, dtype: int64

Postcode    2795
Name: Kelso, dtype: int64

Postcode    2795
Name: Killongbutta, dtype: int64

Postcode    2795
Name: Kirkconnell, dtype: int64

Postcode    2795
Name: Laffing Waters, dtype: int64

Postcode    2795
Name: Limekilns, dtype: int64

Postcode    2795
Name: Llanarth, dtype: int64

Postcode    2795
Name: Locksley, dtype: int64

Postcode    2795
Name: Meadow Flat, dtype: int64

Postcode    2795
Name: Milkers Flat, dtype: int64

Postcode    2795
Name: Millah Murrah, dtype: int64

Postcode    2795
Name: Mitchell, dtype: int64

Postcode    2795
Name: Moorilda, dtype: int64

Postcode    2795
Name: Mount David, dtype: int64

Postcode    2795
Name: Mount Panorama, dtype: int64

Postcode    2795
Name: Mount Rankin, dtype: int64

Postcode    2795
Name: Napoleon Reef, dtype: int64

Postcode    2795
Name: Newbridge, dtype: int64

Postcode    2795
Name: O'connell, dtype: int64

Postcode    2795
Name: Oconnell, dtype: int64

Postcode    2795
Name: Orton Park, dtype: int64

Postcode    2795
Name: Paling Yards, dtype: int64

Postcode    2795
Name: Palmers Oaky, dtype: int64

Postcode    2795
Name: Peel, dtype: int64

Postcode    2795
Name: Perthville, dtype: int64

Postcode    2795
Name: Raglan, dtype: int64

Postcode    2795
Name: Robin Hill, dtype: int64

Postcode    2795
Name: Rock Forest, dtype: int64

Postcode    2795
Name: Rockley, dtype: int64

Postcode    2795
Name: Rockley Mount, dtype: int64

Postcode    2795
Name: Sofala, dtype: int64

Postcode    2795
Name: South Bathurst, dtype: int64

Postcode    2795
Name: Stewarts Mount, dtype: int64

            Postcode
Suburb
Tambaroora      2795
Tambaroora      2850

Postcode    2795
Name: The Lagoon, dtype: int64

Postcode    2795
Name: Triangle Flat, dtype: int64

Postcode    2795
Name: Trunkey Creek, dtype: int64

Postcode    2795
Name: Turondale, dtype: int64

Postcode    2795
Name: Twenty Forests, dtype: int64

Postcode    2795
Name: Upper Turon, dtype: int64

Postcode    2795
Name: Walang, dtype: int64

Postcode    2795
Name: Wambool, dtype: int64

Postcode    2795
Name: Wattle Flat, dtype: int64

Postcode    2795
Name: Watton, dtype: int64

Postcode    2795
Name: West Bathurst, dtype: int64

Postcode    2795
Name: White Rock, dtype: int64

Postcode    2795
Name: Wiagdon, dtype: int64

Postcode    2795
Name: Wimbledon, dtype: int64

Postcode    2795
Name: Winburndale, dtype: int64

Postcode    2795
Name: Windradyne, dtype: int64

Postcode    2795
Name: Wisemans Creek, dtype: int64

Postcode    2795
Name: Yetholme, dtype: int64

Postcode    2797
Name: Garland, dtype: int64

Postcode    2798
Name: Beneree, dtype: int64

Postcode    2798
Name: Byng, dtype: int64

Postcode    2798
Name: Flyers Creek, dtype: int64

Postcode    2798
Name: Forest Reefs, dtype: int64

Postcode    2798
Name: Guyong, dtype: int64

Postcode    2798
Name: Millthorpe, dtype: int64

Postcode    2798
Name: Spring Terrace, dtype: int64

Postcode    2798
Name: Tallwood, dtype: int64

Postcode    2799
Name: Barry, dtype: int64

Postcode    2799
Name: Blayney, dtype: int64

Postcode    2799
Name: Browns Creek, dtype: int64

Postcode    2799
Name: Fitzgeralds Mount, dtype: int64

Postcode    2799
Name: Neville, dtype: int64

Postcode    2799
Name: Vittoria, dtype: int64

Postcode    2800
Name: Ammerdown, dtype: int64

Postcode    2800
Name: Belgravia, dtype: int64

Postcode    2800
Name: Bletchington, dtype: int64

Postcode    2800
Name: Bloomfield, dtype: int64

Postcode    2800
Name: Borenore, dtype: int64

Postcode    2800
Name: Bowen, dtype: int64

Postcode    2800
Name: Cadia, dtype: int64

Postcode    2800
Name: Calare, dtype: int64

Postcode    2800
Name: Canobolas, dtype: int64

Postcode    2800
Name: Cargo, dtype: int64

Postcode    2800
Name: Cheesemans Creek, dtype: int64

Postcode    2800
Name: Clergate, dtype: int64

Postcode    2800
Name: Clifton Grove, dtype: int64

Postcode    2800
Name: Cranbury, dtype: int64

Postcode    2800
Name: Cullya, dtype: int64

Postcode    2800
Name: Four Mile Creek, dtype: int64

Postcode    2800
Name: Glenroi, dtype: int64

Postcode    2800
Name: Huntley, dtype: int64

Postcode    2800
Name: Kaleentha, dtype: int64

Postcode    2800
Name: Kerrs Creek, dtype: int64

Postcode    2800
Name: Lewis Ponds, dtype: int64

Postcode    2800
Name: Lower Lewis Ponds, dtype: int64

Postcode    2800
Name: Lucknow, dtype: int64

Postcode    2800
Name: March, dtype: int64

Postcode    2800
Name: Mullion Creek, dtype: int64

Postcode    2800
Name: Narrambla, dtype: int64

Postcode    2800
Name: Nashdale, dtype: int64

Postcode    2800
Name: Ophir, dtype: int64

Postcode    2800
Name: Orange, dtype: int64

Postcode    2800
Name: Orange East, dtype: int64

Postcode    2800
Name: Panuara, dtype: int64

          Postcode
Suburb
Pinnacle      2800
Pinnacle      2810

Postcode    2800
Name: Shadforth, dtype: int64

Postcode    2800
Name: Spring Creek, dtype: int64

Postcode    2800
Name: Spring Hill, dtype: int64

Postcode    2800
Name: Springside, dtype: int64

Postcode    2800
Name: Suma Park, dtype: int64

Postcode    2800
Name: Towac, dtype: int64

Postcode    2800
Name: Warrendine, dtype: int64

Postcode    2803
Name: Bendick Murrell, dtype: int64

Postcode    2803
Name: Crowther, dtype: int64

Postcode    2803
Name: Wirrimah, dtype: int64

Postcode    2804
Name: Billimari, dtype: int64

Postcode    2804
Name: Burdett, dtype: int64

Postcode    2804
Name: Canowindra, dtype: int64

Postcode    2804
Name: Moorbel, dtype: int64

Postcode    2804
Name: Nyrang Creek, dtype: int64

Postcode    2805
Name: Gooloogong, dtype: int64

Postcode    2806
Name: Eugowra, dtype: int64

Postcode    2806
Name: Nanami, dtype: int64

Postcode    2806
Name: Trajere, dtype: int64

Postcode    2807
Name: Koorawatha, dtype: int64

Postcode    2808
Name: Wyangala, dtype: int64

Postcode    2809
Name: Greenethorpe, dtype: int64

Postcode    2810
Name: Bimbi, dtype: int64

Postcode    2810
Name: Caragabal, dtype: int64

Postcode    2810
Name: Glenelg, dtype: int64

Postcode    2810
Name: Grenfell, dtype: int64

Postcode    2810
Name: Piney Range, dtype: int64

Postcode    2810
Name: Pullabooka, dtype: int64

Postcode    2810
Name: Warraderry, dtype: int64

Postcode    2820
Name: Apsley, dtype: int64

Postcode    2820
Name: Arthurville, dtype: int64

Postcode    2820
Name: Bakers Swamp, dtype: int64

Postcode    2820
Name: Bodangora, dtype: int64

Postcode    2820
Name: Comobella, dtype: int64

Postcode    2820
Name: Curra Creek, dtype: int64

Postcode    2820
Name: Dripstone, dtype: int64

Postcode    2820
Name: Farnham, dtype: int64

Postcode    2820
Name: Gollan, dtype: int64

Postcode    2820
Name: Lake Burrendong, dtype: int64

Postcode    2820
Name: Maryvale, dtype: int64

Postcode    2820
Name: Montefiores, dtype: int64

Postcode    2820
Name: Mookerawa, dtype: int64

Postcode    2820
Name: Mount Aquila, dtype: int64

Postcode    2820
Name: Mount Arthur, dtype: int64

Postcode    2820
Name: Mumbil, dtype: int64

Postcode    2820
Name: Nanima, dtype: int64

Postcode    2820
Name: Neurea, dtype: int64

Postcode    2820
Name: North Yeoval, dtype: int64

Postcode    2820
Name: Spicers Creek, dtype: int64

Postcode    2820
Name: Stuart Town, dtype: int64

Postcode    2820
Name: Suntop, dtype: int64

Postcode    2820
Name: Walmer, dtype: int64

Postcode    2820
Name: Wellington, dtype: int64

Postcode    2820
Name: Wuuluman, dtype: int64

Postcode    2820
Name: Yarragal, dtype: int64

Postcode    2821
Name: Burroway, dtype: int64

Postcode    2821
Name: Narromine, dtype: int64

Postcode    2821
Name: Wyanga, dtype: int64

Postcode    2823
Name: Bundemar, dtype: int64

Postcode    2823
Name: Cathundral, dtype: int64

Postcode    2823
Name: Dandaloo, dtype: int64

Postcode    2823
Name: Gin Gin, dtype: int64

Postcode    2823
Name: Trangie, dtype: int64

Postcode    2824
Name: Beemunnel, dtype: int64

Postcode    2824
Name: Eenaweena, dtype: int64

Postcode    2824
Name: Marthaguy, dtype: int64

Postcode    2824
Name: Mount Foster, dtype: int64

Postcode    2824
Name: Mount Harris, dtype: int64

Postcode    2824
Name: Mumblebone Plain, dtype: int64

Postcode    2824
Name: Pigeonbah, dtype: int64

Postcode    2824
Name: Ravenswood, dtype: int64

Postcode    2824
Name: Snakes Plain, dtype: int64

Postcode    2824
Name: Tenandra, dtype: int64

Postcode    2824
Name: Warren, dtype: int64

Postcode    2825
Name: Bogan, dtype: int64

Postcode    2825
Name: Canonba, dtype: int64

Postcode    2825
Name: Miandetta, dtype: int64

Postcode    2825
Name: Mullengudgery, dtype: int64

Postcode    2825
Name: Nyngan, dtype: int64

Postcode    2825
Name: Warrigal, dtype: int64

Postcode    2827
Name: Bearbong, dtype: int64

Postcode    2827
Name: Biddon, dtype: int64

Postcode    2827
Name: Breelong, dtype: int64

Postcode    2827
Name: Collie, dtype: int64

Postcode    2827
Name: Curban, dtype: int64

Postcode    2827
Name: Gilgandra, dtype: int64

Postcode    2827
Name: Merrigal, dtype: int64

Postcode    2828
Name: Black Hollow, dtype: int64

Postcode    2828
Name: Bourbah, dtype: int64

Postcode    2828
Name: Gulargambone, dtype: int64

Postcode    2828
Name: Tonderburine, dtype: int64

Postcode    2828
Name: Warrumbungle, dtype: int64

Postcode    2829
Name: Combara, dtype: int64

Postcode    2829
Name: Conimbia, dtype: int64

Postcode    2829
Name: Coonamble, dtype: int64

Postcode    2829
Name: Gilgooma, dtype: int64

Postcode    2829
Name: Magometon, dtype: int64

Postcode    2829
Name: Teridgerie, dtype: int64

Postcode    2830
Name: Ballimore, dtype: int64

Postcode    2830
Name: Barbigal, dtype: int64

Postcode    2830
Name: Beni, dtype: int64

Postcode    2830
Name: Boothenba, dtype: int64

Postcode    2830
Name: Brocklehurst, dtype: int64

Postcode    2830
Name: Cumboogle, dtype: int64

Postcode    2830
Name: Delroy Gardens, dtype: int64

Postcode    2830
Name: Dickygundi, dtype: int64

Postcode    2830
Name: Dubbo, dtype: int64

Postcode    2830
Name: Dubbo East, dtype: int64

Postcode    2830
Name: Dubbo Grove, dtype: int64

Postcode    2830
Name: Dubbo West, dtype: int64

Postcode    2830
Name: Eschol, dtype: int64

Postcode    2830
Name: Eulomogo, dtype: int64

Postcode    2830
Name: Kickabil, dtype: int64

Postcode    2830
Name: Manera Heights, dtype: int64

Postcode    2830
Name: Minore, dtype: int64

Postcode    2830
Name: Mogriguy, dtype: int64

Postcode    2830
Name: Muronbung, dtype: int64

Postcode    2830
Name: Orana Heights, dtype: int64

Postcode    2830
Name: Rawsonville, dtype: int64

Postcode    2830
Name: Talbragar, dtype: int64

Postcode    2830
Name: Terramungamine, dtype: int64

Postcode    2830
Name: Toongi, dtype: int64

Postcode    2830
Name: Troy Junction, dtype: int64

Postcode    2830
Name: Whylandra Crossing, dtype: int64

Postcode    2831
Name: Armatree, dtype: int64

Postcode    2831
Name: Balladoran, dtype: int64

Postcode    2831
Name: Brenda, dtype: int64

Postcode    2831
Name: Bullagreen, dtype: int64

Postcode    2831
Name: Byrock, dtype: int64

Postcode    2831
Name: Carinda, dtype: int64

Postcode    2831
Name: Coolabah, dtype: int64

Postcode    2831
Name: Elong Elong, dtype: int64

Postcode    2831
Name: Eumungerie, dtype: int64

Postcode    2831
Name: Geurie, dtype: int64

Postcode    2831
Name: Girilambone, dtype: int64

Postcode    2831
Name: Goodooga, dtype: int64

Postcode    2831
Name: Hermidale, dtype: int64

Postcode    2831
Name: Merrygoen, dtype: int64

Postcode    2831
Name: Muriel, dtype: int64

Postcode    2831
Name: Neilrex, dtype: int64

Postcode    2831
Name: Nevertire, dtype: int64

Postcode    2831
Name: Nubingerie, dtype: int64

Postcode    2831
Name: Nymagee, dtype: int64

Postcode    2831
Name: Pine Clump, dtype: int64

Postcode    2831
Name: Ponto, dtype: int64

Postcode    2831
Name: Quambone, dtype: int64

Postcode    2831
Name: Terrabella, dtype: int64

Postcode    2831
Name: The Marra, dtype: int64

Postcode    2831
Name: Tooraweenah, dtype: int64

Postcode    2831
Name: Westella, dtype: int64

Postcode    2831
Name: Wongarbon, dtype: int64

Postcode    2832
Name: Angledool, dtype: int64

Postcode    2832
Name: Bulyeroi, dtype: int64

Postcode    2832
Name: Come By Chance, dtype: int64

Postcode    2832
Name: Cryon, dtype: int64

Postcode    2832
Name: Cumborah, dtype: int64

Postcode    2832
Name: Walgett, dtype: int64

Postcode    2833
Name: Collarenebri, dtype: int64

Postcode    2834
Name: Lightning Ridge, dtype: int64

Postcode    2835
Name: Bulla, dtype: int64

Postcode    2835
Name: Canbelego, dtype: int64

Postcode    2835
Name: Cobar, dtype: int64

Postcode    2835
Name: Cubba, dtype: int64

Postcode    2835
Name: Gilgunnia, dtype: int64

Postcode    2835
Name: Irymple, dtype: int64

Postcode    2835
Name: Kerrigundi, dtype: int64

Postcode    2835
Name: Kulwin, dtype: int64

Postcode    2835
Name: Noona, dtype: int64

Postcode    2835
Name: Tindarey, dtype: int64

Postcode    2836
Name: Gemville, dtype: int64

Postcode    2836
Name: White Cliffs, dtype: int64

Postcode    2836
Name: Wilcannia, dtype: int64

Postcode    2839
Name: Brewarrina, dtype: int64

Postcode    2839
Name: Gongolgon, dtype: int64

Postcode    2839
Name: Weilmoringle, dtype: int64

Postcode    2840
Name: Barringun, dtype: int64

Postcode    2840
Name: Bourke, dtype: int64

Postcode    2840
Name: Enngonia, dtype: int64

Postcode    2840
Name: Fords Bridge, dtype: int64

Postcode    2840
Name: Gunderbooka, dtype: int64

Postcode    2840
Name: Louth, dtype: int64

Postcode    2840
Name: Tilpa, dtype: int64

Postcode    2840
Name: Urisino, dtype: int64

Postcode    2840
Name: Wanaaring, dtype: int64

Postcode    2840
Name: Yantabulla, dtype: int64

Postcode    2842
Name: Mendooran, dtype: int64

Postcode    2842
Name: New Mollyan, dtype: int64

Postcode    2842
Name: Yarragrin, dtype: int64

Postcode    2843
Name: Coolah, dtype: int64

Postcode    2844
Name: Birriwa, dtype: int64

Postcode    2844
Name: Cobbora, dtype: int64

Postcode    2844
Name: Dunedoo, dtype: int64

Postcode    2844
Name: Leadville, dtype: int64

Postcode    2845
Name: Angus Place, dtype: int64

Postcode    2845
Name: Wallerawang, dtype: int64

Postcode    2846
Name: Airly, dtype: int64

Postcode    2846
Name: Capertee, dtype: int64

Postcode    2846
Name: Glen Davis, dtype: int64

Postcode    2846
Name: Kangaroo Flat, dtype: int64

Postcode    2846
Name: Round Swamp, dtype: int64

Postcode    2847
Name: Pipers Flat, dtype: int64

Postcode    2847
Name: Portland, dtype: int64

Postcode    2848
Name: Brogans Creek, dtype: int64

Postcode    2848
Name: Charbon, dtype: int64

Postcode    2848
Name: Clandulla, dtype: int64

Postcode    2848
Name: Kandos, dtype: int64

Postcode    2849
Name: Bogee, dtype: int64

Postcode    2849
Name: Breakfast Creek, dtype: int64

Postcode    2849
Name: Budden, dtype: int64

Postcode    2849
Name: Bylong, dtype: int64

Postcode    2849
Name: Camboon, dtype: int64

Postcode    2849
Name: Carwell, dtype: int64

Postcode    2849
Name: Coggan, dtype: int64

Postcode    2849
Name: Coxs Creek, dtype: int64

Postcode    2849
Name: Coxs Crown, dtype: int64

Postcode    2849
Name: Dabee, dtype: int64

Postcode    2849
Name: Dungeree, dtype: int64

Postcode    2849
Name: Dunville Loop, dtype: int64

Postcode    2849
Name: Ginghi, dtype: int64

Postcode    2849
Name: Glen Alice, dtype: int64

Postcode    2849
Name: Growee, dtype: int64

Postcode    2849
Name: Kelgoola, dtype: int64

Postcode    2849
Name: Lee Creek, dtype: int64

Postcode    2849
Name: Mount Marsden, dtype: int64

Postcode    2849
Name: Murrumbo, dtype: int64

Postcode    2849
Name: Nullo Mountain, dtype: int64

Postcode    2849
Name: Olinda, dtype: int64

Postcode    2849
Name: Pinnacle Swamp, dtype: int64

Postcode    2849
Name: Pyangle, dtype: int64

Postcode    2849
Name: Rylstone, dtype: int64

Postcode    2849
Name: Upper Bylong, dtype: int64

Postcode    2849
Name: Upper Growee, dtype: int64

Postcode    2849
Name: Upper Nile, dtype: int64

Postcode    2849
Name: Wirraba, dtype: int64

Postcode    2850
Name: Aarons Pass, dtype: int64

Postcode    2850
Name: Apple Tree Flat, dtype: int64

Postcode    2850
Name: Avisford, dtype: int64

Postcode    2850
Name: Bara, dtype: int64

Postcode    2850
Name: Barigan, dtype: int64

Postcode    2850
Name: Ben Buckley, dtype: int64

Postcode    2850
Name: Bocoble, dtype: int64

Postcode    2850
Name: Bombira, dtype: int64

Postcode    2850
Name: Botobolar, dtype: int64

Postcode    2850
Name: Buckaroo, dtype: int64

Postcode    2850
Name: Budgee Budgee, dtype: int64

Postcode    2850
Name: Burrundulla, dtype: int64

Postcode    2850
Name: Caerleon, dtype: int64

Postcode    2850
Name: Canadian Lead, dtype: int64

Postcode    2850
Name: Carcalgong, dtype: int64

Postcode    2850
Name: Collingwood, dtype: int64

Postcode    2850
Name: Cooks Gap, dtype: int64

Postcode    2850
Name: Cooyal, dtype: int64

Postcode    2850
Name: Cross Roads, dtype: int64

Postcode    2850
Name: Cudgegong, dtype: int64

Postcode    2850
Name: Cullenbone, dtype: int64

Postcode    2850
Name: Cumbo, dtype: int64

Postcode    2850
Name: Erudgere, dtype: int64

Postcode    2850
Name: Eurunderee, dtype: int64

Postcode    2850
Name: Frog Rock, dtype: int64

Postcode    2850
Name: Galambine, dtype: int64

Postcode    2850
Name: Glen Ayr, dtype: int64

Postcode    2850
Name: Grattai, dtype: int64

Postcode    2850
Name: Green Gully, dtype: int64

Postcode    2850
Name: Gulgamree, dtype: int64

Postcode    2850
Name: Hargraves, dtype: int64

Postcode    2850
Name: Havilah, dtype: int64

Postcode    2850
Name: Hayes Gap, dtype: int64

Postcode    2850
Name: Hill End, dtype: int64

Postcode    2850
Name: Home Rule, dtype: int64

Postcode    2850
Name: Ilford, dtype: int64

Postcode    2850
Name: Kains Flat, dtype: int64

Postcode    2850
Name: Linburn, dtype: int64

Postcode    2850
Name: Long Creek, dtype: int64

Postcode    2850
Name: Lue, dtype: int64

Postcode    2850
Name: Maitland Bar, dtype: int64

Postcode    2850
Name: Menah, dtype: int64

Postcode    2850
Name: Meroo, dtype: int64

Postcode    2850
Name: Millsville, dtype: int64

Postcode    2850
Name: Monivae, dtype: int64

Postcode    2850
Name: Moolarben, dtype: int64

Postcode    2850
Name: Mount Frome, dtype: int64

Postcode    2850
Name: Mount Knowles, dtype: int64

Postcode    2850
Name: Mudgee, dtype: int64

Postcode    2850
Name: Mullamuddy, dtype: int64

Postcode    2850
Name: Munghorn, dtype: int64

Postcode    2850
Name: Murragamba, dtype: int64

Postcode    2850
Name: Piambong, dtype: int64

Postcode    2850
Name: Putta Bucca, dtype: int64

Postcode    2850
Name: Pyramul, dtype: int64

Postcode    2850
Name: Queens Pinch, dtype: int64

Postcode    2850
Name: Riverlea, dtype: int64

Postcode    2850
Name: Running Stream, dtype: int64

Postcode    2850
Name: Sallys Flat, dtype: int64

Postcode    2850
Name: Spring Flat, dtype: int64

Postcode    2850
Name: St Fillans, dtype: int64

Postcode    2850
Name: Tichular, dtype: int64

Postcode    2850
Name: Totnes Valley, dtype: int64

Postcode    2850
Name: Triamble, dtype: int64

Postcode    2850
Name: Turill, dtype: int64

Postcode    2850
Name: Twelve Mile, dtype: int64

Postcode    2850
Name: Ulan, dtype: int64

Postcode    2850
Name: Ullamalla, dtype: int64

Postcode    2850
Name: Wilbetree, dtype: int64

Postcode    2850
Name: Wilpinjong, dtype: int64

Postcode    2850
Name: Windeyer, dtype: int64

Postcode    2850
Name: Wollar, dtype: int64

Postcode    2850
Name: Worlds End, dtype: int64

Postcode    2850
Name: Yarrabin, dtype: int64

Postcode    2850
Name: Yarrawonga, dtype: int64

Postcode    2852
Name: Barneys Reef, dtype: int64

Postcode    2852
Name: Beryl, dtype: int64

Postcode    2852
Name: Biraganbil, dtype: int64

Postcode    2852
Name: Bungaba, dtype: int64

Postcode    2852
Name: Cope, dtype: int64

Postcode    2852
Name: Cumbandry, dtype: int64

Postcode    2852
Name: Goolma, dtype: int64

Postcode    2852
Name: Gulgong, dtype: int64

Postcode    2852
Name: Mebul, dtype: int64

Postcode    2852
Name: Merotherie, dtype: int64

Postcode    2852
Name: Stubbo, dtype: int64

Postcode    2852
Name: Tallawang, dtype: int64

Postcode    2852
Name: Two Mile Flat, dtype: int64

Postcode    2864
Name: Bowan Park, dtype: int64

Postcode    2864
Name: Cudal, dtype: int64

Postcode    2864
Name: Murga, dtype: int64

Postcode    2864
Name: Toogong, dtype: int64

Postcode    2865
Name: Gumble, dtype: int64

Postcode    2865
Name: Manildra, dtype: int64

Postcode    2866
Name: Amaroo, dtype: int64

Postcode    2866
Name: Boomey, dtype: int64

Postcode    2866
Name: Cundumbul, dtype: int64

Postcode    2866
Name: Euchareena, dtype: int64

Postcode    2866
Name: Garra, dtype: int64

Postcode    2866
Name: Larras Lee, dtype: int64

Postcode    2866
Name: Molong, dtype: int64

Postcode    2866
Name: The Shades, dtype: int64

Postcode    2866
Name: Warnecliffe, dtype: int64

Postcode    2867
Name: Baldry, dtype: int64

Postcode    2867
Name: Cumnock, dtype: int64

Postcode    2867
Name: Eurimbula, dtype: int64

Postcode    2867
Name: Yullundry, dtype: int64

Postcode    2868
Name: Bournewood, dtype: int64

Postcode    2868
Name: Obley, dtype: int64

Postcode    2868
Name: Yeoval, dtype: int64

Postcode    2869
Name: Mungery, dtype: int64

Postcode    2869
Name: Peak Hill, dtype: int64

Postcode    2869
Name: Tomingley, dtype: int64

Postcode    2869
Name: Trewilga, dtype: int64

Postcode    2870
Name: Alectown, dtype: int64

Postcode    2870
Name: Beargamil, dtype: int64

Postcode    2870
Name: Bindogundra, dtype: int64

Postcode    2870
Name: Brolgan, dtype: int64

Postcode    2870
Name: Bumberry, dtype: int64

Postcode    2870
Name: Cookamidgera, dtype: int64

Postcode    2870
Name: Cooks Myalls, dtype: int64

Postcode    2870
Name: Daroobalgie, dtype: int64

Postcode    2870
Name: Goobang, dtype: int64

Postcode    2870
Name: Goonumbla, dtype: int64

Postcode    2870
Name: Kadina, dtype: int64

Postcode    2870
Name: Mandagery, dtype: int64

Postcode    2870
Name: Mickibri, dtype: int64

Postcode    2870
Name: Mugincoble, dtype: int64

Postcode    2870
Name: Nanardine, dtype: int64

Postcode    2870
Name: Parkes, dtype: int64

Postcode    2870
Name: Parkesborough, dtype: int64

Postcode    2870
Name: Shallow Rush, dtype: int64

Postcode    2870
Name: Tichborne, dtype: int64

Postcode    2871
Name: Bandon, dtype: int64

Postcode    2871
Name: Bedgerebong, dtype: int64

Postcode    2871
Name: Bundaburrah, dtype: int64

Postcode    2871
Name: Calarie, dtype: int64

Postcode    2871
Name: Carrawabbity, dtype: int64

Postcode    2871
Name: Corinella, dtype: int64

Postcode    2871
Name: Cumbijowa, dtype: int64

Postcode    2871
Name: Fairholme, dtype: int64

Postcode    2871
Name: Forbes, dtype: int64

Postcode    2871
Name: Garema, dtype: int64

Postcode    2871
Name: Grawlin, dtype: int64

Postcode    2871
Name: Gunning Gap, dtype: int64

Postcode    2871
Name: Jemalong, dtype: int64

Postcode    2871
Name: Mulyandry, dtype: int64

Postcode    2871
Name: Ooma, dtype: int64

Postcode    2871
Name: Warroo, dtype: int64

Postcode    2871
Name: Weelong, dtype: int64

Postcode    2871
Name: Wirrinya, dtype: int64

Postcode    2871
Name: Yarragong, dtype: int64

Postcode    2873
Name: Albert, dtype: int64

Postcode    2873
Name: Lansdale, dtype: int64

Postcode    2873
Name: Tottenham, dtype: int64

Postcode    2874
Name: Tullamore, dtype: int64

Postcode    2874
Name: Yethera, dtype: int64

Postcode    2875
Name: Bruie Plains, dtype: int64

Postcode    2875
Name: Fifield, dtype: int64

Postcode    2875
Name: Ootha, dtype: int64

Postcode    2875
Name: The Troffs, dtype: int64

Postcode    2875
Name: Trundle, dtype: int64

Postcode    2875
Name: Yarrabandai, dtype: int64

Postcode    2876
Name: Bogan Gate, dtype: int64

Postcode    2876
Name: Botfields, dtype: int64

Postcode    2876
Name: Gunningbland, dtype: int64

Postcode    2876
Name: Nelungaloo, dtype: int64

Postcode    2877
Name: Condobolin, dtype: int64

Postcode    2877
Name: Derriwong, dtype: int64

Postcode    2877
Name: Eremerang, dtype: int64

Postcode    2877
Name: Euabalong, dtype: int64

Postcode    2877
Name: Euabalong West, dtype: int64

Postcode    2877
Name: Kiacatoo, dtype: int64

Postcode    2877
Name: Milby, dtype: int64

Postcode    2877
Name: Mount Hope, dtype: int64

Postcode    2877
Name: Mulguthrie, dtype: int64

Postcode    2878
Name: Beilpajah, dtype: int64

Postcode    2878
Name: Conoble, dtype: int64

Postcode    2878
Name: Ivanhoe, dtype: int64

Postcode    2878
Name: Manara, dtype: int64

Postcode    2878
Name: Mossgiel, dtype: int64

Postcode    2878
Name: Trida, dtype: int64

Postcode    2879
Name: Copi Hollow, dtype: int64

Postcode    2879
Name: Menindee, dtype: int64

Postcode    2880
Name: Broken Hill, dtype: int64

Postcode    2880
Name: Broken Hill North, dtype: int64

Postcode    2880
Name: Broken Hill South, dtype: int64

Postcode    2880
Name: Broken Hill West, dtype: int64

Postcode    2880
Name: Burns, dtype: int64

Postcode    2880
Name: Cameron Corner, dtype: int64

Postcode    2880
Name: Euriowie, dtype: int64

Postcode    2880
Name: Kinalung, dtype: int64

Postcode    2880
Name: Little Topar, dtype: int64

Postcode    2880
Name: Mount Gipps, dtype: int64

Postcode    2880
Name: Silverton, dtype: int64

Postcode    2880
Name: Stephens Creek, dtype: int64

Postcode    2880
Name: Tibooburra, dtype: int64

Postcode    2890
Name: Australian Defence Forces, dtype: int64

Postcode    2891
Name: Sydney Gateway Facility, dtype: int64

Postcode    2898
Name: Lord Howe Island, dtype: int64

Postcode    2899
Name: Norfolk Island, dtype: int64

Postcode    3586
Name: Mallan, dtype: int64

Postcode    3586
Name: Murrawee, dtype: int64

Postcode    3586
Name: Murraydale, dtype: int64

Postcode    3586
Name: Pental Island, dtype: int64

Postcode    3586
Name: Tyntynder, dtype: int64

Postcode    3586
Name: Tyntynder South, dtype: int64

Postcode    3586
Name: Ultima East, dtype: int64

Postcode    3644
Name: Barooga, dtype: int64

Postcode    3644
Name: Cobram, dtype: int64

Postcode    3644
Name: Cobram East, dtype: int64

Postcode    3644
Name: Koonoomoo, dtype: int64

Postcode    3644
Name: Muckatah, dtype: int64

Postcode    3644
Name: Yarroweyah, dtype: int64

Postcode    3707
Name: Biggara, dtype: int64

Postcode    3707
Name: Bringenbrong, dtype: int64

Postcode    3707
Name: Colac Colac, dtype: int64

Postcode    3707
Name: Corryong, dtype: int64

Postcode    3707
Name: Thowgla Valley, dtype: int64

Postcode    3707
Name: Towong, dtype: int64

Postcode    3707
Name: Towong Upper, dtype: int64

In [17]:
#housing data with bedrooms, houseCategories, timeperiods length
def get_property_info(suburb,postcode):
    response = requests.post(auth_url2,
        data = {
        'client_id':client_id,
        'client_secret':client_secret,
        'grant_type':'client_credentials',
        'scope': scopes,
        'Content-Type':'text/json'}
        )
    json_res = response.json()
    access_token=json_res["access_token"]
    print(access_token)
    auth = {'Authorization':'Bearer '+access_token}
    
    url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/{suburb}/{postcode}/?totalPeriods=40'

    res2 = requests.get(url_detailed,headers = auth)
    try:
        r2=res2.json()

        json_object =json.dumps(r2,indent=4)
        json.dumps(r2,indent=4)
        
        if "header" in json.loads(json_object).keys():

            with open("./resources/{}_{}.json".format(postcode,suburb),"w") as outfile:
                outfile.write(json_object)
                
            print('Success', suburb, postcode, access_token)
        else: 
            print(f'Data inadequate')
            
    except Exception as e:
        print('Failure in ', suburb, postcode, e, access_token)
        pass

# get_property_info()

In [ ]:
# #This is just a sample test dict of suburbs to checkout dataframe
# list_suburbs={"Randwick":2031,
#              "Paddington":2021,
#              "Zetland":2017,
#              "Lane Cove":2066,
#              "Artarmon":2064,
#               "St Leonards":2065,
#               "Mosman":2088,
#               "Pymble":2073,
#               "Frenchs Forest":2086,
#               "Epping":2121,
#               "Pennant Hills":2120,
#               "Baulkham Hills":2153,
#               "Castle Hill":2154,
#               "Kellyville":2155,
#               "Hornsby":2077,
#               "Campbelltown": 2560,
#               "Mount Annan": 2567,
#               "Bradbury": 2560,
#               "Leumeah": 2560,
#               "Rosemeadow": 2560,
#               "Spring Farm": 2570,
#               "Kurnell": 2231,
#               "Menangle Park": 2563,
#               "Cronulla": 2230,
#               "Woolooware": 2230,
#               "Burraneer": 2230,
#               "Caringbah": 2229,
#               "Gilead": 2560,
#               "Mulgoa": 2745,
#               "Taren Point": 2229,
#               "Sylvania": 2224,
#               "Alstonville":2477,
#               "Ballina":2478,
#               "Banora Point":2486,
#               "Broadwater":2472,
#               "Brunswick Heads":2483,
#               "Byron Bay":2481,
#               "Cabarita Beach":2488,
#               "Casino":2470,
#               "Casuarina":2487,
#               "Chinderah":2487,
#               "Evans Head":2473,
#               "Iluka":2466,
#               "Kingscliff":2487,
#               "Kyogle":2474,
#               "Lennox Head":2478,
#               "Murwillumbah":2484,
#               "Ocean Shores":2483,
#               "Pottsville":2489,
#               "Woodburn":2472,
#               "Yamba":2464 
#               }
# for suburb,postcode in list_suburbs.items():
# #     print(f"getting data for {suburb},{postcode}")
#     get_property_info(suburb, postcode)

In [ ]:
#to open json file saved in previous step & convert to dataframe & combine all dataframe into a master dataframe
df = pd.DataFrame()
frames= []
for suburb, postcode in list_suburbs.items(): 
    with open("./resources/{}_{}.json".format(postcode,suburb),"r") as sub_housing_data:
        sub_housing_data=json.load(sub_housing_data)
        suburb_name=sub_housing_data['header']['suburb']
        
    for x in range (40):
        
        headers_dict1=sub_housing_data['series']['seriesInfo'][x]['values']
        headers_dict1["year"]=sub_housing_data['series']['seriesInfo'][x]["year"]
        headers_dict1["month"]=sub_housing_data['series']['seriesInfo'][x]["month"]
        sub_df1 = pd.DataFrame(headers_dict1.values(),index=headers_dict1.keys(),columns=[suburb_name]).T
      
        sub_df1 = sub_df1.reset_index().drop(columns=["auctionNumberWithdrawn","daysOnMarket","discountPercentage",
                                                      "5thPercentileSoldPrice","25thPercentileSoldPrice",
                                                      "75thPercentileSoldPrice","95thPercentileSoldPrice",
                                                      "numberRentListing","highestRentListingPrice","lowestRentListingPrice"]).rename(columns={"index":"suburb"})
        frames.append(sub_df1)
        df = pd.concat(frames)

In [ ]:
df.columns

In [ ]:
df = df[['year', 'month','suburb', 'medianSoldPrice', 'numberSold', 'highestSoldPrice',
       'lowestSoldPrice', 'medianSaleListingPrice', 'numberSaleListing',
       'highestSaleListingPrice', 'lowestSaleListingPrice',
       'auctionNumberAuctioned', 'auctionNumberSold', 'medianRentListingPrice',
       ]]

In [ ]:
df.sample(10)

In [ ]:
df.to_csv('data.csv',index=False)

In [ ]:
#to clean dataset eg fillna(mean)