# NSW Domain csv Cleaner

## Import libraries and dependencies

In [22]:
# Import the pandas and pathlib libraries
import pandas as pd
from pathlib import Path
import numpy as np
import os

## Create a Path to the File Using Pathlib & Read it into a Pandas DataFrame

In [23]:
# Use the Pathlib libary to set the path to the CSV
# csv_path = Path("Resources/data.csv")
# csv_path = Path("Resources/data_25082021.csv")
# csv_path = Path("datav2_23082021.csv")
csv_path = Path("data_25082021_3.csv")

# Use the file path to read the CSV into a DataFrame and display a few rows
df = pd.read_csv(csv_path)
df

,year,month,suburb,medianSoldPrice,numberSold,highestSoldPrice,lowestSoldPrice,medianSaleListingPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice
0,2011.0,9.0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011.0,12.0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012.0,3.0,Huntingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012.0,6.0,Huntingwood,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,2012.0,9.0,Huntingwood,NaN,NaN,NaN,NaN,NaN,1.0,5500000.0,5500000.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2020.0,6.0,Bombo,NaN,2.0,1385000.0,870000.0,NaN,3.0,1350000.0,900000.0,1.0,NaN,NaN
2996,2020.0,9.0,Bombo,NaN,3.0,1385000.0,940000.0,NaN,5.0,1350000.0,900000.0,NaN,NaN,NaN
2997,2020.0,12.0,Bombo,NaN,1.0,1475000.0,1475000.0,NaN,1.0,1250000.0,1250000.0,NaN,NaN,NaN
2998,2021.0,3.0,Bombo,NaN,2.0,1650000.0,950000.0,NaN,1.0,1650000.0,1650000.0,NaN,NaN,NaN
2999,2021.0,6.0,Bombo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Analyse DataFrame

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     3000 non-null   float64
 1   month                    3000 non-null   float64
 2   suburb                   3000 non-null   object
 3   medianSoldPrice          602 non-null    float64
 4   numberSold               1102 non-null   float64
 5   highestSoldPrice         1095 non-null   float64
 6   lowestSoldPrice          1088 non-null   float64
 7   medianSaleListingPrice   718 non-null    float64
 8   numberSaleListing        1636 non-null   float64
 9   highestSaleListingPrice  1620 non-null   float64
 10  lowestSaleListingPrice   1622 non-null   float64
 11  auctionNumberAuctioned   667 non-null    float64
 12  auctionNumberSold        566 non-null    float64
 13  medianRentListingPrice   701 non-null    float64
dtypes: float64(13), object(1)
memory usage: 328.2+ KB

In [25]:
df.isnull().sum()

year                          0
month                         0
suburb                        0
medianSoldPrice            2398
numberSold                 1898
highestSoldPrice           1905
lowestSoldPrice            1912
medianSaleListingPrice     2282
numberSaleListing          1364
highestSaleListingPrice    1380
lowestSaleListingPrice     1378
auctionNumberAuctioned     2333
auctionNumberSold          2434
medianRentListingPrice     2299
dtype: int64

In [26]:
df.month.unique()

array([ 9., 12.,  3.,  6.])

In [27]:
df['medianSoldPrice'][0]

nan

In [50]:
df = df.fillna('NaN')

3000

In [29]:
list_sub = []
for i in range(len(df)):
    if df['medianSoldPrice'][i] == 'NaN':
        list_sub.append(df['suburb'][i])

In [30]:
value_list = list(set(list_sub))
value_list

['Blair Athol',
 'Martins Creek',
 'Woolooma',
 'Frederickton',
 'South Gundurimba',
 'Mascot',
 'Sun Valley',
 'Budden',
 'Murrami',
 'Primrose Valley',
 'Indi',
 'Arkstone',
 'South Maitland',
 'Pooncarie',
 'Forest Grove',
 'Murrumburrah',
 'Carrabolla',
 'Swanbrook',
 'Bowman Farm',
 'Ladysmith',
 'Wambool',
 'Nundle',
 'Bombo',
 'Huntingwood',
 'Fords Bridge',
 'Mount Wilson',
 'Grassy Head',
 'Pyangle',
 'Silverwater',
 'Kundle Kundle',
 'Nulkaba',
 'Horsley Park',
 'Chilcotts Grass',
 'Maroota',
 'Brighton-le-sands',
 'Ournie',
 'Carcalgong',
 'Waterloo',
 'Doyalson',
 'Thredbo',
 'Bigga',
 'Hillston',
 'Cambewarra',
 'Quidong',
 'Wean',
 'Ironbark',
 'Lowesdale',
 'Bland',
 'Bulahdelah',
 'Euabalong West',
 'Box Hill',
 'Worrowing Heights',
 'Sapphire',
 'Holbrook',
 'Urangeline East',
 'Bungonia',
 'Moonee Beach',
 'Bundella',
 'Teven',
 'Bungwahl',
 'Canonba',
 'Coila',
 'Yannergee']

In [31]:
bool_val = ~df.suburb.isin(value_list)

In [32]:
df2 = df[bool_val]

In [33]:
df2['suburb'].value_counts()

Woy Woy             40
Allambie Heights    40
Shortland           40
Quakers Hill        40
Yagoona             40
Edgeworth           40
Bathurst            40
Fairfield West      40
Marsfield           40
Merewether          40
Kingscliff          40
Alexandria          40
Name: suburb, dtype: int64

In [34]:
df2 = df2.replace('NaN',np.nan)

In [35]:
df2.isnull().sum()

year                        0
month                       0
suburb                      0
medianSoldPrice             0
numberSold                  0
highestSoldPrice            0
lowestSoldPrice             6
medianSaleListingPrice     12
numberSaleListing           0
highestSaleListingPrice     3
lowestSaleListingPrice      0
auctionNumberAuctioned     49
auctionNumberSold          73
medianRentListingPrice      1
dtype: int64

In [36]:
# Check no nulls
# df2[df2['suburb'] == 'Rock Flat']

In [37]:
df2.drop(['lowestSoldPrice','medianSaleListingPrice'], axis=1, inplace=True)

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 240 to 2639
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     480 non-null    float64
 1   month                    480 non-null    float64
 2   suburb                   480 non-null    object
 3   medianSoldPrice          480 non-null    float64
 4   numberSold               480 non-null    float64
 5   highestSoldPrice         480 non-null    float64
 6   numberSaleListing        480 non-null    float64
 7   highestSaleListingPrice  477 non-null    float64
 8   lowestSaleListingPrice   480 non-null    float64
 9   auctionNumberAuctioned   431 non-null    float64
 10  auctionNumberSold        407 non-null    float64
 11  medianRentListingPrice   479 non-null    float64
dtypes: float64(11), object(1)
memory usage: 48.8+ KB

## Write DataFrame to csv

In [39]:
# df2.to_csv("Resources/clean_suburbs_1.csv", index=False)
# df2.to_csv("Resources/clean_suburbs_2.csv", index=False)
# df2.to_csv("Resources/clean_suburbs_3.csv", index=False)
# df2.to_csv("Resources/clean_suburbs_4.csv", index=False)
# df2.to_csv("Resources/clean_suburbs_5.csv", index=False)

## Concatenate Exported csv files into one DataFrame

In [40]:
# clean_suburbs_all_2=open("clean_suburbs_all_2.csv","a")
# # first file:
# for line in open("Resources/clean_suburbs_1.csv"):
#     clean_suburbs_all_2.write(line)
# # now the rest:    
# for num in range(2,6):
#     f = open("Resources/clean_suburbs_"+str(num)+".csv")
#     f.next() # skip the header
#     for line in f:
#          clean_suburbs_all_2.write(line)
# #     f.close() # not really needed
# clean_suburbs_all_2.close()

import os
folder='Resources/'
dfs=[]
new_df=pd.DataFrame()
for file in os.listdir(folder):
    if 'clean_' in file:
        data=pd.read_csv(folder+file)
        dfs.append(data)
        

new_df=pd.concat(dfs)
new_df

,year,month,suburb,medianSoldPrice,numberSold,highestSoldPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice
0,2011.0,8.0,Randwick,1422000.0,40.0,5450000.0,81.0,8000000.0,775000.0,32.0,20.0,950.0
1,2011.0,11.0,Randwick,1417000.0,49.0,3660000.0,97.0,6000000.0,700000.0,47.0,23.0,880.0
2,2012.0,2.0,Randwick,1520000.0,24.0,6200000.0,62.0,5850000.0,570000.0,10.0,5.0,975.0
3,2012.0,5.0,Randwick,1555000.0,44.0,3325000.0,77.0,3590000.0,570000.0,30.0,17.0,850.0
4,2012.0,8.0,Randwick,1385000.0,27.0,3050000.0,57.0,4250000.0,650000.0,19.0,11.0,825.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2115,2020.0,6.0,Woy Woy,630000.0,46.0,1100000.0,159.0,1750000.0,350000.0,8.0,3.0,415.0
2116,2020.0,9.0,Woy Woy,645000.0,67.0,2000000.0,118.0,1600000.0,375000.0,8.0,4.0,410.0
2117,2020.0,12.0,Woy Woy,660000.0,68.0,1510000.0,103.0,4500000.0,60000.0,7.0,4.0,450.0
2118,2021.0,3.0,Woy Woy,750000.0,80.0,1710000.0,97.0,4500000.0,60000.0,8.0,6.0,450.0
2119,2021.0,6.0,Woy Woy,841000.0,60.0,1950000.0,84.0,4500000.0,475000.0,12.0,6.0,470.0

In [49]:
# combine year and month columns
# ym = new_df['year']+['month']
# ym = pd.to_date(new_df["year"])
# new_df.date = pd.to_datetime(new_df['month'].date)
# new_df['month'] = pd.PeriodIndex(df.date, freq='Q')

ym = pd.to_datetime(new_df['year'])
# ym['date'] = pd.PeriodIndex(ym['date'] ,freq='Q')
ym

0      1970-01-01 00:00:00.000002011
1      1970-01-01 00:00:00.000002011
2      1970-01-01 00:00:00.000002012
3      1970-01-01 00:00:00.000002012
4      1970-01-01 00:00:00.000002012
                    ...
2115   1970-01-01 00:00:00.000002020
2116   1970-01-01 00:00:00.000002020
2117   1970-01-01 00:00:00.000002020
2118   1970-01-01 00:00:00.000002021
2119   1970-01-01 00:00:00.000002021
Name: year, Length: 4240, dtype: datetime64[ns]

In [ ]:
new_df.dtypes

## Write New DataFrame to csv

In [ ]:
# new_df.to_csv("Resources/clean_suburbs_53.csv", index=False)

---

## 1. Cleanse Columns

### i. Rename Columns

In [ ]:
# df.columns

In [ ]:
# columns = ['Year', 'Month', 'Suburb', 'Median_Sale_Price', 'Number_Sold',
#        'Highest_Sold_Price', 'Lowest_Sold_Price', 'Median_Sale_Listing_Price',
#        'Number_Sale_Listing', 'Highest_Sale_Listing_Price',
#        'Lowest_Sale_Listing_Price', 'Auction_Number', 'Auction_Sold',
#        'Median_Rent_Listing_Price']
# df.columns = columns

# df.head()

### ii. Re-order Columns

In [ ]:
# df.columns

In [ ]:
# df = df[['Suburb', 'Year', 'Month', 'Median_Sale_Price', 'Number_Sold',
#        'Highest_Sold_Price', 'Lowest_Sold_Price', 'Median_Sale_Listing_Price',
#        'Number_Sale_Listing', 'Highest_Sale_Listing_Price',
#        'Lowest_Sale_Listing_Price', 'Auction_Number', 'Auction_Sold',
#        'Median_Rent_Listing_Price']]

# df.head()

### iii. View Column Data Types

In [ ]:
# Use the `dtypes` attribute to list the column data types

# df.dtypes

### iv. Drop Extraneous Columns

In [ ]:
# Use the `drop` function to drop specific columns

# df.drop(columns=['column_name'], inplace=True)
# df.head()

---

## 2. Identify Data Quality Issues

### i. Identify the Number of Rows

In [ ]:
# Use the `count` function to view count of non-null values for each column

df.count()

### ii. Identify Frequency Counts of a Specific Column

In [ ]:
# Identifying frequency counts of the `column_name` column

# df['column_name'].value_counts()
# df.isna()
# # df[df.isna()]

# df=df.dropna(subset=["Number_Sold"])
# df[df['Suburb']== "St Leonards"]

### iii. Identify Null Values

In [ ]:
# Checking for null
# df.isnull()

# False==0

### iv. Determine the Number of Nulls

In [ ]:
# Determining number of nulls

# df.isnull().sum()

### v. Determining the Percentage of Nulls for each Column

In [ ]:
# Determining percentage of nulls

# df.isnull().sum() / len(df) * 100

### vi. Check for Duplicate Rows

In [ ]:
# Use the `duplicated` function to determine the existance of duplicate rows: True or False

# df.duplicated()

### vii. Check for Duplicate `column_name` Values

In [ ]:
# Use the `duplicated` function in conjunction with a list of columns to determine the existence of duplicate rows based on the selected columns

# df[['column_name', 'column2_name']].duplicated()

---

## 3. Resolve Data Quality Issues

### Decide what to do with Nulls, options: fillna, dropna,

### i. Fill column_name and column_name2 Null Values with Default Value "new_value_name"

In [ ]:
# Cleanse nulls from DataFrame by filling nulls

# df['column_name'] = df['column_name'].fillna("new_value_name")
# df['column_name2'] = people_df['column_name2'].fillna("new_value_name")
# df

### ii. Drop Remaining Records with Nulls from DataFrame

In [ ]:
# Use the `dropna` function to drop whole records that have at least one null value

# df.dropna(inplace=True)
# df

### iii. Check Null Counts for Each Column (Again)

In [ ]:
# Use the `isnull` function in conjunction with the `sum` function to count the number of null values for each column

# df.isnull().sum()

### iv. Cleanse data by Dropping Duplicates

In [ ]:
# Use the `drop_duplicates` function with the `subset` parameter to drop duplicates based on a selection of columns

# df.drop_duplicates(subset=['column_name', 'column_name2'])

### v. Convert Columns to Different DataTypes

In [ ]:
# Use the `as_type` function to convert `column_name` from `float` to `int` for example

# df['column_name'] = df['column_name'].astype('int')
# df

---

# 4. Save Cleansed Data to New CSV

In [ ]:
# Save modified DataFrame to the Resources folder. Use the `index` parameter set to `False` to exclude saving the index.

# df.to_csv("../Resources/df_cleansed.csv", index=False)